<div>
  <h5 class="bold">היזונים</h5>
  <div class="container-fluid pr-0">
    <header>
      <div id="mainMenu">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <ng-container *ngFor="let link of headers">
                <li class="nav-item"  [ngClass]="{ 'active-i': link.url === activeUrl }">
                  <a class="menu-link" [routerLink]="[link.url]"  [queryParams]="{'processId':processDataService.activeProcess.processID}">
                    <p>{{ link.label }}</p>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
