<span class="grey-color f-12">{{ curDate | date: 'dd/MM/yy HH:mm ' }}</span>
<p class="h5 bold mt-5">יצירת משימה חדשה</p>
<form class="mt-3">
  <mat-form-field>
    <input matInput placeholder="נושא המשימה" name="subject">
  </mat-form-field>
  <p class="grey-color f-12">בחר סטטוס</p>
  <div class="d-flex status status-bar">
    <div class="active" (click)="setStage(1)" [ngClass]="{'first-next-active': stage > 1}">טרם בוצע</div>
    <div class="pointer" (click)="setStage(2)" [ngClass]="{'middle-active': stage === 2}">בטיפול</div>
    <div class="pointer" (click)="setStage(3)">טופל</div>
  </div>
</form>
