<div class="d-flex">
  <span class="grey-color f-12 w-100">{{ curDate | date: 'dd/MM/yy HH:mm '}}</span>
  <i class="fa fa-close pointer" (click)="close()"></i>
</div>
<p class="h5 bold mt-5">יצירת משימה חדשה</p>
<form #form="ngForm" (ngSubmit)="createNewTask(form)" class="mt-3">
  <mat-form-field>
    <input matInput placeholder="נושא המשימה" ngModel name="subject" required>
    <mat-error>שדה חובה</mat-error>
  </mat-form-field>
  <p class="grey-color f-14">בחר סטטוס</p>
  <div class="d-flex status status-bar">
    <div class="pointer" (click)="stage = 1;" [ngClass]="{'active': stage === 1}">טרם בוצע</div>
    <div class="pointer" (click)="stage = 2;" [ngClass]="{'active': stage === 2}">בטיפול</div>
    <div class="pointer" (click)="stage = 3;" [ngClass]="{'active': stage === 3}">טופל</div>
  </div>

  <div  class=" mt-5">
    <!--<mat-form-field>-->
      <!--<mat-select matInput placeholder="יוצר המשימה" [(ngModel)]="operator" name="executive" required>-->
        <!--<mat-option *ngFor="let operator of operators" [value]="operator.id">-->
          <!--{{operator.name}}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
      <!--<mat-error>שדה חובה</mat-error>-->
    <!--</mat-form-field>-->
    <mat-form-field>
      <mat-select matInput placeholder="עובד משוייך" [(ngModel)]="employee" name="employee">
        <mat-option *ngFor="let employee of operators" [value]="employee.id">
          {{employee.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <p class="grey-color f-14">לביצוע עד</p>
    <div class="d-flex">
      <div>
        <mat-form-field class="date-picker">
          <input matInput ngModel [matDatepicker]="date" name="date" placeholder="תאריך">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="mr-5">
        <mat-form-field>
          <input matInput ngModel placeholder="בשעה" name="hour">
        </mat-form-field>
      </div>
    </div>
  </div>
  <p class="grey-color f-14">תיאור המשימה</p>
  <textarea class="form-control"  placeholder="הוספת תיאור" ngModel name="description"></textarea>
  <mat-form-field class="w-100 mt-5">
    <input matInput  placeholder="הוספת הערה" ngModel name="comment">
  </mat-form-field>
  <div class="mt-4 text-center">
    <button type="submit" class="btn blue-btn">יצירה</button>
  </div>
</form>
