.status-bar {
  border: 1px solid #b3b3b3;
  border-radius: 15px;
}

.status > div {
  width: 34%;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  vertical-align: middle;
  padding: 3px;

}

.active {
  background-color: #00ADEE;
  color: #ffffff;
}

.date-picker {
  width: 180px;
}


