<div class="mb-2 d-flex justify-content-between align-items-center grey-text pointer">
	<span class="ml-1 grey-text" *ngIf="showFilters === 'inactive'" (click)="setFilters()">סינון מורחב
    <i [@rotate]="showFilters" class="fa fa-chevron-left pointer" aria-hidden="true" (click)="setFilters()"></i>
  </span>
	<span class="grey-text" (click)="reset()" *ngIf="showFilters === 'active'"> נקה
    <i [@rotate]="showFilters" class="fa fa-chevron-left pointer" aria-hidden="true" (click)="setFilters()"></i>
  </span>
</div>
<form #form="ngForm" id="filtersWrapper" (ngSubmit)="search()" [@slideToggle]="showFilters">
	<p class="mb-4 text-center bold">סינון מורחב</p>
	<div *ngFor="let column of columns" class="fa-w-10 d-inline-block mr-2" [ngClass]="{ 'input': !column.searchOptions, 'bdSelectable': column.searchOptions && !column.searchOptions.isDate }">
		<div *ngIf="!column.searchOptions" >
			<mat-form-field>
				<input matInput type="text" [placeholder]="column.subLabel ? column.subLabel : column.label" [name]="column.name" ngModel>
			</mat-form-field>
		</div>
		<div *ngIf="column.searchOptions && column.searchOptions.isDate" style="width: 210px;">
			<label class="bold f-12">{{ column.subLabel ? column.subLabel : column.label }}</label>
			<div>
        <mat-form-field class="w-100">
          <input matInput [name]="column.name + '[from]'" [id]="column.name + '[from]'"
                 [max]="searchCriteria[column.name + '[to]']" class="pointer"
                 (click)="datePickerFrom.open()" [matDatepicker]="datePickerFrom" (dateChange)="valueDateChange($event)"
                 placeholder=" מתאריך" ngModel [(ngModel)]="searchCriteria[column.name + '[from]']" readonly>
          <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #datePickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput [name]="column.name + '[to]'" [id]="column.name + '[to]'"
                 [min]="searchCriteria[column.name + '[from]']" class="pointer"
                 (click)="datePickerTo.open()" [matDatepicker]="datePickerTo" (dateChange)="valueDateChange($event)"
                 placeholder="עד תאריך" ngModel [(ngModel)]="searchCriteria[column.name + '[to]']" readonly>
          <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
          <mat-datepicker #datePickerTo></mat-datepicker>
        </mat-form-field>
			</div>
		</div>
		<div *ngIf="column.searchOptions && column.searchOptions.labels" >
			<bd-select  [placeholder]="column.subLabel ? column.subLabel : column.label"
                  [items]="column.searchOptions.labels" [multiple]="column.multiple"
                  outputField="id" [name]="column.name" [(ngModel)]="column.selected"></bd-select>

		</div>
	</div>
	<button type="submit" class="mr-5 mt-3 blue-btn" mat-button>חפש</button>
</form>

