<div class="content ">
  <div class="row  ">
    <div class="col-12">
      <img class="big-img "src="/assets/img/icons/undraw_Vault_re_s4my.png">
    </div>
  </div>

  <h1 class="title text-center mt-5">בא תתחיל להרוויח</h1>
  <h2 class="subTitle mt-4 mb-5"> על כל עסק שנוסף למערכת ויגייס דרכה, כל עובד שיועסק יוסיף לחשבון שלך 1000 ש"ח</h2>
  <div class="text-center">
    <button   routerLink="/register" class="btn btn-black btn-lg register"  > המשך</button>
    <p class="text-center mt-4"><ins>לתקנון המלא</ins></p>

    <h2 class="footer mb-5"> הזכות לתשלום תתקבל בתנאי שהעסק ביצע השמה של העובד ולאחר שהשלים 60 ימי עבודה</h2>
  </div>

</div>





