<div class="dialog-header" dir="rtl">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span style="color: #E82D5C;">חשבון ידני</span>
</div>
<form #form="ngForm" dir="rtl">
  <div class="d-flex mr-3 row mt-5 mb-3">
    <div class="w-auto" *ngIf="employers">
      <bd-select [items]="employers" placeholder="בחר מעסיק" name="employers" #employersModel="ngModel" [(ngModel)]="manualInvoice.employer_financial_details" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && employersModel.errors ? 'active' : 'inactive'">יש לבחור מעסיק.</p>
    </div>
    <div class="w-auto mr-3">
      <mat-form-field style="margin-top: -10px;">
        <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="בגין חודש" name="for_month" [(ngModel)]="manualInvoice.for_month" readonly required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
    </div>
    <div  class="w-auto mr-3">
      <bd-select [items]="TAX" placeholder="סוג מסמך" name="tax_type" #taxTypeModel="ngModel" [(ngModel)]="manualInvoice.tax_type" (onSelect)="changeTaxType()"></bd-select>
    </div>
    <div class="w-auto mr-3">
      <bd-select [items]="productTypes" placeholder="סוג מוצר" name="product_type" #productTypeModel="ngModel" [(ngModel)]="manualInvoice.product_type" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && productTypeModel.errors ? 'active' : 'inactive'">יש לבחור סוג מוצר.</p>
    </div>
  </div>
  <div class="d-flex mr-3 mt-3 mb-3">
    <div style="width: 100%; text-align: center">
      <textarea class="form-control" rows="1" id="comment" name="comments" #commentModel="ngModel" [(ngModel)]="manualInvoice.remark" placeholder="הערות:"></textarea>
    </div>
  </div>
  <div>
    <div [ngClass]="{'disabledInput' : !isEdit}" class="d-flex align-items-center" *ngFor="let invoice_detail of manualInvoice.invoice_details;  let last = last; let index = index">
      <mat-form-field class="tax" *ngIf="manualInvoice.tax_type=='before'">
        <mat-select [ngClass]="{'disabledInput' : !isEdit}"  name="tax" placeholder="" [value]="invoice_detail.tax" [(ngModel)]="invoice_detail.tax">
          <mat-option *ngFor="let tax of TAXITEMS" [value]="tax.id">{{ tax.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3 description">
        <input matInput type="text" [name]="'description' + index" [(ngModel)]="invoice_detail.description" placeholder="פירוט" required>
      </mat-form-field>
      <mat-form-field class="mr-3 idsCount">
        <input matInput type="text" [name]="'ids_count' + index" [(ngModel)]="invoice_detail.ids_count" placeholder="כמות" required>
      </mat-form-field>
      <mat-form-field class="mr-3 paymentAmount">
        <input matInput type="text" [name]="'payment_amount' + index" [(ngModel)]="invoice_detail.payment_amount" placeholder="מחיר ליח'" required>
      </mat-form-field>
      <!--<mat-form-field class="mr-3 totalAmount">-->
        <!--<input [name]="'total_payment_amount' + index" type="text" matInput placeholder="" [(ngModel)]="invoice_detail.total_payment_amount"-->
               <!--[value]="invoice_detail.total_payment_amount != undefined? invoice_detail.total_payment_amount : 0" readonly>-->
      <!--</mat-form-field>-->
      <div class="row mr-3 save">
        <i class="fa fa-save pointer pink-color" (click)="saveInvoiceDetail(invoice_detail, index)" *ngIf="invoice_detail.is_saved === false"></i>
        <i class="fa fa-plus-circle pointer pink-color" title="הוספה" (click)="addInvoiceDetailRow()" *ngIf="last"></i>
        <i class="fa fa-edit pointer pink-color" title="עריכה" (click)="editInvoiceDetailRow(invoice_detail)" *ngIf="invoice_detail.is_saved === true"></i>
        <i class="fa fa-close pointer pink-color mr-1" title="מחיקה" (click)="deleteInvoiceDetailRow(invoice_detail, index, invoice_detail.is_saved)"></i>
      </div>
    </div>

    <div class="row align-content-end"  *ngIf="manualInvoice.tax_type=='before'">
      <div >סה"כ</div>
      <div class="mr-3">{{ totalBeforeTax | number : '1.2-2'}}</div>
    </div>
    <div class="row align-content-end"  *ngIf="manualInvoice.tax_type=='before'">
      <div>מע"מ</div>
      <div class="mr-3">{{ tax | number : '1.2-2'}}</div>
    </div>
    <div class="row align-content-end">
      <div>סה"כ לתשלום</div>
      <div class="mr-3">{{ totalIncludeTax | number : '1.2-2'}}</div>
    </div>
  </div>
  <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">{{message}}</p>
  <div mat-dialog-actions class="justify-content-center" style="text-align: center">
    <button class="btn pink-btn" (click)="submit(form)">צור</button>
  </div>
</form>
