<form #form="ngForm" class="mr-5 px-4">
  <div class="row">
    <div class="col-3">
      <h3 class="mb-5">הגדרות תוכנית עבודה</h3>
      <mat-form-field class="w-75 mb-3">
        <input matInput type="text" name="name" maxlength="50" [(ngModel)]="plan.name" placeholder="שם התוכנית"
               #name="ngModel" required>
        <mat-error *ngIf="name.errors && form.submitted">יש לבחור שם לתוכנית.</mat-error>
      </mat-form-field>
      <div class="d-flex align-items-center mb-lg-3">
        <div class="fa-w-2">
          <div class="bd-width190 font-rubik">
            <bd-select [items]="teamLeaders" placeholder="מנהל צוות" [(ngModel)]="plan.team_leader" #groupSelect="ngModel" name="group"
                       class="bd-min-width" (onSelect)="setGroup()"></bd-select>
          </div>
      </div>
        <div class="w-50 mr-3">
          <bd-select name="users" [items]="operators" placeholder="מתפעלים" (onSelect)="removeTeamLeader()"
                     [(ngModel)]="plan.users" [multiple]="true"
                     [error]="(plan.users === undefined) && form.submitted"></bd-select>
        </div>
      </div>
      <p class="h5">בחר טווח שעות עבודת התוכנית *</p>
      <div class="mb-3">
        <mat-form-field  class="fa-w-2">
          <mat-select [(ngModel)]="plan.start_time" name="start_time" placeholder="שעה התחלה" required>
            <mat-option *ngFor="let timestamp of timestamps" [value]="timestamp">{{ timestamp }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50 mr-3">
          <mat-select [(ngModel)]="plan.end_time" name="end_time" placeholder="שעת סיום" required>
            <mat-option *ngFor="let timestamp of timestamps" [value]="timestamp">{{ timestamp }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="validationsDate(plan.start_time, plan.end_time) && form.submitted">תאריך סיום לא יכול להיות קטן מתאריך התחלה</mat-error>
      </div>
    </div>
      <!--<div class="d-flex justify-content-center fixed-bottom">-->
        <!--<img src="/assets/img/spinner.svg" class="mr-auto ml-auto mb-3" *ngIf="isSubmitting">-->
      <!--</div>-->
      <!--<p class="alert alert-danger d-flex align-items-center" *ngIf="isSubmitFailed && !isSubmitting">-->
        <!--<i class="fa fa-exclamation-circle ml-1"></i>-->
        <!--<span> השמירה נכשלה, אנא נסה שנית.</span>-->
      <!--</p>-->
    <div id="taskPrioritization" class="col-md mr-lg-5">
      <p class="h5 mt-5 mb-3 text-center bold">סדר תיעדוף משימות</p>
      <div class="d-flex align-items-center" *ngFor="let row of plan.categories;  let last = last; let index = index">
        <p>{{ index + 1 + '.' }} </p>
        <div class="d-flex align-items-center mb-lg-3">
          <div class="bd-select-container">
            <bd-select [name]="'type_id' + index"  [items]="types" #typeIDSelect="ngModel" [(ngModel)]="row.type.type.id"
                       placeholder="סוג תוכנית" (onSelect)="selectedSubType(row.type)" required></bd-select>
            <!--<mat-error [@fade]="typeIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה. </mat-error>-->
          </div>
          <div class="mx-3 bd-select-container">
            <bd-select  [name]="'subType_id' + index"  [items]="subTypes" #subTypeIDSelect="ngModel" [(ngModel)]="row.type.id"
                        (onSelect)="setDataSubType(row.type.id)" placeholder="תוכנית משנה" required></bd-select>
            <!--<mat-error [@fade]="subTypeIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה. </mat-error>-->
          </div>
        </div>
        <mat-form-field [ngClass]="classAmount">
          <input matInput type="number" [name]="'amount' + index" [(ngModel)]="row.tasks_amount" placeholder="כמות" required>
        </mat-form-field>
        <mat-form-field class="w-5 mb-3 mr-3" *ngIf="row.days_amount || daysAmountTasks.indexOf(row.type.id) !== -1">
          <input matInput type="number" [name]="'days_amount' + index" [(ngModel)]="row.days_amount" placeholder="מספר ימים" >
        </mat-form-field>
        <div class="d-flex w-50 mb-3" *ngIf="isCreatingEmployer(row)">
          <mat-form-field class="ml-3 mr-3">
          <input matInput [matDatepicker]="salary_start_date" [(ngModel)]="row.salary_date_start"
                 [name]="'salary_start_date' + index"  [max]="row.salary_date_end" placeholder="חודש התחלה" [ngModelOptions]="{timezone: ''}" required>
          <mat-datepicker-toggle matSuffix [for]="salary_start_date"></mat-datepicker-toggle>
          <mat-datepicker #salary_start_date [startView]="'year'"></mat-datepicker>
          </mat-form-field>
          <mat-form-field >
          <input matInput [min]="row.salary_date_start" [matDatepicker]="salary_end_date" [(ngModel)]="row.salary_date_end"
                 [name]="'salary_end_date' + index"   placeholder="חודש סיום" [ngModelOptions]="{timezone: ''}" required>
          <mat-datepicker-toggle matSuffix [for]="salary_end_date"></mat-datepicker-toggle>
          <mat-datepicker #salary_end_date [startView]="'year'"></mat-datepicker>
          </mat-form-field>
        </div>
        <i class="fa fa-plus-circle fa-2x pointer blue-color" title="הוספה" (click)="addPlanRow()" *ngIf="last && index < 5"></i>
        <i class="fa fa-close fa-2x pointer blue-color" title="מחיקה" (click)="deletePlanRow(index)" *ngIf="index != 0"></i>
      </div>
    </div>
    <div class="d-flex mr-3">
      <a (click)="previous()">
        <p class="f-14 blue-color">
          <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
          <span>חזור</span>
        </p>
      </a>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn blue-btn mt-3 mb-5" (click)="submit(form)">{{ plan.id ? 'עדכן תוכנית' : 'צור תוכנית' }}</button>
  </div>
</form>


