img.trash{
  visibility: hidden;
  width: 17px;
  height: 19px;
  position:absolute;
  right: 97%;
  bottom: 63%;
}

.mat-card {
  max-height: 420px;
  min-height: 120px;
  overflow-y: auto;
}

#date{
  position: absolute;
  left: 50%;
  bottom: 90%;
  border-radius: 17px;
  border: 2px solid;
  border-color: #E6E6E6;
}

#hour{
  display: flex;
  position:absolute;
  right: 93%;
  bottom: 46%;
  color: #ADADAD;
}

#hover:hover{
  background-color: #F6F6F6;
}

#hover:hover img.trash{
  background-color: #F6F6F6;
  visibility: visible;
}

#name{
  color: #E82D5C;
  opacity: 1;
  font-weight: bold;
}

#textbox{
  position: absolute;
  width: 89.5%;
}

#conten{
  max-width: 90%;
}

#delbutton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
