<mat-card class="comments-box row mb-4 mt-5">
  <mat-card-content>
    <hr>
      <div id="commentsTable" class="row">
        <div *ngFor="let comment_emp of comments_emp" class="col-xl-12 h-40" >
          <div class="d-flex" id='hover'>
            <div id="name">{{ comment_emp.username + ': ' + ' '}} <br></div>
            <div id="conten" class="w-75">{{ comment_emp.content }}</div>
            <div id="hour">{{ comment_emp.updated_at | date: 'HH:mm' }}</div>
            <button id="delbutton" (click)="deleteComment(comment_emp.id)">
              <img class="trash" src="../../../assets/img/icons/trash.png">
            </button>
            <div id="date">{{ comment_emp.updated_at | date: 'dd/MM/yy' }}</div>
          </div>
          <hr>
        </div>
      </div>
  </mat-card-content>
</mat-card>
<form id="textbox" (ngSubmit)="submit()">
  <div class="row mb-4 mt-5 float-none">
    <mat-form-field class="w-100">
      <mat-label>הקלד כאן</mat-label>
      <textarea type="text" name="content" [(ngModel)]="comment_emp" matInput cdkTextareaAutosize></textarea>
      <button class="float-left border-none float-left">
        <img src="../../../assets/img/icons/arrow-left.png">
      </button>
    </mat-form-field>
  </div>
</form>
