.filter-row bd-select, .filter-row .mat-form-field {
  width: 300px !important;
}

::ng-deep .excel-employees-dialog .mat-dialog-container {
  overflow: visible;
}

.fa-size {
  font-size: 2.37776em;
}


.green-back-color{
  background-color: #56af57 !important;
}
