.disabledDiv {
  pointer-events: none; opacity: 0.4;
  direction: rtl;
}

.container2 mat-form-field input{
  text-align: right!important;
  direction: rtl!important;
}
.disabledDiv {
  pointer-events: none; opacity: 0.8;
}
