
<p class="border-bottom f-14 bold grey-color mt-lg-4 w-25">הגדרות</p>
<form #form="ngForm" (ngSubmit)="submit()" [ngClass]="{ 'disabledDiv': !role }">
  <div class="mt-4">
    <mat-checkbox [(ngModel)]="isMyHr" name="isMyHr">מערכת MyHr</mat-checkbox>
  </div>
  <div class="mt-4">
    <textarea class="form-control textarea" name="comment"
              placeholder="התראה לפני שידור..." [(ngModel)]="comment" maxlength="200"></textarea>
  </div>

  <div class="mt-4">
    <button type="submit" class="btn blue-btn">שמור</button>
  </div>
</form>
