<div class="row">
  <div class="d-flex mr-auto mt-3" style="margin-left:225px">
    <a (click)="back()">
      <p class="f-14 grey-color">
        <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
        <span>חזור</span>
      </p>
    </a>
  </div>
</div>
<div [ngClass]="{'operator-container': !pathEmployers }">
  <form #form="ngForm"   class="col-12 col-lg-6 p-0">
    <div class="d-flex justify-content-center align-items-center">
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="כתובת מייל" type="email"
                 name="email" [(ngModel)]="contact.email" (change)="disabled = false"
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
        <button  [ngClass]="{'disabledInput': this.route.snapshot.data.contact }"
                 class="btn blue-btn" type="submit"  (click)="submit(form, 'show')" >הצג</button>
      </div>
    <div [ngClass]="{'disabledInput': (!contact.id && !disabled) ||  (contact.id && !disabled) }">
      <div *ngIf="location == 'operator'" class="row mt-3" [ngClass]="{'disabledInput': this.route.snapshot.data.contact }">
        <div class="col-12 col-lg-4">
          <bd-select class="w-100" [items]="organizations" name="organization" #organizationSelect="ngModel"
                     [(ngModel)]="contact.organization_id"
                     placeholder="ארגון"
                     (onSelect)="loadEmployers($event)"
                     required [error]="organizationSelect.errors && form.submitted"></bd-select>
        </div>
        <div class="col-12 col-lg-4">
          <bd-select class="w-100" [items]="employers" name="employerId" #employerIdSelect="ngModel"
                     [(ngModel)]="employerId"
                     placeholder="מעסיק"
                     required [error]="(employerIdSelect.errors || employerId == 0)  && form.submitted"></bd-select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-lg-4">
          <bd-select class="w-100" [items]="entityTypes" name="entity_type" #entityTypeSelect="ngModel"
                     [(ngModel)]="contact.entity_type" (onSelect)="loadEntities($event)"
                     placeholder="סוג גורם" required [error]="entityTypeSelect.errors && form.submitted"></bd-select>
        </div>
        <div class="col-12 col-lg-4" [@fade]="contact.entity_type !== 'employer' ? 'active' : 'inactive'">
          <bd-select class="w-100" [items]="entities" name="entity_id" #entityIDSelect="ngModel"
                     [(ngModel)]="contact.entity_id" placeholder="שם גורם" required
                     [error]="entityIDSelect.errors && form.submitted"></bd-select>
        </div>
        <div class="col-12 col-lg-4">
          <bd-select class="w-100" [items]="types" name="type" #typeSelect="ngModel"
                     [(ngModel)]="contact.type"
                     placeholder="סוג איש קשר"
                     [multiple]="true" required [error]="typeSelect.errors && form.submitted"></bd-select>
        </div>
        <!--<div class="col-12 col-lg-4">-->
          <!--<div class="bd-select-container">-->
            <!--<bd-select [items]="productTypes" placeholder="שם מוצר" #productTypeSelect="ngModel"-->
                       <!--[name]="product_type"  ngModel required></bd-select>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row mt-3">
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="שם פרטי" name="first_name" [(ngModel)]="contact.first_name" required>
        <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="שם משפחה" name="last_name" [(ngModel)]="contact.last_name" required>
        <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="תפקיד" name="role" [(ngModel)]="contact.role">
        </mat-form-field>
      </div>
      <div class="border-bottom row mb-1">
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="טלפון" type="number" name="phone" [(ngModel)]="contact.phone" required>
          <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-4">
          <input matInput placeholder="נייד" name="mobile" type="number" [(ngModel)]="contact.mobile" required>
          <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
        <!--<mat-form-field class="col-lg-4">-->
          <!--<input matInput placeholder="כתובת מייל" type="email" name="email" [(ngModel)]="contact.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>-->
          <!--<mat-error>שדה חובה.</mat-error>-->
        <!--</mat-form-field>-->
        <mat-form-field class="col-12">
          <input matInput placeholder="הערות" type="email" name="comment" [(ngModel)]="contact.comment">
        </mat-form-field>
      </div>
      <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
      <button class="btn blue-btn" type="submit" (click)="submit(form, 'save')">שמור</button>
    </div>
  </form>
</div>
