<div class="py-4">
  <mat-form-field class="w-100">
    <textarea matInput placeholder="הוספת הערה..." [(ngModel)]="comment" maxlength="200"></textarea>
    <mat-hint>(עד 200 תווים)</mat-hint>
  </mat-form-field>
  <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
  <div mat-dialog-actions class="justify-content-center">
    <button class="btn blue-btn" (click)="submit()">שמור</button>
  </div>
</div>
<ul id="commentsTable" class="pt-4">
  <li *ngFor="let comment of comments" class="d-flex">
    <span>{{ comment.updated_at | date: 'HH:mm dd/MM/yy' }}</span>
    <span class="mr-3 ml-1 bold">{{ comment.username + ':'}}</span>
    <span [title]=comment.content>{{ comment.content |  slice : 10 }}</span>
  </li>
</ul>

