<div class="py-4">
  <div class="box">
    <div class="w-100 py-1">
      <textarea class="form-control textarea" placeholder="הוספת הערה..." [(ngModel)]="comment" maxlength="200"></textarea>
    </div>
    <div class="text-left ml-3 py-2">
      <button class="btn blue-btn ml-2 " (click)="submit()">שמירה</button>
      <button class="btn blue-btn" (click)="comment = null">ביטול</button>
    </div>
  </div>
  <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
  <div mat-dialog-actions class="justify-content-center">
  </div>
</div>
<ul id="commentsTable" class="pt-4">
  <li *ngFor="let comment of comments" class="d-flex">
    <span>{{ comment.updated_at | date: 'HH:mm dd/MM/yy' }}</span>
    <span class="mr-3 ml-1 bold">{{ comment.username + ':'}}</span>
    <span [title]=comment.content>{{ comment.content }}</span>
  </li>
</ul>
