<form #form="ngForm">
<div>דילוג על משימה</div>
<div>האם ברצונך להפוך משימה זו לתזכורת עתידית?</div>
<div>
  <span> לביצוע עד תאריך</span>
  <mat-form-field class="date-picker mr-2">
    <input matInput ngModel [matDatepicker]="date" name="date" >
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>
  <span class="mr-2">בשעה</span>
    <mat-form-field>
    <input ngModel matInput type="time" id="time" name="time">
    </mat-form-field>
</div>
<div class="mt-4 text-center">
  <button class="mr-2 btn blue-btn" (click)="submit(form)">שמור</button>
  <button class="btn blue-btn" (click)="delete()">ביטול</button>
</div>
</form>
