.step-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0 3px 0 0 #ececec;
  font-weight: bold;
  outline: 0;
}

.step-title.active {
  background-color: #00aeee;
  color: #fff;
}

.step-title > .triangles {
  display: flex;
  flex-direction: column;
}

.step-title > .triangles > div {
  border: 20px solid #fff;
}

.step-title > .triangles > :first-child {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.step-title > .triangles > :last-child {
  margin-top: -40px;
  border-top-color: transparent;
  border-left-color: transparent;
}

.active > .triangles > .blue {
  border-color: #00aeee;
}

.active > .triangles > :last-child {
  border-bottom-color: #00aeee;
  border-right-color: #00aeee;
}


.mt-lg-8 {
  margin-top: 8rem !important
}

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  overflow: visible;
}


