<div class="container mt-lg-8 w-100">
  <div class="d-flex justify-content-center my-5">
    <div class="step-title active" routerLink="./">
      <span class="flex-grow-1">טעינת קובץ</span>
      <div class="triangles">
        <div [ngClass]="{ 'blue': setHeaderColor() >= 2  }"></div>
        <div></div>
      </div>
    </div>
    <div class="step-title" routerLink="./payment" [ngClass]="{ 'active': setHeaderColor() >= 2 }">
      <span class="flex-grow-1">תשלום / פירוט החזרים </span>
      <div class="triangles">
        <div [ngClass]="{ 'blue': setHeaderColor() === 3 }"></div>
        <div></div>
      </div>
    </div>
    <div class="step-title" routerLink="./broadcast" [ngClass]="{ 'active': setHeaderColor() === 3}">
      <span>שידור נתונים</span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
