<button mat-dialog-close>
  <i class="fa fa-close"></i>
</button>
<h2 style="text-align: center">מעסיקים עם תשלום הקמה</h2>
<br>
<app-data-table [hasActionsSearch]="false" [columns]="columns" (fetchItems)="fetchItems()"
                [hasActionsHeader]="false" [hasCheckColumn]="false" [hasExtendedSearch]="false" [limit]="8" dir="rtl" [routePage]="'platform/dashboard'">

  <tr *ngFor="let item of dataTable.items; let i=index;" class="pointer" [ngClass]="{'highlight': item.error !== null}">
    <td [ngClass]="{'white': i%2 === 0}">{{ item.name }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.identifier}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.est_payment_amount}}</td>
  </tr>
</app-data-table>
