<div class="dialog-header" dir="rtl">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>הערות</span>
</div>
<table class="table table-bordered" dir="rtl">
  <thead>
  <tr>
    <td>   </td>
    <td>כמות ת"ז</td>
    <td>תעריף</td>
    <td>סוג תעריף</td>
    <td>סה"כ</td>
  </tr>
  </thead>
  <tbody *ngIf="remarks">
  <tr class="pointer">
    <td class="w-25">סכום בחשבונית</td>
    <td class="w-25">{{remarks['ids_count']}}</td>
    <td class="w-25">{{remarks['payment_amount']}}</td>
    <td class="w-25">{{remarks['payment_type']}}</td>
    <td class="w-25">{{remarks['total_payment_amount']}}</td>
  </tr>
  <tr class="pointer">
    <td class="w-25">סכום לפי הגדרת מעסיק</td>
    <td class="w-25">{{remarks['finance_ids_count']}}</td>
    <td class="w-25">{{remarks['finance_payment_amount']}}</td>
    <td class="w-25">{{remarks['payment_type']}}</td>
    <td class="w-25">{{remarks['finance_payment_amount']}}</td>
  </tr>
  </tbody>
</table>
<input class="form-control form-control-lg" *ngIf="remarks" type="text"  placeholder="הערות" [(ngModel)]="remarks['content']" dir="rtl">
<div mat-dialog-actions class="justify-content-center" dir="rtl">
  <button class="btn pink-btn" (click)="submit()">שמור</button>
</div>
