<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="container scroll">
  <div class="row justify-content-between">
    <h3 mat-dialog-title class="bold blue-color">{{group.name}}</h3>
  </div>
  <h6>סה"כ {{group.group_size}} מעסיקים </h6>
  <br>
  <div class="row">
    <app-data-table class="w-95" tableName="מעסיקים" (fetchItems)="fetchItems()" [columns]="columns" [hasCheckColumn]="true" [hasExtendedSearch]="false"
                    [disableCheckAll]="true" [hasActionsSearch]="false" [hasActionsHeader]="false">
      <div class="table-header">
        <div class="row float-left">
          <button [matMenuTriggerFor]="menu" class="btn blue-btn ml-3 mb-3">פעולות</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="removeEmployerGroup()">הסר מעסיקים מהקבוצה</button>
          </mat-menu>
        </div>
      </div>
      <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }" >
        <td class="check-column">
          <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
        </td>
        <td>{{item.organization}}</td>
        <td>{{item.employer}}</td>
      </tr>
    </app-data-table>
  </div>
</div>
