<div class="px-4">
    <a>
      <p class="f-14 blue-color">
        <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
        <span>חזור</span>
      </p>
    </a>
  <app-data-table tableName="קמפיינים" (fetchItems)="fetchItems()" [columns]="columns"
                   [hasCheckColumn]="true" [hasActionsSearch]="true">
    <div class="table-header">
      <div class="row mt-4 mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button class="btn blue-btn">קמפיין חדש</button>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }" >
      <td class="check-column">
        <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
      </td>
<!--      <td>{{ item.organization_name }}</td>-->
      <!--      <td>{{ item.name }}</td>-->
      <!--      <td>{{ item.identifier }}</td>-->
      <!--      <td>{{ item.operator_id }}</td>-->
      <!--      <td>{{ item.email }}</td>-->
    </tr>
  </app-data-table>
</div>
