
<div class="text-center" [hidden]="divshow != 1" >
  <h5 class="bold">הקובץ בטעינה</h5>
  <p class="f-12">לנוחיותך ניתן כעת לצאת מהמערכת <br/> ליציאה וקבלת הנחיות תשלום במייל, <a class="bold" (click)="openDialog()">לחץ כאן</a></p>
  <br/>
  <p class="f-12">ניתן להמתין לסיום הטעינה ולהורדת הנחיית תשלום</p>
  <!--<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>-->
</div>

<div class="text-center"  [hidden]="divshow != 2">
  <h5 class="bold">הקובץ נטען בהצלחה</h5>
  <p class="f-12">להלן פרטי נתונים הפנסיונים לשידור לקופות </p>
  <p class="f-12 bold">יש לאשר לפני השידור</p>
<div class="container w-50">
  <table class="table table-borderless">
    <thead>
      <tr class="thborder"><th colspan="2">פרטי התהליך</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>שם המעסיק: {{ bbb }}</td>
        <td>ח.פ: {{ bbb }}</td>
      </tr>
      <tr>
        <td>שם מחלקה: {{ bbb }}</td>
        <td></td>
      </tr>
      <tr></tr>
      <tr>
        <td>שם התהליך: {{ bbb }}</td>
        <td>מספר תהליך:
          {{ bbb }}</td>
      </tr>
      <tr>
        <td>חודש שכר: {{ bbb }}</td>
        <td>שנה: {{ bbb }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
        <tr class="thborder"><th colspan="2">פרטי התשלומים</th></tr>
    </thead>
    <tbody>
    <tr>
      <td>סכום לתשלום: {{ bbb }}</td>
    </tr>
    <tr>
      <td>מספר רשומות: {{ bbb }}</td>
      <td><a>לפירוט מלא ></a></td>
    </tr>
    <tr></tr>
    <tr>
      <td>מספר קבצים: {{ bbb }}</td>
      <td><a>לפירוט מלא ></a></td>
    </tr>
    </tbody>
  </table>
</div>
  <div class="text-left">
    <button class="btn blue-btn" onclick="divshow = 3">לביצוע תשלום</button>
  </div>
</div>

<div [hidden]="divshow != 3">
  <p>אנא בחר אפשרות תשלום</p>
  <table class="mr-5">
    <tr>
      <td> <button class="btn blue-btn btn-lg f-12"  >אנא בחר הנחיות תשלום בפורמט אקסל </button></td>
      <td>  <button class="btn blue-btn btn-lg f-12  mr-3"> " >הורדת קובץ מס"ב לתשלום</button></td>
    </tr>
    <tr>
      <td></td>
      <td class="float-left" colspan="2" ><p class="f-12 bold pointer" (click)="openDialogSendFileEmail()" >שליחת קובץ מס"ב למייל</p></td>
    </tr>
  </table>
  <div class="float-left">
    <button class="btn blue-btn">המשך</button>
  </div>
</div>

<div [hidden]="divshow != 4">
<h4>פירוט </h4>
<table class="table table-borderless">
  <thead>
  <tr class="thborder"><td colspan="2">פרטי התשלומים</td></tr>
  </thead>
  <tbody>
  <tr>
    <td>שם מעסיק: {{ bbb }}</td>
    <td>ח.פ: {{ bbb }}</td>
    <td>שם מחלקה: {{ bbb }}</td>
    <td>שם התהליך: {{ bbb }}</td>
  </tr>
  <tr>
    <td>סכום לתשלום: {{ bbb }}</td>
    <td>מספר תהליך: {{ bbb }}</td>
    <td>חודש שכר: {{ bbb }}</td>
    <td>סה"כ {{ bb}}: {{ bbb }}</td>
  </tr>
  <tr>
    <td colspan="4">מספר קבצים: {{ bbb }}</td>
  </tr>
  </tbody>
</table>
</div>
