<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{ processDataService.activeProcess.name + ' '
    + processDataService.activeProcess.monthName + ' '
    + processDataService.activeProcess.year }}</th>
    <td scope="col">{{ processDataService.activeProcess.monthName }}</td>
    <td scope="col">{{ processDataService.activeProcess.year }}</td>
  </tr>
  </thead>
</table>
<div class="text-center" [@fade]="pageNumber === 1 ? 'active' : 'inactive'" >
  <h5 class="bold mt-5">הקובץ בטעינה</h5>
  <p class="f-12 mb-0" >לנוחיותך ניתן כעת לצאת מהמערכת </p>
  <p class="f-12 mb-3">
     <span>ליציאה וקבלת הנחיות תשלום במייל,</span>
    <span class="bold blue-color pointer" (click)="openDialog()">לחץ כאן</span>
  </p>
  <p class="f-12">ניתן להמתין לסיום הטעינה ולהורדת הנחיית תשלום</p>
  <mat-progress-bar class="mt-5" mode="determinate" [value]="process_percent"></mat-progress-bar>
  <p class="grey-color pointer float-right" (click)="setPage('home')">< חזרה לדף הבית</p>
</div>
<div class="col-6 offset-3 mt-5" [@fade]="pageNumber === 2 ? 'active' : 'inactive'">
  <div class="text-center">
    <p class="h5 bold">הקובץ נטען בהצלחה!</p>
    <p class="f-12 grey-color">להלן פרטי נתונים הפנסיונים לשידור לקופות</p>
    <p class="f-12 bold grey-color">יש לאשר לפני השידור</p>
  </div>
  <p class="border-bottom f-14 bold grey-color">פרטי התהליך</p>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>שם המעסיק:</span>
      <p class="bold mr-1">{{process_details.employer_name}}</p>
    </div>
    <span>ח.פ:</span>
    <p class="bold mr-1">{{process_details.employer_business_number}} </p>
  </div>
    <div class="d-flex w-50">
      <span>שם מחלקה: </span>
      <p class="bold mr-1">{{process_details.department_name}}</p>
    </div>
  <div class="d-flex mt-3">
    <div class="d-flex w-50">
      <span>שם התהליך: </span>
      <p class="bold mr-1">{{process_details.name}}</p>
    </div>
    <span>מספר תהליך:</span>
    <p class="bold mr-1">{{process_details.id}}</p>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>חודש שכר:</span>
      <p class="bold mr-1">{{processDataService.activeProcess.monthName}}</p>
    </div>
    <span>שנה:</span>
    <p class="bold mr-1">{{processDataService.activeProcess.year}}</p>
  </div>
  <p class="border-bottom f-14 bold grey-color mt-5">פרטי התשלומים</p>
  <div class="d-flex">
    <span>סכום לתשלום: </span>
    <p class="bold mr-1">{{process_details.total | number: '1.2-2'}}</p>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>מספר רשומות: </span>
      <p class="bold mr-1">{{process_details.records_count }}</p>
    </div>
    <span class="pointer" (click)="setPage('detailed-records')">לפירוט מלא ></span>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>מספר קבצים: </span>
      <p class="bold mr-1">{{process_details.groups_count}}</p>
    </div>
    <span class="pointer" (click)="setPage('detailed-files')">לפירוט מלא ></span>
  </div>
  <div class="d-flex mt-5">
    <div class="w-75">
     <span (click)="setPage('new')" class="float-right">
      <p class="pointer grey-color">
        <i class="fa fa-angle-right ml-1"></i>
      <span>חזור</span>
      </p>
    </span>
    </div>
    <div class="float-left pb-5">
      <button class="btn blue-btn" (click)="pageNumber = 3"> לביצוע תשלום</button>
    </div>
  </div>
</div>
<div class="container" [@fade]="pageNumber === 3 ? 'active' : 'inactive'">
  <p class="mb-4 h5">אנא בחר אפשרות תשלום</p>
  <div class="d-flex justify-content-center pb-5">
   <table class="mt-5">
    <tr>
      <td>
        <button class="btn blue-btn btn-lg f-14">הורדת הנחיות תשלום בפורמט אקסל </button>
      </td>
      <td>
        <button class="btn blue-btn btn-lg f-14  mr-3" (click)="downloadMasav()">הורדת קובץ מס"ב לתשלום</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="float-left" colspan="2" >
        <p class="f-12 bold pointer" (click)="openDialogSendFileEmail()" >
          <i class="fa fa-long-arrow-left"></i>
          שליחת קובץ מס"ב למייל
        </p>
    </tr>
  </table>
  </div>
  <div class="float-left mt-lg-5">
    <button class="btn blue-btn" (click)="setPage('broadcast')">המשך</button>
  </div>
  <span (click)="setPage('payment')" class="float-right">
       <p class="pointer mt-5 grey-color">
         <i class="fa fa-angle-right ml-1"></i>
         <span>חזור</span>
       </p>
     </span>
</div>




