
<app-data-table tableName="לקוחות " [hasActionsSearch]="false" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="false"
                [hasActionsHeader]="false">
  <div class="table-header">
    <div class="row mt-4 mr-1">
      <div class="float-left">
        <p>במסך זה ניתן לראות את רשימת הלקוחות/ להוסיף לקוחות חדשים ולערוך חיובים של לקוחות קיימים.</p>
      </div>
      <div class="ml-3 d-flex mr-auto">
        <button  class="btn bold white-btn">פעולות</button>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items; let i=index;" class="pointer" [ngClass]="{'highlight': item.error !== null}" (click)="openEmployerFinanceDetails(item)">
    <td [ngClass]="{'white': i%2 === 0}">{{ item.identifier}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.name }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.isActive? 'מעסיק לא פעיל': 'מעסיק  פעיל' }}</td>
  </tr>
</app-data-table>
<router-outlet></router-outlet>
