
<app-data-table tableName="לקוחות "  [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="false"
                [hasActionsHeader]="false"  [hasActiveSwitch]="true" [hasExtendedSearch]="false">
  <div class="table-header">
    <div class="row mt-4">
      <div class="float-left">
        <p>במסך זה ניתן לראות את רשימת הלקוחות/ להוסיף לקוחות חדשים ולערוך חיובים של לקוחות קיימים.</p>
      </div>
      <div class="ml-3 d-flex mr-auto" *ngIf="permissionsType">
        <button  class="btn bold white-btn">פעולות</button>
      </div>
    </div>
  </div>

  <tr *ngFor="let item of dataTable.items; let i=index;" [ngClass]="{'pointer': item.is_active}" class="pointer"
      [ngClass]="{'highlight': item.error !== null}" (click)="openEmployerFinanceDetails(item)">
    <td [ngClass]="{'white': i%2 === 0}">{{ item.identifier}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.name }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.is_active ? 'מעסיק פעיל': 'מעסיק לא פעיל' }}</td>
  </tr>
</app-data-table>
<router-outlet></router-outlet>
