<div class="row">
  <div *ngIf="displayBack" class="d-flex mr-auto">
    <a (click)="previous()">
      <p class="f-14 blue-color">
        <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
        <span>חזור</span>
      </p>
    </a>
  </div>
</div>
<div class="col-12 f-12 mb-lg-5">
  <div class="float-left">
    <mat-form-field>
      <mat-select placeholder="חודש שכר" [(ngModel)]="this.selectMonth" name="month" class="ml-3"
                  (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mr-3">
      <mat-select placeholder="שנה" [(ngModel)]="this.selectYear" name="year" (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-data-table tableName="מעקב ברמת עובד" [columns]="columns" (fetchItems)="fetchItems()"
                [hasCheckColumn]="true" [hasActionsHeader]="userSession.getPermissionsType('operations')">
  <div class="table-header">
      <div class="row mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button [matMenuTriggerFor]="menu" class="btn blue-btn mr-2">פעולות</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="regularFix()">מתקן 2</button>
            <button mat-menu-item (click)="positiveNegativeFix()"> מתקן 1+6 </button>
            <button mat-menu-item (click)="changeFileToNegative()">יצירת קובץ שלילי</button>
            <button mat-menu-item (click)="sendFeedback()"> שליחת היזונים חוזרים</button>
            <button mat-menu-item (click)="openCommentsDialog()">הוסף הערה</button>
            <button mat-menu-item (click)="changeStatus()">שינוי סטטוס פניה</button>
          </mat-menu>
        </div>
     </div>
  </div>
  <tr *ngFor="let item of dataTable.items" class="pointer"  [ngClass]="{ 'checked': item.checked }" >
    <td class="check-column">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.personal_id }}</td>
    <td>{{ item.salary_month | date:'MM/yy' }}</td>
    <td>{{ item.company_name }}</td>
    <td>{{ productTypes[item.product_type] }}</td>
    <td>{{ item.product_code }}</td>
    <td>{{ item.amount | number: '1.2-2' }}</td>
    <td>{{ item.deposit_month | date: 'dd/MM/yyyy' }}</td>
    <td>{{ item.updated_at | date: 'dd/MM/yyyy' }}</td>
    <td>{{ statuses[item.status]}}</td>
    <!--<td> {{ item.manual_status }}</td>-->
    <td>{{  item.manual_status ? manualStatus[item.manual_status]: '' }}</td>
    <td>
      <img src="/assets/img/icons/details_grey.png" (click)="openApplicationDialog(item)">
    </td>
    <td (click)="openCommentsDialog(item)">
      <i *ngIf="item.comments.length === 0" class="fa fa-comment-o"></i>
      <i *ngIf="item.comments.length > 0" class="fa fa-comment"></i>
    </td>
    <td *ngIf="dataTable.hasActionsHeader">
      <img src=" /assets/img/icons/forward_green.png" title="שלח" (click)="openInquiresDialog(item)">
      <span class="grey-circle mr-3" (click)="openInquiriesDetailsDialog(item)">{{ item.inquiries.length   }}</span>
    </td>
  </tr>
</app-data-table>
