<div class="col-12 f-12 mb-lg-5">
  <div class="float-left">
    <mat-form-field>
      <mat-select placeholder="חודש שכר" [(ngModel)]="dataTable.criteria.filters['month']" name="month" class="ml-3"
                  (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mr-3">
      <mat-select placeholder="שנה" [(ngModel)]="dataTable.criteria.filters['year']" name="year" (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-data-table tableName="מעקב ברמת עובד" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="true" [hasActionsHeader] = false>
  <div class="table-header">
    <div class="row mt-4 mr-1">
      <div class="ml-3 d-flex mr-auto">
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }">
    <td class="check-column">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.personal_id }}</td>
    <td>{{ employee.salary_month | date:'MM'}}</td>
    <td>{{ employee.company_name}}</td>
    <td>{{ productTypes[employee.product_type]}}</td>
    <td>{{ employee.product_code}}</td>
    <td>{{ employee.amount | number: '1.2-2'}}</td>
    <td>{{ employee.deposit_month | date: 'dd/MM/yyyy' }}</td>
    <td>{{ statuses[employee.status]}}</td>
    <td >
      <img src="/assets/img/icons/details_grey.png" (click)="openApplicationDialog(employee)">
    </td>
    <td>
      <img src=" /assets/img/icons/forward_green.png" title="שלח" (click)="openInquiresDialog(employee)">
    </td>
    <td>
      <span class="grey-circle" (click)="openInquiriesDetailsDialog(employee.id)">{{ employee.inquiries.length }}</span>
    </td>
    <td>
      <img src="/assets/img/icons/chat_bubble_grey.png" (click)="openCommentsDialog(employee.id)">
    </td>
  </tr>
</app-data-table>
