<div class="col-12 f-12 mb-lg-5">
  <div class="float-left">
    <mat-form-field class="ml-3">
      <mat-select placeholder="מצג" [(ngModel)]="monthSearch" name="month" (selectionChange)="search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1" >
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  class="ml-3">
      <mat-select placeholder="חודש שכר" [(ngModel)]="monthSearch" name="month" (selectionChange)="search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1" >
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="שנה" [(ngModel)]="yearSearch" name="year" (selectionChange)="search()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<p class="h5 bold  py-5">מעקב ברמת עובד</p>
  <mat-form-field class="ml-3">
    <input matInput placeholder="חיפוש"  (change)="search()">
    <i matSuffix class="fa fa-search"></i>
  </mat-form-field>
  <div>
    <button class="mb-2 float-left btn blue-btn" (click)="openApplicationDialog()">פעולות</button>
  </div>
<table class="table table-hover mt-3 data-table">
  <th *ngFor="let header of headers">{{header.label}}</th>
  <tr class="table-headers"></tr>
</table>
<!--<button class="btn blue-btn" (click)="httpTest()"></button>-->


