<div>
  <h5>העלאת תהליך שלילי</h5>
  <p class="text-muted">לבקשת החזרים כספיים מהקופות יש להעלות קובץ בפורמט xml שלילי, אשר מונפק מתכנת השכר</p>
  <p class="text-muted">קובץ זה יועבר לקופות על מנת להשיב את הכספים אל החשבון המוגדר.</p>
</div>
<div class="mb-5">
<mat-spinner class="mr-auto ml-auto mb-3" *ngIf="spin"></mat-spinner>
<file-drop  [ngClass]="{ 'uploaded': processFile }" ng2FileDrop (onFileDrop)="GetFileFromDrop($event)">


<label class="pointer" *ngIf="!processFile" (change)="setFile($event.target.files[0])" >
<img style="width: 35px;" src="/assets/img/icons/cloud-backup.svg" class="mb-1">
<p class="h5 grey-color">בחר קובץ להעלאה</p>
<p class="h5 grey-color">או גרור קבצים לכאן</p>
<input type="file">
</label>

<div class="text-center" *ngIf="processFile">
<i class="fa fa-check-circle-o "></i>
<p class="text-dark"><i class="fa fa-times ml-2 pointer " (click)="processFile = null"></i>{{ processFile.name }}</p>
</div>

</file-drop>
<p class="text-danger" *ngIf="fileTypeError">יש להעלות קבצי XML בלבד.</p>
</div>
<div class="text-left">
  <button class="btn blue-btn" >המשך</button>
</div>
