
.black-btn {
  background-color: #000000;
  color: #fff;
  min-width: 90px;
}
.preview {
  color: #00adee;
}


button.link { background:none;border:none; }

.email-content {
  width: 380px;
  border: 3px solid #80808099;
}

.btn-align {
  margin-top: 45px;
}
.box-shadow {
  width: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.preview-content {
  width: 497px;
  height: 335px;
  border: 1px solid #80808099;
  background-color: #f0f8ff;
}

.blue-font-color {
   color: #00adee;
 }
.black-font-color {
  color: #00adee;
}
/*!* Border *!*/
/*.mat-form-field-appearance-outline .mat-form-field-outline {*/
  /*color: black;*/
/*}*/
/*!* Font color *!*/
/*input.mat-input-element {*/
  /*color: black;*/
/*}*/

/*style="background-color: #dedede"*/
.input-border {
  background-color: white;
}

.logo {
  text-align:center;
  margin: 7px 80px 40px 0px;
}

.newMsg {
  border-radius: 25px;
  border: 2px solid #c9dae0;
  padding: 20px;
  width: 173px;
  background-color: #c9dae0;
  text-align: center;
  /* text-align: justify; */
  display: inline-block;
  color: #040404;
  height: 1px;
  /* vertical-align: -webkit-baseline-middle; */
  line-height: 4px;
}

#parent {
  text-align:center;
}

.block {
  text-align:center;
}
.center {
  margin:auto;
}
