<div class="mr-5 px-4">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="row">
      <p class="h4 mb-4">יצירת ארגון חדש</p>
      <div class="d-flex mr-auto">
        <a (click)="back()">
          <p class="f-14 blue-color">
            <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
            <span>חזור</span>
          </p>
        </a>
      </div>
    </div>

    <div class="row col-12 mb-4">
      <mat-form-field class="col-12 col-lg-4">
        <input matInput placeholder="שם ארגון" name="name" [ngModel]="organization.name" required>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button class="btn blue-btn" type="submit">שלח</button>
    </div>
  </form>
</div>
