<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<form #form="ngForm">
  <div class="mt-1">
    <h6 class="bold">עדכון אסמכתא</h6>
    <!--<p class="f-12"> סוג תשלום: <span> {{ data.accNum }}</span></p>-->
    <div>
      <div class="d-flex align-items-center">
        <!--<div class="bd-select-container">-->
          <!--<bd-select  [(ngModel)]="bankId" name="bankId" [items]="banks"  placeholder="בחר בנק" (onSelect)="selectedBankBranch()"></bd-select>-->
        <!--</div>-->
        <!--<div class="mx-3 bd-select-container">-->
          <!--<bd-select [(ngModel)]="branchId" name="branchId"  [items]="branchs" placeholder="בחר סניף" ></bd-select>-->
        <!--</div>-->
        <!--<mat-form-field>-->
          <!--<input matInput type="text" [(ngModel)]="number" name="number"  placeholder="מס' חשבון" maxlength="8">-->
        <!--</mat-form-field>-->
      </div>
      <div class="d-flex flex-column">
        <mat-form-field>
          <input matInput type="text"  [(ngModel)]="data.ref_number" name="ref_number"
                 placeholder="מס' אסמכתא" maxlength="50">
        </mat-form-field>
      </div>
    </div>

    <div class="text-center">
      <button class="btn blue-btn" (click)="submit()">עדכון</button>
    </div>
  </div>
</form>
