
<form #form="ngForm" (ngSubmit)="submit(form)" [formGroup]="number">
  <div class="row mt-lg-5">
    <div class="col-lg-2">
      <bd-select class="w-100" [items]="departments" formControlName="department_id"
                 placeholder="מחלקה"
                 required [error]="number.controls['department_id'].errors && form.submitted"></bd-select>
    </div>
    <div class="col-lg-2">
      <bd-select class="w-100" [items]="companies" formControlName="company_id"
                 placeholder="חברה מנהלת"
                 required [error]="number.controls['company_id'].errors && form.submitted">

      </bd-select>
    </div>
    <div class="col-lg-2">
      <bd-select class="w-100" [items]="employees" formControlName="employee_id"
                 placeholder="עובד"
                 (onScroll)="checkLoadEmployees($event)"
                 (serverFilter) = "filter($event, 'employee')"
                 label="nameFull"
                 (elementCreated)="checkLoadEmployees($event)"
                 [clientSideSearch]="false"
                ></bd-select>
    </div>
    <mat-form-field class="col-lg-2 top">
      <input matInput placeholder="מספר" formControlName="number" required>
      <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
    </mat-form-field>

  </div>
  <div class="row text-center">
    <button type="submit" class="btn blue-btn">הוספה</button>
  </div>
</form>
