<div class="border mt-5 mb-3">
  <div *ngFor="let comment of comments">
    <div class="divComment row mt-3">
      <div class="blue-color col-2 text-center bold">
        {{comment.name}}

      </div>
      <div class="col-10">
        <span class="bold mb-0point5 f-14 col-9">{{comment.company_name}}</span>
        <span class="mb-0point5 f-14 col-3">{{comment.process_name}}</span>
        <div class=" grey-color mb-0point5 col-12">{{comment.date}}</div>

      </div>
    </div>
    <div class="mr-3 mt-4">{{ comment.content }}</div>
  </div>
  <div class="d-flex mt-2 col-12">
    <mat-form-field appearance="outline" class="w-100">
      <input matInput placeholder="הוסף הערה" [(ngModel)]="comment" maxlength="200">
      <mat-icon matSuffix class="iconDesign pointer"  (click)="submit()">send</mat-icon>
    </mat-form-field>
  </div>
</div>
