
<app-data-table tableName="חשבונות חייבים" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="true"
                [hasActionsHeader]="true">
  <div class="table-header" >
    <div class="row mr-1">
      <div *ngIf="permissionsType" class="ml-3 d-flex mr-auto">
        <button [matMenuTriggerFor]="menu" class="btn white-btn">פעולות</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openProactiveInvoice()">חשבון יזום</button>
          <button mat-menu-item (click)="openManualInvoice()">חשבון ידני</button>
          <button mat-menu-item (click)="openTaxInvoice()">חשבונית מס/קבלה</button>
          <button mat-menu-item (click)="sendTransactionInvoice()">חשבונית עסקה</button>
          <button mat-menu-item (click)="openOnlyTaxInvoice()">חשבונית מס</button>
          <button mat-menu-item (click)="downloadInvoicesToExcel()">הורדה לאקסל</button>
          <button mat-menu-item (click)="openReports()">דו"חות</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items; let i=index;"  [ngClass]="{'highlight': item.error !== null}" style="height: 75px;">
    <td class="check-column"  [ngClass]="{'white': i%2 === 0}">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td [title]="item.error !== null ? error_status[item.error] : ''" [ngClass]="{'white': i%2 === 0}">{{item.employer_financial_details === null ? 'no_name' : item.employer_financial_details.employer_relation.name}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.project_name }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.green_invoice_document !== null ? item.green_invoice_document.number : ''}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.total_amount }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.ids_count }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.for_month  | date: 'MM/yy' }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.created_at  | date: 'dd/MM/yy' }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.last_payment_date  | date: 'dd/MM/yy'  }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ types[item.type] }}</td>
    <td class="select-status"  [ngClass]="{'white': i%2 === 0}">
      <mat-select [title]="setItemTitle(item)" class="p-2 border-radius-11" [ngClass]="{'gray-background-color': i%2 === 0 , 'white-background-color': i%2 !== 0 }"  name="status" placeholder="" [disabled]="!permissionsType" [(ngModel)]="item.status" (selectionChange)="setInvoiceStatus(item.id, item.status)" required>
        <mat-option *ngFor="let st of status" [value]="st.id">{{ st.name }}</mat-option>
      </mat-select>
    </td>
    <td [ngClass]="{'white': i%2 === 0}">
      <i class="fa fa-eye fa-lg pointer ml-3 mr-3" (click)="ShowRemarks(item)" title="הערות" ></i>
      <i class="fa fa-download fa-lg pointer ml-3" *ngIf="item.description != ''" title="פירוט עובדים בחשבונית"  (click)="downloadEmployeesExcel(item.id, item)"></i>

      <!--<img src="../../../../assets/img/icons/download-regular.png" *ngIf="item.description != ''" title="פירוט עובדים בחשבונית" class="pointer ml-3" (click)="downloadEmployeesExcel(item.id, item)">-->
      <i class="fa fa-exclamation-circle pointer ml-3" (click)="showInvoiceDetails(item)" title="פירוט רשומות" ></i>
    </td>
  </tr>
</app-data-table>
