<p class="h4 mb-4">חשבונות חייבים</p>
<div>
  <bd-select class="ml-3"  placeholder="מעסיק"></bd-select>
  <!--<bd-select [items]="departments" placeholder="מחלקה"></bd-select>-->
  <!--<bd-select [items]="selectStatuses" placeholder="סטטוס" [(ngModel)]="searchCriteria['status']" (onSelect)="search()" class="ml-3"></bd-select>-->
  <!--<mat-form-field class="col-2">-->
  <!--<input matInput class="pointer" (click)="datePickerRequest2.open()" [matDatepicker]="datePickerRequest2" placeholder=" תאריך יצירת בקשה" name="dateRequest2"  [(ngModel)]="searchCriteria['date_request2']" (dateChange)="valueDateChange2($event.value)" readonly>-->
  <!--<mat-datepicker-toggle matSuffix [for]="datePickerRequest2"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #datePickerRequest2></mat-datepicker>-->
  <!--<mat-error>שדה חובה.</mat-error>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<input matInput class="pointer" (click)="datePickerRequest.open()" [matDatepicker]="datePickerRequest" placeholder=" תאריך יצירת בקשה" name="dateRequest"  [(ngModel)]="searchCriteria['date_request']" (dateChange)="valueDateChange($event.value)" readonly>-->
    <!--<mat-datepicker-toggle matSuffix [for]="datePickerRequest"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #datePickerRequest></mat-datepicker>-->
    <!--<mat-error>שדה חובה.</mat-error>-->
  <!--</mat-form-field>-->
</div>
<table  class="table table-bordered table-hover mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
</table>
