<form #form="ngForm" dir="rtl">
  <label id="example-radio-group-label">יש לבחור את הדו"ח הרצוי:</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selectedReport" name="selectedReport">
    <mat-radio-button dir="rtl" class="example-radio-button" *ngFor="let report of reports;let index1 = index" [value]="report" [name]="selectedReport">
      {{report}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="selectedReport == reports[2]" class="w-100 h-75">
    <div class="w-50 h-auto m-auto">
    <mat-form-field dir="rtl" class="m-auto text-center">
      <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="בגין חודש" name="for_month" ngModel readonly required>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
    </div>
  </div>
</form>

<!--<div>הדו"ח הנבחר הוא: {{selectedReport}}</div>-->
<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">{{message}}</p>
<div mat-dialog-actions class="justify-content-center" style="text-align: center">
  <button class="btn pink-btn" (click)="submit(form)" style="margin: auto">הפק דו"ח</button>
</div>
