<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>הערות</span>
</div>
<table class="table my-3 dialog-table  pre-scrollable">
  <thead style="background-color: #555555;">
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" name="isCheckAll" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)" style="color: white; ">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!isSearching">
    <tr class="pointer">
      <td class="w-25">סכום בחשבונית</td>
      <td class="w-25"></td>
      <td class="w-25"></td>
      <td class="w-25"></td>
      <td class="w-25"></td>
    </tr>
    <tr class="pointer">
      <td class="w-25">סכום לפי הגדרת מעסיק</td>
      <td class="w-25"></td>
      <td class="w-25"></td>
      <td class="w-25"></td>
      <td class="w-25"></td>
    </tr>
  </ng-container>
  </tbody>
</table>
<ul id="commentsTable" class="pt-4">
  <li *ngFor="let comment of comments" class="d-flex">
    <span>{{ comment.updated_at | date: 'HH:mm dd/MM/yy' }}</span>
    <span class="mr-3 ml-1 bold">{{ comment.user_name + ':'}}</span>
    <span [title]=comment.content>{{ comment.content | truncate: 10 }}</span>
  </li>
</ul>
<!--<div class="py-4">-->
  <!--<mat-form-field class="w-100">-->
    <!--<textarea matInput placeholder="הערות" [(ngModel)]="comment" maxlength="200"></textarea>-->
    <!--<mat-hint>(עד 200 תווים)</mat-hint>-->
  <!--</mat-form-field>-->
<!--</div>-->
  <input class="form-control form-control-lg" type="text"  placeholder="הערות" [(ngModel)]="comment">
<!--<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>-->
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit()">שמור</button>
</div>
