<div class="text-center">
  <h1 class="mb-0 bold text-center">עסקים בתהליך</h1>
  <div class="container ">

    <form formGroup="form" >
      <div class=" form-group mt-5 text-center">

      </div>
      <div class="toAdd">
        <i class="fas fa-plus plus fa-2x" ></i>
        <img src="/assets/img/icons/Ellipse 530.svg" class="circle" routerLink="'/jobDetail'">
        <p class="p1">הוספת עסק חדש</p>

      </div>

<!--      <button  class="btn btn-black btn-lg mt-5" routerLink="/jobDetail" >הוספת עסק למערכת</button>-->
      <h2 class="text-center">ניתן להוסיף עסקים נוספים בהמשך</h2>

    </form>
  </div>
  </div


