<div class="col-12 f-12 mb-lg-5" *ngIf="location != 'operator'">
  <div class="float-left">
    <mat-form-field>
      <mat-select placeholder="חודש שכר" [(ngModel)]="month" name="month" class="ml-3"
                  (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mr-3">
    <mat-select placeholder="שנה" [(ngModel)]="year" name="year" (selectionChange)="dataTable.search()">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="px-4" [ngClass]="{'operator-container':
                location == 'operator' }">
<app-data-table tableName="תהליכים" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="true"
                [hasActionsHeader]="false"   >
  <div class="table-header">
    <div class="row mt-4">
      <div class="float-left">
        <button [matMenuTriggerFor]="menu" class="btn blue-btn mr-2">פעולות</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openWarningMessageComponentDialog(false)">הפוך ללא רלונטי</button>
          <button mat-menu-item (click)="openWarningMessageComponentDialog(true)">הפוך לרלונטי</button>
          <button mat-menu-item (click)="openCommentsDialog()">הוסף הערה</button>
        </mat-menu>
      </div>
      <div class="ml-3 d-flex mr-auto">
        <button class="btn blue-btn" (click)="redirectProcessNew()" *ngIf="location != 'operator'">תהליך חדש</button>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }">
    <td class="check-column">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td  (click)="moveProcess(item)">{{ item.created_at | date:'dd/MM/yyyy'}}</td>
    <td  (click)="moveProcess(item)"  [ngClass]="{'blue':  getType(item.type) == 1, 'red': getType(item.type) == -1}">{{ item.name }}</td>
    <td  (click)="moveProcess(item)">{{ item.id }}</td>
    <!--<td  (click)="moveProcess(item)">{{  processType[item.type] }}</td>-->
    <td  (click)="moveProcess(item)">{{ item.organization_name }}</td>
    <td  (click)="moveProcess(item)">{{ item.employer_name }}</td>
    <td  (click)="moveProcess(item)">{{ item.department_name }}</td>
    <td  (click)="moveProcess(item)" *ngIf="role === 'admin'">{{ item.operator_name }}</td>
    <td  (click)="moveProcess(item)">{{ item.date | date:'MM'}}</td>
    <td  (click)="moveProcess(item)">{{ item.date | date:'yyyy' }}</td>
    <td  (click)="moveProcess(item)">{{ item.total | number: '1.2-2'}}</td>
    <td (click)="moveProcess(item)">
      <div class="row">
        <div class="w-75" *ngIf="item.is_relevant">{{ processStatus[item.status] }}</div>
        <div class="w-75" *ngIf="!item.is_relevant">לא רלוונטי</div>
        <div class="w-25" *ngIf="processStatus[item.status] == processStatus.error_loading"><img src="/assets/img/icons/warning.svg" class="img-size"></div>
      </div>
    </td>
    <td  (click)="moveProcess(item)" [title]="getTitle(item.status_process, item.status_feedback)">{{item.status_process == 5 && item.status_feedback == 'part_feedback_a' ?
      '5/6 חלקי' :
      item.status_process == 6 && item.status_feedback == 'part_feedback_l'? '6/6 חלקי' : item.status_process
      + '/6' }} </td>
    <td (click)="openCommentsDialog(item)">
      <i *ngIf="item.count_comments === 0" class="fa fa-comment-o"></i>
      <i *ngIf="item.count_comments > 0" class="fa fa-comment"></i>
      {{item.comments }}
    </td>
    <td *ngIf="isDisplay">
      <div class="row">
      <i class="fa fa-download fa-lg ml-2" (click)="downloadFileProcess(item.id)"></i>
      <i class="fa fa-trash fa-lg" (click)="deleteProcess(item.id)" title="מחיקה"></i>
      </div>
    </td>
    <!--<td>-->
      <!--<i class="fa fa-angle-double-left" (click)="detailsFiles(item)"></i>-->
    <!--</td>-->
  </tr>
</app-data-table>
</div>
