<app-data-table tableName="תהליכי חישוב " [hasActionsSearch]="true" [columns]="columns" (fetchItems)="fetchItems()"
                [hasActionsHeader]="false" [hasCheckColumn]="false">
  <div class="table-header">
    <div class="row mt-4 mr-1">
      <div class="float-left">
        <p>במסך זה ניתן לצפות בתהליכי חישוב.</p>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items; let i=index;" [ngClass]="{'highlight': item.error !== null}" >
    <td [ngClass]="{'white': i%2 === 0}">{{ item.created_at | date: 'dd/MM/yy'}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.count_employers }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.count_employees }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.amount_invoices }}</td>
  </tr>
</app-data-table>
<router-outlet></router-outlet>
