.rounded {
  border-radius: 1.25rem !important;
}
.shadow-lg {
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.275) !important;
}

.colorblue
{
  color:#00adee;
}

.height300
{
  height: 300px;
}

.height200
{
  height: 200px;
}
.marginTop
{
margin-top: 0.65rem !important;
}

.overflowDiv
{
   overflow-y: auto; padding-top: 20px
}
