<p class="h4 mb-4">מעקב יתרות לפיצוים</p>
<div class="row col-12 mb-3">
  <div class="col-2">
  <bd-select  [items]="employers" placeholder="מעסיק" [(ngModel)]="searchCriteria['employee']" (onSelect)="search()"></bd-select>
  </div>
</div>
<div class="row col-12">
<div  class="col-2 marginTop">
  <bd-select  [items]="sourceType" placeholder="מקור המידע" [(ngModel)]="searchCriteria['source_type']" (onSelect)="search()" >
  </bd-select>
</div>
  <div  class="col-2 marginTop ml-3">
    <bd-select [items]="users" placeholder="יוצר בקשה" label="username" [(ngModel)]="searchCriteria['user_id']" (onSelect)="search()"></bd-select>
  </div>

  <mat-form-field class="col-2">
    <input matInput  [max]="searchCriteria['dateTo']" class="pointer" (click)="datePickerFrom.open()" [matDatepicker]="datePickerFrom" placeholder=" מ תאריך" name="dateFrom"  [(ngModel)]="searchCriteria['dateFrom']" (dateChange)="valueDateChange($event.value,'dateFrom')" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #datePickerFrom></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>

  <mat-form-field class="col-2">
    <input matInput  [min]="searchCriteria['dateFrom']" class="pointer" (click)="datePickerTo.open()" [matDatepicker]="datePickerTo" placeholder="עד תאריך" name="dateTo"  [(ngModel)]="searchCriteria['dateTo']" (dateChange)="valueDateChange($event.value,'dateTo')" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
    <mat-datepicker #datePickerTo></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
  <button class="col-3" class="btn blue-btn h-75" *ngIf="isSearchActive()" (click)="resetSearch()">אפס חיפוש</button>
</div>

<div  class="offset-1 row col-12 mt-lg-5" >

  <div class="col-3 ml-5 border border-light shadow-lg  p-5 mb-5 bg-white rounded heightdiv300">
    <p class="h6 font-weight-bold colorblue mb-3"> בקשות</p>
    <p>
      <span>סך הכל: </span>
      <span class="m-1 font-weight-bold">{{request_company['sum']}}</span>
    </p>
    <p>
      <span>בקשות בתהליך:</span>
      <span class="m-1 font-weight-bold">{{request_company['request_p']}}</span>
    <p>
    <span>בקשות תקלות:</span>
    <span class="m-1 font-weight-bold" >{{request_company['request_e']}}</span>
    </p>
    <p>
      <span>בקשות שהועברו לטיפול:</span>
      <span class="m-1 font-weight-bold">{{request_company['request_inq']}}</span>
    </p>
    <p>
      <span>בקשות שטופלו:</span>
      <span class="m-1 font-weight-bold">{{request_company['request_inq_treat']}}</span>
    </p>
  </div>
  <div class="col-3 ml-5 border border-light shadow-lg p-5 mb-5 bg-white rounded heightdiv300">
        <p class="h6 font-weight-bold colorblue mb-3"> בקשות פתוחות -<span class="font-weight-normal"> חברות מנהלות </span></p>
   <div class ="pre-scrollable heightdiv200" >
    <p *ngFor="let key  of objectKeys(request)">
      <span  >{{key}}</span>:
      <span class="m-1 font-weight-bold">{{request[key] }}</span>
    </p></div>
  </div>
  <div  class="col-3 border border-light shadow-lg p-5 mb-5 bg-white rounded heightdiv300">
    <p   class="h6 font-weight-bold colorblue mb-3"  >ימי טיפול</p>
    <p>
      <span>0-2 ימי טיפול:</span>
      <span class="m-1 font-weight-bold">{{response_time['until_two']}}</span>
    </p>
    <p>
      <span>3-4 ימי טיפול:</span>
      <span class="m-1 font-weight-bold">{{response_time['until_three']}}</span>
    </p>
    <p>
      <span>5+ ימי טיפול:</span>
      <span class="m-1 font-weight-bold">{{response_time['more_four']}}</span>
    </p>
  </div>
</div>



