<form #form="ngForm" (ngSubmit)="submit(form)">
  <p class="h4 mb-4">'יצירת משתמש חדש'</p>
  <div class="row col-12">
    <div class="col-4">
      <mat-form-field class="row col-12">
        <input matInput type="text" [ngModel]="" #name="ngModel" placeholder="שם משתמש" name="username" required>
      </mat-form-field >
      <mat-form-field class="row col-12">
        <input matInput type="text" [ngModel]="" #businessNumber="ngModel" placeholder="שם פרטי" name="businessNumber" required pattern="^\d{9}$">
      </mat-form-field>
      <mat-form-field class="row col-12">
        <input matInput placeholder="כתובת מייל" name="email" type="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      </mat-form-field>
      <p  style="padding-bottom: 3px; padding-top: 20px" class="h4 mb-4">בחר סוג משתמש ראשי</p>
      <mat-form-field class="row col-12">
        <input matInput type="text" [ngModel]="" #instituteCode8="ngModel" placeholder="סוג משתמש" name="instituteCode8" pattern="^\d{8}$">
      </mat-form-field>
      <mat-checkbox class = "onoffswitch-checkbox"  name="onoffswitch"  [(ngModel)] = "checkboxValue" >

    </div>
    <div class="col-4">
      <mat-form-field class="row col-12">
        <input matInput  placeholder="שם משפחה" name="mobile" type="text"  value="">
      </mat-form-field>
      <mat-form-field class="row col-12">
        <input matInput placeholder="כתובת מייל" name="email" type="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      </mat-form-field>
      <mat-form-field class="row col-12">
        <input matInput placeholder="פקס" name="fax" type="text" >
      </mat-form-field>
      <mat-form-field class="row col-12">
        <input matInput type="text"  placeholder="כתובת" name="address">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-6 w-100p">
      <input type="text" matInput placeholder="הערות" name="comments">
    </mat-form-field>
  </div>
  <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
  <div style="padding-right: 1400px">
    <button class="btn blue-btn" type="submit">שלח</button>
  </div>
</form>
