#comments {
  width: 635px;
}

.bd-width181 {
  width: 181px;
  margin-top: 10px;
}


.bd-min-width {
  min-width: 10px !important;
}


.bd-width {
  width: 175px;
  margin-top: 10px;
}
.disabledInput {
  pointer-events: none;
  opacity: 0.4;
}
.edit-icon {
  cursor: pointer;
  width: 36px;
  margin-top: 12px;
}

