<div class="mr-5 px-4">
  <p class="h4 mb-4">הקמת מעסיק</p>
  <p class="f-12 bold mt-5">פרטים</p>
  <form  #form="ngForm" (ngSubmit)="submit(form)"  [formGroup]="newEmployerForm">
    <div formGroupName="employerDetails">
      <div>
        <mat-form-field class="pl-5">
          <mat-select matInput placeholder="ארגון" formControlName="organization">
            <mat-option *ngFor="let organization of organizations" [value]="organization.id" (onSelectionChange)="getOperator(organization.id)">
              {{organization.value}}
            </mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="שם מעסיק" formControlName="name">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="מספר ח.פ" formControlName="businessNumber" maxlength="9">
          <mat-error>ח.פ אינו תקין</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר תיק ניכויים" formControlName="deductionNumber" maxlength="9">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="כתובת מייל" formControlName="email">
          <mat-error>כתובת מייל לא תקינה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="טלפון" formControlName="address">
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="כתובת" formControlName="phone">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select matInput placeholder="פרוייקט" formControlName="project">
            <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <mat-select matInput placeholder="מנהל תיק" formControlName="operator">
            <mat-option *ngFor="let operator of operators" [value]="operator.id">{{operator.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <mat-select matInput placeholder="סטטוס" formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="סוג מזהה לשליחה" formControlName="identifierType" maxlength="9">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field  class="mr-5">
          <input matInput placeholder="מספר מזהה לשליחה" formControlName="sendingNumber" maxlength="9">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="קוד מוסד(5)" formControlName="institutionCode5" maxlength="5">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד(8)" formControlName="institutionCode8" maxlength="8">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
    </div>
      <p class="bold h5 mt-5">כרטיס מחלקה</p>
      <div formGroupName="department">
        <div>
          <mat-form-field>
            <input matInput placeholder="מספר מחלקה" formControlName="number" maxlength="9">
          </mat-form-field>
          <mat-form-field class="mr-5">
            <input matInput placeholder="שם מחלקה" formControlName="name" maxlength="9" required>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>
        </div>
      </div>
    <p class="bold mt-5">חשבון בנק משלם</p>
    <div class="d-flex" formGroupName="payingBank">
          <div class="bd-width">
            <bd-select  [items]="banks" formControlName="name" required [(ngModel)]="selectedBank1"  placeholder="בחר בנק" (onSelect)="getBranches(1)" [error]="!selectedBank1 && form.submitted"></bd-select>
          </div>
          <div class="bd-width mr-5">
            <bd-select [items]="branches1" formControlName="branch" [(ngModel)]="selectedBranch1"  placeholder="בחר סניף" [error]="!selectedBranch1 && form.submitted"></bd-select>
          </div>
          <mat-form-field class="mr-5">
            <input matInput placeholder="מספר חשבון" formControlName="number" required maxlength="8">
            <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
          </mat-form-field>
        </div>
    <p class="bold mt-5">חשבון להחזר כספים</p>
    <div class="d-flex" formGroupName="receivingBank">
          <div class="bd-width">
             <bd-select [items]="banks" formControlName="name" [(ngModel)]="selectedBank2" placeholder="בחר בנק" (onSelect)="getBranches(2)" required [error]="!selectedBank2 && form.submitted"></bd-select>
          </div>
          <div class="bd-width mr-5">
            <bd-select [items]="branches2" formControlName="branch"  [(ngModel)]="selectedBranch2" placeholder="בחר סניף" required [error]="!selectedBranch2 && form.submitted"></bd-select>
          </div>
          <mat-form-field class="mr-5">
            <input matInput placeholder="מספר חשבון" formControlName="number" required maxlength="8">
            <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
          </mat-form-field>
        </div>
    <mat-form-field id="comments">
      <input matInput placeholder="הוספת הערות" formControlName="comments">
    </mat-form-field>
    <div class="mt-3 pb-3">
      <p class="alert alert-danger w-50" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
      <button type="submit" class="btn blue-btn">שמור</button>
    </div>
  </form>
</div>
