<div class="mr-5 px-4">
  <form  #form="ngForm" (ngSubmit)="submit(form)"  [formGroup]="newEmployerForm">
    <div formGroupName="employerDetails">
    <p class="h4 mb-4">הקמת ארגון</p>
      <div class="d-flex">
        <mat-form-field [ngClass]="{'disabledInput' : !isEdit}">
          <input matInput placeholder="ארגון חדש" formControlName="newOrganization" [(ngModel)]='newOrganization'
                 [required]="isEdit">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <div>
          <img src="/assets/img/icons/edit_grey.png" class="row-image edit-icon"
               (click)="enableOrganization( form, isEdit)">
        </div>
      </div>
    <p class="h4 mb-4">הקמת מעסיק</p>
    <p class="f-12 bold mt-5">פרטים</p>
      <div class="d-flex">
        <div class="bd-width181" [ngClass]="{'disabledInput' : isEdit}">
          <bd-select [items]="organizations" formControlName="organization"
                     [required]="!isEdit" placeholder="ארגון" label="value"
                     (onSelect)="getOperator($event)"
                      class="bd-min-width" [error]="organizationId==0 && form.submitted && !isEdit"  ></bd-select>
        </div>
        <mat-form-field  class="mr-5">
          <input matInput placeholder="שם מעסיק" formControlName="name" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="מספר ח.פ" formControlName="businessNumber" maxlength="9" required>
          <mat-error>ח.פ אינו תקין</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר תיק ניכויים" formControlName="deductionNumber" maxlength="9">
        </mat-form-field>
      </div>
      <div>
        <!--<mat-form-field>-->
          <!--<input matInput type="email" placeholder="כתובת מייל" formControlName="email">-->
          <!--<mat-error>כתובת מייל לא תקינה</mat-error>-->
        <!--</mat-form-field>-->
        <mat-form-field>
          <input matInput placeholder="טלפון" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="כתובת" formControlName="address">
        </mat-form-field>
      </div>
      <div class="d-flex">
        <div class="bd-width181">
          <bd-select [items]="projects" formControlName="project"
                     required placeholder="פרוייקט"
                     class="bd-min-width" [error]="form.submitted &&
                     newEmployerForm.controls['employerDetails'].value.project === null"  ></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="operators" formControlName="operator"
                      required placeholder="מנהל תיק"
                     class="bd-min-width" [error]="form.submitted &&
                     newEmployerForm.controls['employerDetails'].value.operator === null"  ></bd-select>
        </div>
        <mat-form-field class="mr-5">
          <mat-select matInput placeholder="סטטוס" formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select matInput placeholder="סוג תשלום" formControlName="paymentType">
            <mat-option *ngFor="let payment of paymentType" [value]="payment.id">{{payment.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field  class="mr-5">
          <input matInput placeholder="קוד מוסד(5)" formControlName="institutionCode5" maxlength="5"
                 [required]="newEmployerForm.controls['employerDetails'].value.paymentType === 'masav'">
          <mat-error>קוד מוסד לא תקין</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד(8)" formControlName="institutionCode8" maxlength="8"
                 [required]="newEmployerForm.controls['employerDetails'].value.paymentType === 'masav'">
          <mat-error>קוד מוסד לא תקין</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <div class="bd-width181">
          <bd-select [items]="identifierTypes" formControlName="identifierType"
                     required placeholder="סוג מזהה לשליחה"
                     class="bd-min-width" [error]="form.submitted && newEmployerForm.controls['employerDetails'].value.identifierType === null"  ></bd-select>
        </div>
        <mat-form-field  class="mr-5">
          <input matInput placeholder="מספר מזהה לשליחה" formControlName="sendingNumber" maxlength="9" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
    </div>
      <p class="bold h5 mt-5">כרטיס מחלקה</p>
      <div formGroupName="department">
          <mat-form-field>
            <input matInput placeholder="שם מחלקה" formControlName="name" maxlength="9" required>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>
      </div>
    <p class="bold mt-5">חשבון בנק משלם</p>
    <div class="d-flex" formGroupName="payingBank">
          <div class="bd-width">
            <bd-select  [items]="banks" formControlName="name" required [(ngModel)]="selectedBankD"  placeholder="בחר בנק" (onSelect)="getBranches(1)" [error]="!selectedBankD && form.submitted"></bd-select>
          </div>
          <div class="bd-width mr-5">
            <bd-select [items]="branchesD" formControlName="branchId" [(ngModel)]="selectedBranchD"  placeholder="בחר סניף" [error]="!selectedBranchD && form.submitted"></bd-select>
          </div>
          <mat-form-field class="mr-5">
            <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
            <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
          </mat-form-field>
      <i class="fa fa-copy fa-2x pointer blue-color mr-3 mt-3" title="העתק פרטי חשבון" (click)="copyBankRow()" *ngIf="validCopy()"></i>
    </div>
    <p class="bold mt-5">חשבון להחזר כספים</p>
    <div class="d-flex" formGroupName="receivingBank">
          <div class="bd-width">
             <bd-select [items]="banks" formControlName="name" [(ngModel)]="selectedBankW" placeholder="בחר בנק" (onSelect)="getBranches(2)" required [error]="!selectedBankW && form.submitted"></bd-select>
          </div>
          <div class="bd-width mr-5">
            <bd-select [items]="branchesW" formControlName="branchId"  [(ngModel)]="selectedBranchW" placeholder="בחר סניף" required [error]="!selectedBranchW && form.submitted"></bd-select>
          </div>
          <mat-form-field class="mr-5">
            <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
            <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
          </mat-form-field>
    </div>
    <mat-form-field id="comments">
      <input matInput placeholder="הוספת הערות" formControlName="comments">
    </mat-form-field>
    <div class="mt-3 pb-3">
      <p class="alert alert-danger w-50" [@fade]="hasServerError ? 'active' : 'inactive'">ח.פ זה קיים לארגון.</p>
      <button type="submit" class="btn blue-btn">שמור</button>
    </div>
  </form>
</div>
