#comments {
  width: 635px;
}

.bd-width {
  width: 175px;
  margin-top: 10px;
}
.disabledInput {
  pointer-events: none;
  opacity: 0.4;
}
.edit-icon {
  cursor: pointer;
  width: 36px;
  margin-top: 12px;
}

