<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{ processDataService.activeProcess.name + ' '
    + processDataService.activeProcess.month + ' '
    + processDataService.activeProcess.year }}</th>
    <td scope="col">{{ processDataService.activeProcess.month }}</td>
    <td scope="col">{{ processDataService.activeProcess.year }}</td>
  </tr>
  </thead>
</table>
<span (click)="back('new')" class="float-right">
       <p class="pointer mt-5 grey-color">
         <i class="fa fa-angle-right ml-1"></i>
         <span>חזור</span>
       </p>
     </span>
<table class="table table-borderless">
  <thead>
  <tr>
    <td colspan="4">
      <span>פירוט  </span>
      <span [hidden]="type !== 'records'">רשומות</span>
      <span [hidden]="type !== 'files'">קבצים</span>
    </td>
  </tr>
  <tr class="thborder"><td colspan="2">פרטי התשלומים</td></tr>
  </thead>
  <tbody class="f-12">
  <tr>
    <td>שם המעסיק:</td>
    <td>ח.פ:</td>
    <td>שם מחלקה:</td>
    <td>שם התהליך:</td>
  </tr>
  <tr>
    <td>סכום לתשלום:</td>
    <td>מספר תהליך:</td>
    <td>חודש שכר:</td>
    <td [hidden]="type !== 'records'">מספר רשומות:</td>
    <td [hidden]="type !== 'files'">סה"כ קבוצות ששודרו:</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>מספר קבצים:</td>
  </tr>
  </tbody>
</table>
<app-detailed-files *ngIf="type === 'files'"></app-detailed-files>
<app-detailed-records *ngIf="type === 'records'"></app-detailed-records>
