.login-background{
  width: 100%;
  height: 900px;
  background: #FBFBFB 0% 0% no-repeat padding-box;
  padding-top: 120px;
}

.center{
  background-color: white;
  padding-bottom: 70px;
  width: 30%;
  margin: auto;
  padding-top: 100px;
}

.orange{
  top: 97px;
  left: 760px;
  width: 82px;
  height: 60px;
  text-align: left;
  font: normal normal normal 46px/60px ScriptoramaMarkdownJF;
  color: #FF7C31;
}

#input_container {
  position:relative;
  direction: rtl;
  margin-top: 15px;
}

#input {
  margin:0;
}

#input_img {
  position:absolute;
  bottom:1px;
  right:260px;
  width:24px;
  height:30px;
  background: transparent 0% 0% no-repeat padding-box;
  color:#E2E2E2;
  cursor: pointer;
}
