<div class="background">
  <h1>מערכת פיננסית <span class="orange">EMX</span></h1>
  <div class="center">
    <p class="header">כניסה למערכת</p>
    <form #form="ngForm" class="align-content-center" (ngSubmit)="login(form)" novalidate>
      <div class="w-50 margin-auto mb-5" >
        <p>הזן אמייל</p>
        <input class="form-control" type="text" name="email" #email="ngModel" ngModel required>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">יש להזין אימייל.</mat-error>
      </div>
      <div class="w-50 margin-auto">
        <p class=" mt-4">הזן סיסמא </p>
        <div id="input_container">
          <input class="form-control" [type]="hide ? 'password' : 'text'" id="input" name="password" #password="ngModel" ngModel required>
          <i class="fa fa-eye fa-1x" id="input_img" (click)="togglemyPasswordFieldType()"></i>
        </div>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">יש להזין סיסמה.</mat-error>
        <a class="underline f-12 float-left pink-color mt-3" (click)="forgotPassword(form)">שכחתי סיסמה</a><br>
      </div>
      <p class="alert alert-danger my-3" [@fade]="hasServerError ? 'active' : 'inactive'">
        <i class="fa fa-exclamation-circle ml-2" ></i>
        <span>אימייל או סיסמה לא נכונים.</span>
      </p>
      <p class="alert alert-warning my-3" [@fade]="massage ? 'active' : 'inactive'">
        <span>נשלח מיייל לאיפוס סיסמא</span>
      </p>
      <div class="text-center mt-4">
        <button type="submit" class="btn pink-btn btn-lg f-18 bold border-radius-28 mt-3"  [disabled]="isSubmitting">התחברות</button>
      </div>
    </form>
  </div>
</div>
