<p class="mb-0 f-14 bold">כניסה למערכת</p>
<form #form="ngForm" (ngSubmit)="login(form)" novalidate>
  <mat-form-field class="w-100">
    <i matPrefix class="fa fa-user"></i>
    <input matInput type="text" name="username" #username="ngModel" ngModel placeholder="שם משתמש" required>
    <mat-error *ngIf="username.errors">יש להזין שם משתמש.</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <i matPrefix class="fa fa-lock"></i>
    <input matInput type="password" name="password" #password="ngModel" ngModel placeholder="סיסמה" required>
    <mat-error *ngIf="password.errors">יש להזין סיסמה.</mat-error>
  </mat-form-field>
  <div class="text-center">
    <button type="submit" class="btn blue-btn f-18 bold">התחברות</button>
  </div>
</form>
