span {
	margin: 8px 0 0 4px;
	font-size: 14px;
}

.pagination {
	padding: 0;
}

.page-link {
	margin-left: 0;
	border-radius: 0 !important;
}

.blue-theme .page-link {
	color: #00adee;
	border-color: #00adee;
}

.green-theme .page-link {
	color: #00adee;
	border-color: #00adee;
}

.page-item.active .page-link {
	color: #fff;
}

.blue-theme .page-item.active .page-link {
	background-color: #00adee;
}

.green-theme .page-item.active .page-link {
	background-color: #00adee;
}
