<div class="dialog-header">
  <button mat-dialog-close (click)="close()" >
    <i class="fa fa-close"></i>
  </button>  <span>בחר מתפעל</span>
</div>
<form #form="ngForm">
<div class="d-flex align-items-center py-4">
  <div class="w-50">
    <div class="bd-width181">
      <bd-select [items]="operators" name="operator"  [(ngModel)]="operatorId"
                 required placeholder="מנהל תיק"
                 class="bd-min-width" [error]="form.submitted && operatorId==0"  ></bd-select>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit()">הוספה</button>
</div>
</form>
