span {
	margin: 8px 0 0 4px;
	font-size: 14px;
}

.pagination {
	padding: 0;
  margin: auto;
}

.page-link {
	margin-left: 0;
	border-radius: 0 !important;
}

.blue-theme .page-link {
	color: #E82D5C;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  border-radius: 50px !important;
  margin-left: 5px;
}

.green-theme .page-link {
	color: #E82D5C;
	border-color: #E82D5C;
}

.page-item.active .page-link {
	color: #fff;
}

.blue-theme .page-item.active .page-link {
	background-color: #E82D5C;
}

.green-theme .page-item.active .page-link {
	background-color: #E82D5C;
}
/*.mb-3{*/
  /*margin: auto !important;*/
/*}*/
.sss {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  /*padding-right:790px;*/
  padding-bottom: 10px;
}
.bold{
  color: #E82D5C;
}
