<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left" (click)="dialogRef.close()">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="mt-1">
  <h5 class="bold blue-color">{{create ? 'יצירת קבוצה חדשה' :  'הוספת מעסיקים לקבוצה' }}</h5>
  <p *ngIf="add">המעסיקים יתווספו לקבוצה הבאה:</p>
</div>
<form  #form="ngForm" class="" *ngIf="!results" [formGroup]="groupForm">
  <div >
    <div mat-dialog-content class="my-3 flex-grow-1">
      <div class="col-12 text-center" *ngIf="add">
        <p class="my-3 mt-5 h4">{{ groupName }}</p>
      </div>
      <div class="col-12 text-center" *ngIf="create">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="name" name="groupName" formControlName="groupName"
                 placeholder="שם הקבוצה" maxlength="50">
        </mat-form-field>
      </div>
      <label class="input-group mt-4 w-50 mr-7 border">
        <input type="file" accept=".xlsx, .xls"  (change)="uploadFile($event.target.files[0])">
        <div class="form-control pointer">{{ file ? (file.name | truncate: 11) : 'העלאת קובץ אקסל' }}
          <img src="app/../assets/img/icons/upload.svg" class="mr-5">
        </div>
      </label>
      <p class="alert alert-danger" *ngIf="!file && !hasFileTypeError && hasFileNoUpload">יש לבחור קובץ.</p>
      <p class="alert alert-danger" *ngIf="hasFileTypeError">
        <i class="fa fa-exclamation-circle ml-2"></i>
        <span>יש להעלות קובץ אקסל בלבד.</span>
      </p>
      <div *ngIf="isSubmitting" class="mb-3">
        <p class="text-center bold">הקובץ בטעינה...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <button mat-button class="mr-3 btn blue-btn w-40" (click)="downloadExample()">הורד קובץ לדוגמא</button>
    <button mat-button class="btn blue-btn mr-5 w-40" (click)="submit()">{{create ? 'צור קבוצה' : 'הוספה לקבוצה' }}</button>
  </div>
</form>

