<div class="mt-lg-5" [ngClass]="{'operator-table': pathEmployers }">
  <app-data-table (fetchItems)="fetchItems()"  [columns]="columns" [hasActionsSearch]="false"
                  [hasExtendedSearch]="true" [hasCheckColumn]="false" [hasActionsHeader]="role">
    <div class="table-header" >
      <div class="row mt-4 mr-1" [ngClass]="{'operator-container': !pathEmployers }">
        <div class="ml-3 d-flex mr-auto mb-3">
          <button class="btn blue-btn" [routerLink]="['./', 'form']"
                  *ngIf="role">הוספת איש קשר</button>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer">
      <td>{{ item.organization_name }}</td>
      <td>{{ item.employer_name }}</td>
      <td>{{ entity_types[item.entity_type] }}</td>
      <td>{{ item.first_name + ' ' + item.last_name}}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.comment }}</td>
      <td *ngIf="role">
        <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.employer_contact_id]" class="row-image">
      </td>
    </tr>
  </app-data-table>
</div>
