
<div class="d-flex align-content-between w-75">
  <bd-select [items]="employees" placeholder="בחר עובד" [(ngModel)]="searchCriteria['employee_id']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="products" placeholder="בחר קופה" [(ngModel)]="searchCriteria['product_id']" (onSelect)="search()" class="ml-3"></bd-select>
  <mat-form-field class="ml-3">
    <input matInput placeholder="חיפוש" [(ngModel)]="searchCriteria['value']" (change)="search()">
    <i matSuffix class="fa fa-search"></i>
  </mat-form-field>


  <button class="btn blue-btn h-75" *ngIf="isSearchActive()" (click)="resetSearch()">אפס חיפוש</button>

    <button mat-button [matMenuTriggerFor]="menu" class="btn blue-btn  mr-5 mt-2 float-left h-75">פעולות</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openWarningMessageComponentDialog(true)">הפוך ללא רלוונטי</button>
      <button mat-menu-item (click)="openGroupTransferDialog()">העבר קבוצה</button>
      <button mat-menu-item (click)="openWarningMessageComponentDialog(false)">מחק רשומה</button>
      <!--<button mat-menu-item>תהליך תיקון</button>-->
    </mat-menu>

</div>
<!--[matTooltip]="'מיין לפי ' + header.label"-->
<table class="table mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!isSearching">
      <tr *ngFor="let item of paginatedItems" class="pointer" [ngClass]="{ 'checked': item.isChecked }">
        <td>
          <mat-checkbox (change)="checkItem(item, $event.checked)" [checked]="isCheckAll"></mat-checkbox>
        </td>
        <td>{{ item.first_name + ' ' + item.last_name}}</td>
        <td>{{ item.personal_id }}</td>
        <td>{{ item.deposit_type }}</td>
        <td>{{ item.employer_product_code }}</td>
        <td>{{ item.employer_product_name }}</td>
        <td>{{ item.employer_product_type }}</td>
        <td>{{ item.deposit_status }}</td>
        <td>{{ item.prodect_code }}</td>
        <td>{{ item.payment_month | date: 'dd/MM/yy' }}</td>
        <td>{{ item.payment_month | date: 'dd/MM/yy' }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.sum_compensation }}</td>
        <td>{{ item.sum_employer_benefits }}</td>
        <td>{{ item.sum_employee_benefits }}</td>
      </tr>
    </ng-container>
    <tr *ngIf="!isSearching && items.length === 0">
      <td colspan="19" class="text-center bold">טבלת הבקשות ריקה.</td>
    </tr>
    </tbody>
  </table>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
