<div class="extend">
  <app-data-table tableName="" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="true" [hasActionsHeader]="false">
    <div class="table-header">
      <div class="row mt-4 mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button [matMenuTriggerFor]="menu" class="btn blue-btn mr-2">פעולות</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="this.processDataService.activeProcess.incorrect" (click)="markValid()">סמן כתקין</button>
            <button mat-menu-item *ngIf="!this.processDataService.activeProcess.incorrect" (click)="openWarningMessageComponentDialog(true)">הפוך ללא רלוונטי</button>
            <button mat-menu-item *ngIf="!this.processDataService.activeProcess.incorrect" (click)="openGroupTransferDialog()">העבר קבוצה</button>
            <button mat-menu-item *ngIf="!this.processDataService.activeProcess.incorrect" (click)="openWarningMessageComponentDialog(false)">מחק רשומה</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }"
        (title)="getTitleError(item.defrayal_error)">
      <td class="check-column">
        <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
      </td>
      <td  (click)="editPayments(item)" class="blue-color">{{ item.first_name + ' ' + item.last_name}}</td>
      <td [ngClass]="{'red-color': setColorError(item.defrayal_error, ['01','02', '03', '04', '05'])}">{{ item.personal_id }}</td>
      <td>{{ depositTypes[item.deposit_type] }}</td>
      <td>{{ item.employer_product_code }}</td>
      <td>{{ item.employer_product_name }}</td>
      <td>{{ productType[item.employer_product_type] }}</td>
      <td>{{ depositStatus[item.deposit_status] }}</td>
      <td [ngClass]="{'red-color': setColorError(item.defrayal_error, ['06'])}">{{ employeeStatus[item.employee_status] }}</td>
      <td>{{ item.product_code }}</td>
      <td>{{ item.salary_month | date: 'MM/yy' }}</td>
      <td>{{ item.salary | number: '1.2-2' }}</td>
      <td>{{ item.sum_compensation | number: '1.2-2'}}</td>
      <td>{{ item.sum_employer_benefits | number: '1.2-2' }}</td>
      <td>{{ item.sum_employee_benefits | number: '1.2-2'}}</td>
      <td>{{ item.amount | number: '1.2-2'}}</td>
    </tr>
  </app-data-table>
</div>
