<app-data-table tableName="מעסיקים" [columns]="columns"  [hasExtendedSearch]="false" [hasCheckColumn]="false">
  <div class="table-header">
    <div class="row mt-4 mr-1">
      <div class="ml-3 d-flex mr-auto">
        <button class="btn blue-btn ml-1" (click)="openExcelEmployersDialog()">העלאת קובץ </button>
        <button class="btn blue-btn " [routerLink]="['./', 'form']">הוספת מעסיקים</button>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items" class="pointer">
    <td>{{ item.name }}</td>
    <td>{{ item.Identifier }}</td>
    <td>{{ item.phone }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.institution_code_5 }}</td>
    <td>{{ item.institution_code_8 }}</td>
    <td>
      <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
    </td>
  </tr>
</app-data-table>

