<form #form="ngForm" class="mt-5">
  <h5 class="bold">שידור תשלומים וקבצים לקופות</h5>
  <div class="row mr-0 pr-0 mt-3 bold"  *ngIf="processLoading.process_details">
      <div class="f-14">
        שידור קבצים:
        {{processDataService.activeProcess.num_file}} מתוך {{processLoading.process_details.groups_count}}
      </div>
     <span class="red-color mr-1 f-12 line-height-2" *ngIf="processLoading.process_details.total > processDataService.activeProcess.sum">שים לב שאתה משדר חלקית לקופות</span>
  </div>
  <div class="row mr-0 pr-0 mt-3 d-flex bold f-14"  *ngIf="processLoading.process_details">
        סכום תשלומים בפעול:
        {{processDataService.activeProcess.sum}} מתוך {{processLoading.process_details.total}}
  </div>

  <div class="float-left mt-5">
    <button class="btn blue-btn" (click)="transfer()" [disabled]= "processDataService.activeProcess.rows_status">
      שידור לקופות
    </button>
  </div>
</form>
