
 <div  [ngClass]="{'operator-table': !pathEmployers }" class="mt-lg-5">
   <app-data-table tableName="מסמכים" [columns]="columns" (fetchItems)="fetchItems()"
                   [hasExtendedSearch]=false [hasActionsSearch]=false [hasActionsHeader]="role">
    <div class="table-header">
      <div class="d-flex justify-content-end ">
        <button *ngIf="role" class="btn blue-btn" (click)="addDocument()">הוספת קובץ</button>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }">
      <td>{{ item.employer_name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.created_at }}</td>
      <td>{{ item.description }}</td>
      <td>{{ documentTypes[item.document_type] }}</td>
      <td  *ngIf="role">
        <i class="fa fa-download fa-lg" (click)="file(item, 'download')"></i>
        <i class="fa fa-eye fa-lg mr-3 ml-3" (click)="file(item, 'show')"></i>
        <i *ngIf="this.userSession.getPermissionsType('operations', true)" class="fa fa-trash fa-lg" (click)="deleteFile(item.id)"></i>
      </td>
    </tr>
  </app-data-table>
 </div>
