<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<form #form="ngForm">
  <div class="mt-1">
    <h6 class="bold">העברת קבוצה</h6>
    <br>
    <div>
      <div class="row">
          <bd-select  class="col-6" [ngModel]="groupId" name="groupId" #groupIdSelect="ngModel" value="group_id" [items]="data.groups"  placeholder="בחר קבוצה" required [error]="groupIdSelect.errors && form.submitted"></bd-select>
      </div>
      <div>
        <a (click)="newGroup()" class="bold f-12">> העבר לקבוצה חדשה</a>
        <!--<button mat-button (click)="newGroup()"> העבר לקבוצה חדשה</button>-->
        <!--<div *ngIf="isShow">טקסט כלשהוא</div>-->
      </div>
    </div>
    <div class="text-center mb-1">
      <button class="btn blue-btn" (click)="submit(form)">העברה</button>
    </div>

    <p class="alert alert-danger " [@fade]="hasServerError ? 'active' : 'inactive'">{{ message }}</p>
  </div>

</form>
