<form #form="ngForm" (ngSubmit)="submit(form)">
  <div class="mt-1">
    <h6 class="bold">סיבה לפתיחת שידור</h6>
    <div class="d-flex align-items-center py-4">
      <mat-form-field class="w-100">
        <textarea matInput  class="form-control" rows="5" id="comment" name="comments"  required [(ngModel)]="comments"></textarea>
        <mat-error  *ngIf="comments.length <= 0 && form.submitted">חובה לכתוב הערה</mat-error>
      </mat-form-field>

    </div>
    <div class="text-center">
      <button class="btn blue-btn" type="submit">שלח</button>
    </div>
  </div>
</form>
