<form #form="ngForm" class="mt-5">
  <h5 class="bold">שליחת היזון למעסיק</h5>
  <div class="row mr-0 pr-0 mt-3 bold"  *ngIf="processLoading.process_details">
    <div class="f-14">
      סה"כ עובדים:
      {{count_employee}}
    </div>
   </div>
  <div class="row mr-0 pr-0 mt-3 d-flex  f-16 text-center"  *ngIf="processLoading.process_details">
    <div class="col-2 rectangle pt-2-rem font-rubik grey-black-color">
      סה"כ רשומות:
      <p class="grey-color mt-3 f-60 bold ">{{processLoading.process_details.mtbs_count}}</p>

    </div>
    <div class="col-2 rectangle pt-4 font-rubik grey-black-color">
      סה"כ תקינים:
      <p class="green-color mt-3 f-60 bold">{{fix}}</p>
    </div>
    <div class="col-2 rectangle pt-4 font-rubik grey-black-color">
      סה"כ תקולים:
      <p class="orange-color mt-3 f-60 bold">{{failed}}</p>
    </div>
  </div>

  <div class="d-flex mt-3 align-items-center">
    <span class="f-14">לצפייה ואישורי העברות</span>
    <span class="f-14 bold mr-1">לחץ כאן</span>
    <i class="fa fa-angle-left fa-circle-me mr-3" *ngIf="hasShow" (click)="hasShow = !hasShow"></i>
    <i class="fa fa-angle-right fa-circle-me mr-3" *ngIf="!hasShow" (click)="hasShow = !hasShow"></i>

  </div>

  <router-outlet *ngIf="hasShow"></router-outlet>

</form>
