<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{ processDataService.activeProcess.name + ' '
    + processDataService.activeProcess.monthName + ' '
    + processDataService.activeProcess.year }}</th>
    <td scope="col">{{ processDataService.activeProcess.monthName }}</td>
    <td scope="col">{{ processDataService.activeProcess.year }}</td>
  </tr>
  </thead>
</table>
<span (click)="back()" class="d-flex float-right w-100">
  <p class="pointer blue-color">
    <i class="fa fa-angle-right ml-1"></i>
      <span>חזור</span>
  </p>
</span>
<p class="h5 pb-3" *ngIf="type === 'files'">פירוט קבצים</p>
<p class="h5" *ngIf="type === 'records' && !this.processDataService.activeProcess.incorrect">פירוט רשומות</p>
<p class="h5" *ngIf="type === 'records' && this.processDataService.activeProcess.incorrect">פירוט רשומות שגויית</p>

<div class="d-flex" *ngIf="process_details">
  <div class="w-25">
    <span class="f-14">שם מעסיק:</span>
    <span class="bold mr-1 f-14">{{ process_details.employer_name }}</span>
  </div>
  <div class="w-25">
    <span>ח.פ:</span>
    <span class="bold mr-1 f-14">{{ process_details.employer_business_number }}</span>
  </div>
  <div class="w-25">
    <span class="f-14">שם מחלקה:</span>
    <span class="bold mr-1 f-14">{{ process_details.department_name }}</span>
  </div>
  <div class="w-25">
    <span class="f-14">שם התהליך:</span>
    <span class="bold mr-1 f-14">{{ process_details.name }}</span>
  </div>
</div>
<div class="d-flex mt-2" *ngIf="process_details">
  <div class="w-25">
    <span class="f-14">סכום לתשלום:</span>
    <span class="bold mr-1 f-14">{{ process_details.total | number: '1.2-2'}}</span>
  </div>
  <div class="w-25">
    <span class="f-14">מספר תהליך:</span>
    <span class="bold mr-1 f-14">{{ process_details.id }}</span>
  </div>
  <div class="w-25">
    <span class="f-14">חודש שכר:</span>
    <span class="bold mr-1 f-14">{{ process_details.date | slice:5:7}}</span>
  </div>
  <div [hidden]="type !== 'records'" class="w-25">
    <span class="f-14">מספר רשומות:</span>
    <span class="bold mr-1 f-14">{{ process_details.records_count }}</span>
  </div>
  <div [hidden]="type !== 'files'" class="w-25">
    <span class="f-14">סה"כ קבוצות ששודרו:</span>
    <span class="bold mr-1 f-14">{{ process_details.groups_count }}</span>
  </div>
</div>
<div class="float-left w-25 mt-2" *ngIf="process_details" >
  <span class="f-14">מספר קבצים:</span>
  <span class="bold mr-1 f-14">{{ process_details.groups_count }}</span>
</div>

<div class="mt-5 py-5">
  <router-outlet></router-outlet>
  <!--<app-detailed-files *ngIf="type === 'files'"></app-detailed-files>-->
  <!--<app-detailed-records *ngIf="type === 'records'"></app-detailed-records>-->
</div>
