<button mat-dialog-close>
  <i class="fa fa-close"></i>
</button>
<div>
  <p class="h3 text-center">האם ברצונך להעביר למנהל תיק להשלמת התהליך?</p>
</div>
<div>
  <p class="mt-5 bold">מנהל תיק</p>
  <div  class="w-40">
    <bd-select [items]="operators" [(ngModel)]="operatorId"
               placeholder="מנהל תיק" class="bd-min-width" ></bd-select>
  </div>
  <div class="form-group mt-4">
    <p class="bold">הערות:</p>
    <textarea class="form-control" rows="5" id="comment" [(ngModel)]="comment"></textarea>
  </div>
  <div>
    <button class="btn right button-ok-cancel blue-btn mt-3" (click)="send()">שלח</button>
    <button class="btn button-ok-cancel left blue-btn mt-3" (click)="cancel()">ביטול</button>
  </div>
</div>
