<button mat-dialog-close class="float-left">
  <i class="fa fa-close"></i>
</button>
<h4 class="bold mb-lg-3 blue-color">
   שליחת הנחיות לתשלום
</h4>
<mat-form-field class="w-100">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let email of emails" [selectable]="selectable"
              [removable]="removable" (removed)="remove(email)">
      {{email}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="הוספת כתובת מייל"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
<div class="text-center">
  <button class="btn blue-btn" (click)="sendMail()">שלח</button>
</div>
