.red-box {
  background-color: red;
  width: 320px;
  margin-right: 660px;
  padding-bottom: 11px;
  text-align: center;
  color: white;
}
.ticker {
  background-color: white;
  width: 300px;
  height: 130px;
  margin-right: 670px;
  border: solid 1px rgba(0,0,0,0.5);
  padding: 10px;
  box-shadow: 0 0 0px 10px #aaaaaa;
  text-align: center;
  font-size: 35px;
  padding-top: 37px;
}

#content {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #content {
    width: 100%;
  }
}

#attendanceBox {
  height: 209px;
  width: 285px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px 3px #e1e1e1;
  text-align: center;
}

.box {
  height: 250px;
  width: 326px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px 3px #e1e1e1;
  text-align: center;
}


.circle {
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 100px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px 3px #e1e1e1;
  height: 205px;
  width: 205px;
  color: #00adee;
  text-align: center;
  z-index: 2;
}

.timeOutCircle {
  background-color: #3CAF5F;
  color: #FFFFFF;
  border: none;
  z-index: 1;
}


.black-color {
  color: rgba(22, 20, 20, 0.61);
}



