.red-box {
  background-color: red;
  width: 320px;
  margin-right: 660px;
  padding-bottom: 11px;
  text-align: center;
  color: white;
}
.ticker {
  background-color: white;
  width: 300px;
  height: 130px;
  margin-right: 670px;
  border: solid 1px rgba(0,0,0,0.5);
  padding: 10px;
  box-shadow: 0 0 0px 10px #aaaaaa;
  text-align: center;
  font-size: 35px;
  padding-top: 37px;
}

