<span class="pointer" (click)="close()">
    <i class="fa fa-close"></i>
</span>
<p class="bold m-0">{{ data.name }} - ת"ז {{ data.personal_id}}</p>
<!--<p class="f-12 mb-5 grey-color">חברה משו</p>-->
<p class="bold border-bottom f-14">פרטים</p>
<div class="d-flex p-2">
  <span class="header-width bold f-14">סטטוס עובד</span>
  <span class="header-width bold f-14">סוג תקבול</span>
  <span class="header-width bold f-14">סוג מוצר</span>
  <span class="header-width bold f-14">קוד אוצר</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14">{{ employeeStatuses[data.employee_status]}}</span>
  <span class="header-width f-14">{{ depositTypes[data.deposit_type]}}</span>
  <span class="header-width f-14">{{ productType[data.product_type]}}</span>
  <span class="header-width f-14">{{ data.product_code}}</span>
</div>
<div class="d-flex p-2 mt-3">
  <span class="header-width bold f-14">שכר</span>
  <span class="header-width bold f-14">חודש שכר</span>
  <span class="header-width bold f-14">חודש הפרשה</span>
  <span class="header-width bold f-14">שם קובץ שנשלח</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14">{{ data.salary}}</span>
  <span class="header-width f-14">{{ data.salary_month |  date: 'MM/yy'}}</span>
  <span class="header-width f-14">{{ data.salary_month |  date: 'dd/MM/yy'}}</span>
  <span class="header-width f-14">{{ data.sent_file_name }}
    <i class="fa fa-download fa-lg ml-2" (click)="downloadFile(data.group_thing_id)" title="הורד קובץ"></i>
  </span>
</div>
<div class="d-flex p-2 mt-2">
  <span class="header-width bold f-14">סעיף הפרשה</span>
  <span class="header-width bold f-14">סכום</span>
  <span class="header-width bold f-14">קטגוריה</span>
  <span class="header-width bold f-14">סוג השגיאה</span>
  <span class="header-width bold f-14">פרטים</span>
</div>
<div class="d-flex p-2 mt-2" *ngFor="let transfer of data.transfer_clause;">
  <span class="header-width f-14">{{ clause_types[transfer.clause_type] }}</span>
  <span class="header-width f-14">{{ transfer.transfer_sum }}</span>
  <span class="header-width f-14">{{ feedBackStatus[transfer.status] }}</span>
  <span class="header-width f-14">{{ transfer.error_type }}</span>
  <span class="header-width f-14">{{ transfer.error_details	 }}</span>
</div>
<div class="py-4">
  <mat-form-field class="w-50">
    <textarea matInput placeholder="הערות מתפעל" [(ngModel)]="comment" maxlength="200"></textarea>
    <mat-hint>(עד 200 תווים)</mat-hint>
  </mat-form-field>
  <div class="row justify-content-end w-50 mr-0 ml-0">
    <button class="btn black-color" (click)="submit()">שמור</button>
  </div>
</div>
<p class="bold border-bottom mt-3 f-14">אופן רישום הזכויות</p>
<div class="d-flex p-2">
  <span class="header-width bold f-14">סעיף הפרשה</span>
  <span class="header-width bold f-14">שכר מחושב</span>
  <span class="header-width bold f-14">מס' פוליסה</span>
  <span class="header-width bold f-14">אחוז הפרשה </span>
  <span class="header-width bold f-14">סכום פרמיה </span>
  <span class="header-width bold f-14">א.כ.א / שונות מצופה</span>
</div>
<div class="d-flex p-2 mt-2" *ngFor="let transfer of data.transfer_clause;">
  <span class="header-width f-14">{{ clause_types[transfer.clause_type] }}</span>
  <span class="header-width f-14">{{  transfer.salary_calculated }}</span>
  <span class="header-width f-14">{{ data.policy_or_account_number }}</span>
  <span class="header-width f-14">{{ transfer.percent + '%' }}</span>
  <span class="header-width f-14">{{ transfer.sum }}</span>
  <span class="header-width f-14">{{ transfer.expected_percent + '% - ' + transfer.expected_sum }}</span>
</div>
