<p class="bold m-0">ישראל ישראלי - ת"ז 5+65</p>
<p class="f-12 mb-5 grey-color">חברה משו</p>
<p class="bold border-bottom f-14">פרטים</p>
<div class="d-flex p-2">
  <span class="header-width bold f-14">סטטוס עובד</span>
  <span class="header-width bold f-14">סוג תגבול</span>
  <span class="header-width bold f-14">סוג מוצר</span>
  <span class="header-width bold f-14">קוד אוצר</span>
  <span class="header-width bold f-14">יצירת הפניה</span>
  <span class="header-width bold f-14">סטטוס</span>
</div>
<div class="d-flex p-2 mt-3">
  <span class="header-width bold f-14">שכר</span>
  <span class="header-width bold f-14">גורם מטפל</span>
  <span class="header-width bold f-14">חודש שכר</span>
  <span class="header-width bold f-14">חודש הפרשה</span>
  <span class="header-width bold f-14">עדכון אחרון</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
</div>
<div class="d-flex p-2 mt-2">
  <span class="header-width bold f-14">סעיף</span>
  <span class="header-width bold f-14">סכום</span>
  <span class="header-width bold f-14">קטגוריה</span>
  <span class="header-width bold f-14">סוג השגיאה</span>
  <span class="header-width bold f-14">פרטים</span>
</div>
<p class="bold border-bottom mt-3 f-14">אופן רישום הזכויות</p>
<div class="d-flex p-2">
  <span class="header-width bold f-14">סעיף הפרשה</span>
  <span class="header-width bold f-14">שכר מחושב</span>
  <span class="header-width bold f-14">מס' פוליסה</span>
  <span class="header-width bold f-14">אחוז הפרשה / מצופה</span>
  <span class="header-width bold f-14">סכום פרמיה / מצופה</span>
  <span class="header-width bold f-14">פרטים</span>
</div>
<div class="mt-5">
  <textarea name="subject" placeholder="הערות" [(ngModel)]="commentContent" class="text-extra mt-2"></textarea>
</div>
<div class="float-left ml-2 mt-5">
  <span class="ml-3">
    <button class="btn blue-btn">הערות</button>
  </span>
  <button class="btn blue-btn" (click)="newComment()">שלח פניה</button>
</div>
