<span class="pointer" (click)="close()">
    <i class="fa fa-close"></i>
</span>
<p class="bold m-0">{{ data.name }} - ת"ז {{ data.personal_id}}</p>
<p class="bold border-bottom f-14">פרטים</p>
<div class="d-flex">
  <span class="header-width bold f-14">סטטוס עובד</span>
  <span class="header-width bold f-14">סוג תקבול</span>
  <span class="header-width bold f-14">סוג מוצר</span>
  <span class="header-width bold f-14">קוד אוצר</span>
</div>
<div class="d-flex border-bottom">
  <span class="header-width f-14">{{ employeeStatuses[data.employee_status]}}</span>
  <span class="header-width f-14">{{ depositTypes[data.deposit_type]}}</span>
  <span class="header-width f-14">{{ productType[data.product_type]}}</span>
  <span class="header-width f-14">{{ data.product_code}}</span>
</div>
<div class="d-flex mt-3">
  <span class="header-width bold f-14">סה"כ פרמיה</span>
  <span class="header-width bold f-14">שכר</span>
  <span class="header-width bold f-14">חודש שכר</span>
  <span class="header-width bold f-14">חודש הפרשה</span>
  <span class="header-width bold f-14">שם קובץ שנשלח</span>
</div>
<div class="d-flex  border-bottom">
  <span class="header-width f-14">{{ data.amount | number: '1.2-2'}}</span>
  <span class="header-width f-14">{{ data.salary}}</span>
  <span class="header-width f-14">{{ data.salary_month |  date: 'MM/yy'}}</span>
  <span class="header-width f-14">{{ data.salary_month |  date: 'dd/MM/yy'}}</span>
  <span class="header-width f-14">{{ data.sent_file_name }}
  <i class="fa fa-download fa-lg ml-2" (click)="downloadFile(data.group_thing_id)" title="הורד קובץ"></i>
  </span>
</div>
<div class="d-flex mt-2">
  <span class="header-width bold f-14">סעיף הפרשה</span>
  <span class="header-width bold f-14">סכום</span>
  <span class="header-width bold f-14">קטגוריה</span>
  <span class="header-width bold f-14">סוג השגיאה</span>
  <span class="header-width bold f-14">פרטים</span>
</div>
<div class="d-flex mt-2" *ngFor="let transfer of data.transfer_clause;">
  <span class="header-width f-14">{{ clause_types[transfer.clause_type] }}</span>
  <span class="header-width f-14">{{ transfer.transfer_sum }}</span>
  <span class="header-width f-14">{{ feedBackStatus[transfer.status] }}</span>
  <span class="header-width f-14">{{ transfer.error_type }}</span>
  <span class="header-width-35 f-14">{{ transfer.error_details	 }}</span>
</div>
<div class="d-flex mt-2 border-top">
  <span class="header-width bold f-14">הערות</span>
</div>
<div class="d-flex mt-2">
  <mat-form-field appearance="outline" class="w-100">
    <input matInput placeholder="הערות מתפעל" [(ngModel)]="comment" maxlength="200">
    <mat-icon matSuffix class="iconDesign pointer"  (click)="submit()">send</mat-icon>
  </mat-form-field>
</div>
<p class="bold border-bottom mt-3 f-14">אופן רישום הזכויות</p>
<div class="d-flex">
  <span class="header-width bold f-14">סעיף הפרשה</span>
  <span class="header-width bold f-14">שכר מחושב</span>
  <span class="header-width bold f-14">מס' פוליסה</span>
  <span class="header-width bold f-14">אחוז הפרשה </span>
  <span class="header-width bold f-14">סכום פרמיה </span>
  <span class="header-width bold f-14">א.כ.א / שונות מצופה</span>
</div>
<div class="d-flex mt-2" *ngFor="let transfer of data.transfer_clause;">
  <span class="header-width f-14">{{ clause_types[transfer.clause_type] }}</span>
  <span class="header-width f-14">{{  transfer.salary_calculated }}</span>
  <span class="header-width f-14">{{ data.policy_or_account_number }}</span>
  <span class="header-width f-14">{{ transfer.percent + '%' }}</span>
  <span class="header-width f-14">{{ transfer.sum }}</span>
  <span class="header-width f-14">{{ transfer.expected_percent + '% - ' + transfer.expected_sum }}</span>
</div>
