<div class="dialog-header">
    <span class="pointer" (click)="close()">
    <i class="fa fa-close"></i>
  </span>
  <span>פרטי הפניות</span>
</div>
<div class="pre-scrollable">
  <table class="table my-3 dialog-table  pre-scrollable">
    <thead>
    <tr>
      <th>תאריך</th>
      <th>נמענים</th>
      <th>תוכן</th>
      <th>הורדה</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inquiry of inquiries">
      <td class="w-25">{{ inquiry.reminder_date | date: 'dd/MM/yy HH:mm' }}</td>
      <td class="w-25 ltr">
        <ng-container *ngFor="let receiver of inquiry.receivers; let last = last">{{ receiver.email | slice: 30 }} </ng-container>
      </td>
      <td class="w-50">{{ inquiry.content }}</td>
      <td class="w-50"> <i *ngIf="inquiry.has_file_inquiry" class="fa fa-download fa-lg ml-2" (click)="downloadFilesInquirie(inquiry.id)" ></i></td>
    </tr>
    </tbody>
  </table>
</div>

