<div class="dialog-header" dir="rtl">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>חשבון עסקה</span>
</div>
<form #form="ngForm" dir="rtl">
  <div id="styleFormat">
    <div class="row date">
      <div class="mt-2">
        <mat-form-field style="margin-top: -10px;">
          <input matInput class="pointer" (click)="documentDate.open()"  [matDatepicker]="documentDate" placeholder="תאריך מסמך" name="document_date" ngModel readonly required>
          <mat-datepicker-toggle matSuffix [for]="documentDate"></mat-datepicker-toggle>
          <mat-datepicker #documentDate></mat-datepicker>
          <mat-error>שדה חובה.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row date">
      <mat-checkbox class="mr-3 mt-3" name="include_email" [(ngModel)]="include_email">שליחת מייל</mat-checkbox>
    </div>
  </div>
</form>

<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">{{message}}</p>
<div mat-dialog-actions class="justify-content-center" style="text-align: center">
  <button class="btn blue-btn" (click)="submit(form)">שמור</button>
</div>
