<div class="text-center">
<h1 class="mb-0 bold text-center">הרשמה למערכת</h1>
<h2 class="text-center">כמה פרטים וממשיכים</h2>
  <div class="container ">

<form formGroup="form" >
  <div class=" form-group mt-5 text-center">

    <input  formComtroller="firstName" id="firstName" class="mt-4 " type="text" placeholder="*שם פרט " required/>
    <input  formComtroller="lastName" class="mt-4" type="text" placeholder="*שם משפחה " required/>
    <input  formComtroller="phone" class="mt-4" type="text" placeholder="*טלפון נייד " required/>
    <input  formComtroller="email" class="mt-4" type="text" placeholder="*אימייל " required/>
  </div>
    <button  class="btn btn-black btn-lg mt-5" routerLink="/get-password" > הרשמה</button>

</form>

  </div>
  <div class="line-left"></div>
  <div class="line-right"></div>
  <button  class="btn btn-firebase btn-lg " > הרשמה באמצעות</button>
  <button  class="btn btn-firebase btn-lg mt-3 " > הרשמה באמצעות</button>
  <p class="text-center mt-5 mb-0"><ins>מגייס מועמדים? היכנס עכשיו </ins></p>
  <p class="text-center"><ins>כבר רשום? היכנס עכשיו </ins></p>
</div>
