<form #form="ngForm" class="px-4 mt-5 form">
  <div *ngIf="plan != null"  class="col-6">
    <div class="d-flex bold mb-3 f-18">
      <span>להלן משימה לטיפולך</span>
    </div>
    <div class="d-flex">
      <div class="d-flex w-50">
        <span class="bold">שם הארגון:</span>
        <p class="mr-1">{{ plan.organization.name }}</p>
      </div>
      <span class="bold">שם מעסיק:</span>
      <p class="mr-1">{{plan.employer.name}}</p>
    </div>
    <div class="d-flex mt-3">
      <div class="d-flex w-50" *ngIf="!isCompensation">
        <span class="bold">שם תהליך:</span>
        <p class="mr-1">{{plan.task.process.name }}</p>
      </div>
      <div *ngIf="isCompensation" >
        <div class="d-flex w-50">
          <span class="bold">שם העובד:</span>
          <p class="mr-1">{{plan.task.compensation}}</p>
        </div>
      </div>
      <span class="bold">חודש ייחוס:</span>
      <p class="mr-1">{{  plan.task.process.date }}</p>
    </div>
    <div class="d-flex mt-3">
      <div class="d-flex w-50">
        <span class="bold">פירוט שגיאה:</span>
        <p class="mr-1">{{ plan.task.message }}</p>
      </div>
      <span class="bold" *ngIf="!isErrorLoading && !isErrorTransmit && !isPaymentInstructions">מידע נוסף:</span>
      <p class="mr-1">{{  plan.task.additional_info  }}</p>
    </div>
    <br>
    <div *ngIf="isRecord">
      <span class="bold f-18">{{ '(' + plan.type.name + ')' }} שגיאה ברמת רשומה</span>

      <div class="d-flex mt-3">
        <div class="d-flex w-50">
          <span class="bold">תאריך ייחוס:</span>
          <p class="mr-1">{{ plan.task.record.salary_month | date: 'MM/yy'}}</p>
        </div>
        <span class="bold">שכר:</span>
        <p class="mr-1">{{ plan.task.record.salary }}</p>
      </div>

      <div class="d-flex mt-3">
        <div class="d-flex w-50">
          <span class="bold">ימי עבודה בחודש:</span>
          <p class="mr-1">{{plan.task.record.working_days_in_month }}</p>
        </div>
        <span class="bold">חלקיות משרה:</span>
        <p class="mr-1">{{ plan.task.record.work_month_percentage  }}</p>
      </div>

      <div class="d-flex mt-3">
        <div class="d-flex w-50">
          <span class="bold">סטטוס עובד בחודש:</span>
          <p class="mr-1">{{ employeeStatus[plan.task.record.employee_status]  }}</p>
        </div>
        <span class="bold">תאריך עדכון סטטוס:</span>
        <p class="mr-1">{{ plan.task.record.employee_status_start_date }}</p>
      </div>
    </div>
    <div *ngIf="isFile">
      <span class="bold f-18"> {{ '(' + plan.type.name + ')' }}   שגיאה ברמת קובץ  </span>

      <div class="d-flex mt-3">
        <div class="d-flex w-50">
          <span class="bold">סוג קובץ:</span>
          <p class="mr-1">{{ fileType[plan.task.file.file_type] }}</p>
        </div>
        <span class="bold">סכום:</span>
        <p class="mr-1">{{(plan.task.file.amount | number: '1.2-2') }}</p>
      </div>
    </div>
    <br>
    <button class="btn blue-btn mr-5" (click)="taskCompletedDialog()">לביצוע</button>
    <!--<button class="btn blue-btn mr-5" (click)="skipTaskDialog()">דילוג על משימה</button>-->
  </div>
  <div *ngIf="plan == null && (noMoreTask || noMorePlans)">
    <span class="red-color f-18" *ngIf="noMorePlans">לא קיימות תוכניות </span>
    <span class="red-color f-18" *ngIf="noMoreTask">לא קיימות משימות </span>
    <div class="d-flex ">
      <img src="../../../../../assets/img/thumb-photostock-vector-check-list-icon-vector.jpg" height="300"
           width="300" />
    </div>

</div>
</form>

