<div class="d-flex">
  <div class="d-flex w-50 header-title">
    <span>שלום:</span>
    <!--<p class="bold mr-1">{{process_details.employer_name}}</p>-->
  </div>
</div>
<div class="d-flex w-50 header-title title2">
  <span>להלן משימה לטיפולך</span>
</div>

<div class="px-4 mt-5 form" >
  <form #form="ngForm" >
  <div class="d-flex">
    <div class="d-flex w-50">
      <span class="bold">שם הארגון:</span>
      <p class="mr-1">{{ plan != null ? plan.organization_name : ''}}</p>
    </div>
  </div>
  <div class="d-flex w-50">
    <span class="bold">שם מעסיק:</span>
    <p class="mr-1">{{ plan != null ? plan.employer_name : '' }}</p>
  </div>
  <div class="d-flex w-50">
    <span class="bold">חודש שכר:</span>
    <p class="mr-1">{{ plan != null ? plan.error.process_salary_month : '' }}</p>
  </div>
  <div class="d-flex w-50">
    <span class="bold">שם תהליך:</span>
    <p class="mr-1">{{ plan != null ? plan.error.process_name : '' }}</p>
  </div>
  <br>
  <div class="d-flex w-50">
    <span class="bold">שם קופה:</span>
    <p class="mr-1">{{ plan != null ? plan.error.product_name : '' }}</p>
  </div>
  <div class="d-flex w-50">
    <span class="bold">פירוט שגיאה:</span>
    <p class="mr-1">{{ plan != null ? plan.error.message : '' }}</p>
  </div>
  <div class="d-flex w-50">
    <span class="bold">שם הקובץ:</span>
    <p class="mr-1">{{ plan != null && plan.error.sent_file_name != null ? plan.error.sent_file_name : ''}}</p>
  </div>
  <br>
  <div class="d-flex w-50">
    <span class="bold">סטטוס: </span>
    <!--<p class="mr-1">{{ plan.organization_name }}</p>-->
  </div>
  <div class="d-flex w-50">
    <span class="bold">הערות: </span>
    <!--<p class="mr-1">{{ plan != null ? plan.organization_name }}</p>-->
  </div>
  <br>
  <!--<button class="btn blue-btn mr-5" (click)="performTaskDialog()">לביצוע</button>-->
  <button class="btn blue-btn mr-5" (click)="taskCompletedDialog()">לביצוע</button>
  <button class="btn blue-btn mr-5" (click)="skipTaskDialog()">דילוג על משימה</button>
</form>
</div>
