<div [ngClass]="{'operator-container': !pathEmployers }" class="mt-lg-5 mr-6 d-flex">
  <div class="w-100">
    <h2 class="mb-3">המשימות שלי</h2>
    <div class="d-flex mb-2 w-100">
      <mat-form-field class="right">
        <input matInput placeholder="חפש" [(ngModel)]="dataTable.criteria.keyword" (keyup)="search()">
        <i matSuffix class="fa fa-search"></i>
      </mat-form-field>
      <div class="mr-4 left w-100">
        <button class="btn blue-btn float-left" (click)="createOrEditTask(null)">הגדרת משימות</button>
      </div>
    </div>
      <div class="d-flex">
        <div class="d-sm-block p-sm-2 mt-5">
          <p class="dropdown-item" *ngFor="let f of filter" (click)="filterResult(f.id)" >{{f.label}}
            <img src="../../../../../../assets/img/left.png" height="12" width="12" class="mr-3"/></p>
        </div>
        <app-data-table class="w-100" [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="false"
                        [hasExtendedSearch]="false" [hasActionsSearch]="false" [hasLoadingItem]="false">
          <tr *ngFor="let item of dataTable.items" class="pointer" >
            <td (click)="ExecutionTask(item)">{{ item.typeTask !== 'הקמת לקוח' ? (item.month | date: 'MM' ) : '-'  }}</td>
            <td (click)="ExecutionTask(item)">{{ item.typeTask }}</td>
            <td (click)="ExecutionTask(item)">{{ item.subtypeTask }}</td>
            <td (click)="ExecutionTask(item)">{{ item.creator }}</td>
            <td (click)="ExecutionTask(item)">{{ item.operator }}</td>
            <td (click)="ExecutionTask(item)">{{ item.employer.name}}</td>
            <td (click)="ExecutionTask(item)">{{ taskStatus[item.status] }}</td>
            <td>
              <img (click)="ExecutionTask(item)" src="../../../../../../assets/img/left.png" *ngIf="!filter[1].selected === true" height="14" width="14"/>
              <div *ngIf="filter[1].selected === true">
                <p class="blue-color pointer" (click)="ExecutionTask(item)" *ngIf="!isStopTask(item)">התחל משימה</p>
                <p class="red-color pointer"  *ngIf="isStopTask(item)" (click)="stopTask(item)">סיים משימה</p>
              </div>
            </td>
          </tr>
        </app-data-table>
      </div>
  </div>
</div>
