<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<div>
  <div class="mt-1">
    <h6 class="bold" *ngIf="create">הכנס שם</h6>
    <h6 class="bold" *ngIf="select">בחר קבוצה</h6>
    <div>
      <div class="d-flex flex-column">
        <mat-form-field *ngIf="create">
          <input matInput type="text" [(ngModel)]="groupName" (click)="error = false" name="ref_number"
                 placeholder="שם הקבוצה" maxlength="50">
        </mat-form-field>
        <div *ngIf="select" class="py-5">
          <bd-select [items]="groups" placeholder="בחר קבוצה" [(ngModel)]="group"
                     class="d-inline-block bd-de bd-min-width" [error]="select" ></bd-select>
        </div>
      </div>
      <p class="alert alert-danger" *ngIf="error">שם הקבוצה כבר קיים במערכת</p>
    </div>
    <div class="text-center">
      <button class="btn blue-btn" (click)="submit()">{{create ? 'צור' : 'הוסף' }} </button>
    </div>
  </div>
</div>

