<!--<div class="card card-1 p-3 my-2 mx-0" [ngClass]="tab === 2 ? 'first' : 'second'">-->
<!--  <p class="bold h3">סיכום</p>-->
<!--  <div class="d-flex w-50 my-2">-->
<!--    <span  class="bold h6 py-1">שם קמפיין:</span>-->
<!--    <span class="mr-2" > קמפיין 1</span>-->
<!--  </div>-->
<!--  <div class="d-flex align-content-between">-->
<!--    <div class="d-flex w-50 my-2 ml-5">-->
<!--      <span class="bold">שיטת שליחה:</span>-->
<!--      <span class="mr-2">סמס</span>-->
<!--    </div>-->
<!--    <div class="d-flex w-50 my-2 ml-5">-->
<!--      <span class="bold">שם המודול:</span>-->
<!--      <span class="mr-2">סליקה</span>-->
<!--    </div>-->
<!--    <div class="d-flex w-50 my-2 ml-5">-->
<!--      <span class="mr-2">הנחיות לתשלום</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="d-flex align-content-between">-->
<!--      <div class="d-flex w-50 my-2 ml-5">-->
<!--        <span class="bold">סטטוס:</span>-->
<!--        <span class="mr-2">מולא</span>-->
<!--      </div>-->
<!--      <div class="d-flex w-50 my-2 ml-5">-->
<!--        <span class="bold">זמן שליחה:</span>-->
<!--        <span class="mr-2">מיידי</span>-->
<!--      </div>-->
<!--      <div class="d-flex w-50 my-2 ml-5" >-->
<!--        <span class="bold">תאריך יצירה: </span>-->
<!--        <span>10.10.10</span>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
