

<!--<div>-->
  <!--<div class="d-flex header-border mt-5 pt-5 text-center" id="headers">-->
    <!--<span id="headers2" *ngFor="let header of headers" routerLinkActive="active"-->
          <!--[routerLink]="[header.link]">{{header.label}}</span>-->
  <!--</div>-->
<!--</div>-->


<div style="width: 75%">
<div class="d-flex status status-bar" id="headers" >
  <span class="pointer" *ngFor="let header of headers" routerLinkActive="active"
  [routerLink]="[header.link]">{{header.label}}</span>
</div>
</div>


<router-outlet></router-outlet>
