#headers > span {
  /*width: 16%;*/
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.main-div {
  width: 75%;
}
/*.active {*/
  /*!*border-bottom: 1.5px solid #00ADEE;*!*/
  /*background-color: #00ADEE;*/
  /*border-radius: 30px;*/
  /*color: white;*/

/*}*/
.status-bar {
  border: 1px solid #b3b3b3;
}

.status > span {
  width: 34%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 3px;
}

.active {
  background-color: #00ADEE;
  color: #ffffff;
}

.date-picker {
  width: 180px;
}


