<form #form="ngForm" class="mt-5">
  <div [@fade]="pageNumber === 1 ? 'active' : 'inactive'">
    <p class="h4">נתוני תהליך</p>
    <p class="grey-color f-12 mb-2">במסך זה יש להזין את פרטי התהליך</p>

    <div class="d-flex mt-5  mt-2">
      <mat-form-field class="w-50">
        <mat-select name="month" placeholder="בחר חודש" [(ngModel)]="process.month" required>
          <mat-option *ngFor="let month of months" [value]="month.id">{{ month.name }}</mat-option>
        </mat-select>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
      <mat-form-field class="w-50 mr-4">
        <mat-select  name="year" placeholder="בחר שנה" [(ngModel)]="process.year" required>
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <mat-form-field class="w-50 mt-2">
        <mat-select name="type" placeholder="סוג תהליך" [(ngModel)]="process.type" required>
          <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-50 mt-2 mr-3">
        <input matInput type="text" name="processName" [(ngModel)]="process.name" placeholder="תאור">
        <mat-hint class="grey-color f-12">בשדה זה ניתן להזין מלל חופשי אשר יתווסף לצורך זיהוי התהליך</mat-hint>
      </mat-form-field>
    </div>

  </div>
    <div *ngIf="pageNumber === 2">
      <div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">{{ form.value.processName + ' ' + months[(form.value.month)-1].name + ' ' + form.value.year }}</th>
            <td scope="col">{{ months[(form.value.month)-1].name }}</td>
            <td scope="col">{{ form.value.year }}</td>
          </tr>
          </thead>
        </table>
        <div *ngIf="selectedType === 'negative' || process.type === 'negative'" class="w-50">
          <h4>העלאת תהליך שלילי</h4>
          <p class="grey-color f-12 mb-2">לבקשת החזרים כספיים מהקופות יש להעלות קובץ בפורמט XML שלילי, אשר מונפק מתכנת השכר.
            קובץ זה יועבר לקופות על מנת להשיב את הכספים אל החשבון המוגדר.XML</p>
        </div>
        <div *ngIf="selectedType === 'positive' || process.type === 'positive'">
          <h4>טעינת נתונים</h4>
          <p class="grey-color f-12 mb-2">
          במסך זה יש לבצע טעינת נתונים מתוך קובץ     <span> DAT/XSLX</span></p>
          </div>
        </div>
        <div class="mt-5">
          <mat-spinner class="mx-auto mb-3" *ngIf="spin"></mat-spinner>
          <file-drop [ngClass]="{ 'file-uploaded': processFile }" ng2FileDrop (onFileDrop)="getFileFromDrop($event)">
            <i class="fa fa-times ml-2 pointer" (click)="processFile = []; process.file = null"
               *ngIf="processFile.length  > 0 || process.file"></i>
            <label class="text-center pointer" *ngIf="processFile.length === 0 && !process.file" (change)="setFile($event.target.files)">
              <img src="/assets/img/icons/cloud-backup.svg" class="mb-1 icon-lg">
              <p class="h5 grey-color">בחר קובץ להעלאה</p>
              <p class="h5 grey-color">או גרור קבצים לכאן</p>
              <input type="file" #fileInput multiple="true" >
            </label>
            <div class="text-center" *ngIf="processFile.length  > 0">
              <i class="fa fa-check-circle-o mb-3"></i>
              <p class="text-dark">העלו <span> {{ processFile.length }} </span>קבצים </p>
              <p class="text-dark">{{ processFile[0].name }}</p>
            </div>
            <div class="text-center" *ngIf="process.files">
              <i class="fa fa-check-circle-o mb-3"></i>
              <p class="text-dark">{{ process.file[0].name }}</p>
            </div>
          </file-drop>
        <div class="d-flex">
          <p class=" text-danger" *ngIf="fileTypeError">  יש להעלות קבצי  XLSX/DAT בלבד. </p>
        </div>
        </div>
    </div>
  <p [@fade]="hasServerError ? 'active': 'inactive'" class="alert alert-danger">שגיאת שרת, נסה שנית או צור קשר.</p>
  <div class="d-flex justify-content-between mt-2">
     <span (click)="setPage(-1, form)">
       <p *ngIf="pageNumber === 2" class="pointer mt-5 blue-color ">
         <i class="fa fa-angle-right ml-1"></i>
         <span>חזור</span>
       </p>
     </span>
    <button class="btn blue-btn mt-5" (click)=" pageNumber === 2 ? paymentPopup(form): setPage(1, form)" >המשך</button>

  </div>
</form>

