<p class="h4 mb-4">משתמשים</p>
<!--<div class="w-25">-->
  <!--<bd-select [items]="employers" placeholder="מעסיק" [(ngModel)]="searchCriteria['employer']" (onSelect)="search()"></bd-select>-->
<!--</div>-->
<div class="d-flex my-3">
  <bd-select class="w-25" [items]="user" label="username" placeholder="שם משתמש" [(ngModel)]="searchCriteria['user_id']" (onSelect)="search()"></bd-select>
  <bd-select [items]="role" placeholder="סוג משתמש" class="mx-3 w-25" [(ngModel)]="searchCriteria['role_id']" (onSelect)="search()"></bd-select>
  <button class="btn blue-btn" *ngIf="isSearchActive()" (click)="resetSearch()">אפס חיפוש</button>
</div>
<div class="d-flex justify-content-end mt-4">
  <button class="btn blue-btn" [routerLink]="['./', 'form']">הוספת משתמש</button>
</div>
<table class="table table-bordered table-hover mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
    <th>פעולות</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!isSearching">
    <tr *ngFor="let item of paginatedItems" class="pointer">
      <td>{{ item.username }}</td>
      <td>{{ item.role }}</td>
      <td>{{ item.first_name + ' ' + item.last_name}}</td>
      <td>{{ item.email }}</td>
      <td>
        <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!isSearching && items.length === 0">
    <td colspan="9" class="text-center bold">טבלת משתמשים ריקה.</td>
  </tr>
  </tbody>
</table>
<app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>

