<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>בקשה חדשה</span>
</div>
<form #form="ngForm">
  <div class="mt-5 mb-3">
    <mat-checkbox name="has_clearing" class="ml-3"  [(ngModel)]="hasClearing">דרך מסלקה</mat-checkbox>
    <mat-checkbox name="has_clearing_employer" [(ngModel)]="hasClearingEmployer">כלל העובדים</mat-checkbox>
  </div>
  <div class="d-flex" [@fade]="hasClearingEmployer ? 'inactive' : 'active' ">
    <bd-select [items]="data.departments" placeholder="בחר מחלקה" (onSelect)="loadEmployees($event)" class="w-50 ml-3" ></bd-select>
    <div class="w-50">
      <bd-select [items]="employees" placeholder="בחר עובד*" name="employee" #employeesModel="ngModel" ngModel ng-required="!hasClearingEmployer"></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && employeesModel.errors ? 'active' : 'inactive'">יש לבחור עובד.</p>
    </div>
  </div>
  <div class="d-flex mt-4" [@fade]="hasClearing || hasClearingEmployer? 'inactive' : 'active' ">
      <bd-select  class="w-50 ml-3" [items]="data.companies" placeholder="חברה מנהלת*" name="company" #companyModel="ngModel" (onSelect)="loadProducts($event)" ngModel  ng-required='hasClearing' ></bd-select>
      <!--<p class="alert alert-danger" [@fade]="form.submitted && companyModel.errors ? 'active' : 'inactive'">יש לבחור חברה מנהלת.</p>-->

    <div class="w-50">
      <bd-select [items]="productTypes" placeholder="סוג מוצר*" name="product_type" #productModel="ngModel" ngModel  ng-required='hasClearing' ></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && productModel.errors ? 'active' : 'inactive'">יש לבחור סוג מוצר.</p>
    </div>
  </div>

  <div class="d-flex mt-4" [@fade]="(hasClearing && hasClearingEmployer) || !hasClearingEmployer? 'inactive' : 'active' ">
    <bd-select  class="w-50 ml-3" [items]="data.companies" placeholder="חברה מנהלת*" name="company" #companyModel="ngModel"  ngModel  ng-required='hasClearing' multiple="true" ></bd-select>
  </div>

  <mat-form-field class="w-50 my-3">
    <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="תאריך נכונות (שכר)" name="validity_date" ngModel readonly required>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
  <div class="d-flex">
    <!--<mat-form-field class="w-50 ml-3">-->
      <!--<input type="email" matInput placeholder="מייל לשליחה" name="send_email" ngModel>-->
    <!--</mat-form-field>-->
    <mat-form-field class="w-50">
      <input type="number" matInput placeholder="יתרה צפויה" name="projected_balance" ngModel>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="comment">הערות:</label>
    <textarea class="form-control" rows="5" id="comment" name="comments"  ngModel></textarea>
  </div>
  <!--<mat-form-field class="w-100">-->
    <!--<textarea matInput placeholder="הערות" name="contents" ngModel></textarea>-->
  <!--</mat-form-field>-->
  <div class="mb-3">
    <mat-checkbox name="has_deposit_report" ngModel>כלול דו"ח הפקדות</mat-checkbox>
  </div>

<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">{{message}}</p>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit(form)">שמור</button>
</div>
</form>
