<div class="dialog-header">
    <span class="pointer" (click)="close()">
    <i class="fa fa-close"></i>
  </span>
  <span>העבר לטיפול</span>
</div>
<form #form="ngForm" class="py-4">
  <div class="mb-4">
    <bd-select class="w-100" [items]="entityTypes" name="entity_type" #entityTypeSelect="ngModel"
               (onSelect)="loadEntities($event)"
               ngModel
               placeholder="סוג גורם" required [error]="entityTypeSelect.errors && form.submitted"></bd-select>
  </div>
  <div class="mb-4">
    <bd-select class="ml-4" name="contactsAdd"  [items]="contacts" placeholder="אנשי קשר"  [multiple]="true" (ngModel)="contactsAdd" ></bd-select>
  </div>
  <mat-form-field class="w-100">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let email of Emails" [selectable]="selectable"
                [removable]="removable" (removed)="remove(email)">
        {{email.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="הוספת כתובת מייל"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <div class="form-group">
    <label for="comment">תוכן:</label>
    <textarea class="form-control" rows="5" id="comment" name="comments"  required [(ngModel)]="comments"></textarea>
  </div>
  <div class="mt-3 pointer">
    <label class="file-label">
      <img src="/assets/img/icons/circle_arrow_up.png">
      <span class="file-label-text">{{ uploadedFile ? (uploadedFile[0].name | slice : 0:20) : 'העלאת קובץ חדש' }}</span>
      <input type="file" (change)="uploadedFile = $event.target.files" multiple>
    </label>
  </div>
</form>
<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit(form)">שלח</button>
</div>


