<div class="dialog-header"  dir="rtl">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>פירוט רשומות בחשבונית</span>
</div>
<div class="pre-scrollable">

<table class="table table-bordered" dir="rtl">
  <thead>
  <tr>
    <td>כמות ת"ז</td>
    <td>סוג תעריף</td>
    <td>תעריף</td>
    <td>סה"כ</td>
    <td>תיאור</td>
    <td>האם חריג</td>
    <td>חודש</td>
    <td>מוצר</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let detail of invoiceDetails" class="pointer w-100" matTooltipPosition="above"
      [matTooltip]="detail.step ?  ' תעריף: ' + detail.step.payment_type + ' כמות ת.ז: ' + detail.step.ids_count + ' סכום לתשלום: ' + detail.step.payment_amount: null" >
    <td class="w-20">{{ detail.ids_count }}</td>
    <td class="w-20">{{ detail.payment_type }}</td>
    <td class="w-20">{{ detail.payment_amount | number:'1.2-2' }}</td>
    <td class="w-20">{{ detail.total_amount | number:'1.2-2' }}</td>
    <td class="w-25">{{ detail.details }}</td>
    <td class="w-20">{{ detail.is_exceptional }}</td>
    <td class="w-50">{{ detail.for_month_process }}</td>
    <td class="w-25">{{ product_relation_enum[detail.product_type.product_type] }}</td>
  </tr>
  </tbody>
</table>
</div>
