.lineHeight {
  line-height: 6px
}

.boxShadow {
  width: 20%;
  height: 25%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 0px rgba(112, 112, 112, 0.2);
  background-color: #ffffff;
  padding: 18px;
}
