<div class="col-12 f-12 mb-lg-5">
  <div class="float-left" *ngIf="!isProcess">
    <mat-form-field>
      <mat-select placeholder="חודש שכר" [(ngModel)]="this.selectMonth" name="month" class="ml-3"
                  (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mr-3">
      <mat-select placeholder="שנה" [(ngModel)]="this.selectYear" name="year" (selectionChange)="dataTable.search()">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-data-table tableName="מעקב ברמת קובץ" [columns]="columns" (fetchItems)="fetchItems()"
                [hasCheckColumn]="true" [hasActionsHeader] = "userSession.getPermissionsType('operations')">
  <div class="table-header">
    <!--<div  class="lineHeight boxShadow" *ngIf="route.snapshot.queryParams['processId']">-->
      <!--<div class="d-flex">-->
        <!--<span class="bold">מספר תהליך: </span>-->
        <!--<p class="mr-1">{{ processId }}</p>-->
      <!--</div>-->
      <!--<div class="d-flex">-->
        <!--<span class="bold">שם תהליך: </span>-->
        <!--<p class="mr-1">{{ processName }}</p>-->
      <!--</div>-->
      <!--<div class="d-flex">-->
        <!--<span class="bold">תאריך שליחת היזון חוזר:  </span>-->
        <!--<p class="mr-1">{{ feedbackDate | date: 'dd/MM/yy' }}</p>-->
      <!--</div>-->

    <!--</div>-->

    <div class="row mr-1">
      <div class="ml-3 d-flex mr-auto">
        <button [matMenuTriggerFor]="menu" class="btn blue-btn mr-2">פעולות</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeFileToNegative()">יצירת קובץ שלילי</button>
          <button mat-menu-item (click)="changeStatus()">שינוי סטטוס פניה</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }">
    <td class="check-column">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td  (click)="detailsRecords(item.id, item.status)"
         [ngClass]="{'blue':  getType(item.file_type) == 1, 'red': getType(item.file_type) == -1}">{{ item.process_name}}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ item.date | date: 'MM/yy'}}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ item.company_name}}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ item.employer_name}}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ item.amount | number: '1.2-2' }}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ item.product_code }}</td>
    <td  (click)="detailsRecords(item.id, item.status)">{{ statuses[item.status] }}</td>
    <td (click)="detailsRecords(item.id, item.status)"> {{  item.manual_status ?  manualStatus[item.manual_status] : ''}}</td>
    <td>
      <img src="/assets/img/icons/details_grey.png" (click)="openFormDialog(item)">
    </td>
    <td (click)="openCommentsDialog(item)">
      <i *ngIf="item.comments.length === 0" class="fa fa-comment-o"></i>
      <i *ngIf="item.comments.length > 0" class="fa fa-comment"></i>
    </td>
    <td *ngIf="dataTable.hasActionsHeader">
      <img src=" /assets/img/icons/forward_green.png" title="שלח" (click)="openInquiresDialog(item)">
      <span class="grey-circle mr-3" (click)="openInquiriesDetailsDialog(item)">{{ item.inquiries.length }}</span>
    </td>
  </tr>
</app-data-table>
