<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>פרטי הפניות</span>
</div>
<table class="table my-3 dialog-table">
  <thead>
    <tr>
      <th>תאריך</th>
      <th>נמענים</th>
      <th>תוכן</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inquiry of inquiries">
      <td class="w-25">{{ inquiry.reminder_date | date: 'dd/MM/yy HH:mm' }}</td>
      <td class="w-25 ltr">

        <!--<ng-container *ngFor="let receiver of inquiry.receivers; let last = last">{{ receiver.email | truncate: 30 }} </ng-container>-->
      </td>
      <td class="w-50">{{ inquiry.content }}</td>
    </tr>
  </tbody>
</table>
<!--<chips-input-example></chips-input-example>-->
