.filter-row bd-select, .filter-row .mat-form-field {
  width: 300px !important;
}
.icon-color {
  color: rgba(126, 117, 117, 1)
}

.no-borders {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
