<p class="h4 mb-4">שגיאות</p>
<div class="d-flex filter-row">
  <bd-select [items]="employers" class="ml-3"  placeholder="מעסיק"></bd-select>
  <bd-select [items]="departments" placeholder="מחלקה"></bd-select>
</div>
<div class="d-flex align-items-center flex-wrap mb-3 filter-row">
  <bd-select [items]="selectStatuses" placeholder="סוג שגיאה" [(ngModel)]="searchCriteria['status']" (onSelect)="search()" class="ml-3"></bd-select>
  <mat-form-field class="col-2">
    <input matInput class="pointer" (click)="datePickerRequest2.open()" [matDatepicker]="datePickerRequest2" placeholder="בגין חודש" name="dateRequest2"  [(ngModel)]="searchCriteria['date_request2']" (dateChange)="valueDateChange2($event.value)" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerRequest2"></mat-datepicker-toggle>
    <mat-datepicker #datePickerRequest2></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="pointer" (click)="datePickerRequest.open()" [matDatepicker]="datePickerRequest" placeholder=" תאריך יצירת בקשה" name="dateRequest"  [(ngModel)]="searchCriteria['date_request']" (dateChange)="valueDateChange($event.value)" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerRequest"></mat-datepicker-toggle>
    <mat-datepicker #datePickerRequest></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
</div>
<div class="d-flex filter-row">
  <input class="ml-3" placeholder="סכום">
  <input class="ml-3" placeholder="מספר חשבונית">
</div>
<table  class="table table-bordered table-hover mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!isSearching">
    <tr *ngFor="let item of paginatedItems" class="pointer" [ngClass]="{ 'checked': item.isChecked }">
      <td class="check-column">
        <mat-checkbox (change)="checkItem(item, $event.checked)" [checked]="isCheckAll"></mat-checkbox>
      </td>
      <td>{{ item.id }}</td>
      <td>{{ item.employer_financial_details.employer.name}}</td>
      <td>{{ item.total_amount }}</td>
      <td>{{ item.ids_count }}</td>
      <td>{{ item.for_month  | date: 'MM/yy' }}</td>
      <td>{{ item.created_at  | date: 'dd/MM/yy' }}</td>
      <td>חשבון עסקה</td>
      <td>{{ error_status[item.status]}}</td>
      <td></td>
    </tr>
  </ng-container>
  <tr *ngIf="!isSearching && items.length === 0">
    <td colspan="19" class="text-center bold">טבלת הבקשות ריקה.</td>
  </tr>
  </tbody>
</table>
