<div class="mr-5 px-4">
<p>
  מצג מעסיקים
</p>
<form #form="ngForm">
  <div class="row">
    <div class="w-20">
      <bd-select [items]="productTypesItems" placeholder="שם מוצר"  name="product_type"></bd-select>
    </div>
    <div class="d-flex align-items-center mr-3">
      <mat-form-field style="margin-top: -10px;">
        <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="בגין חודש" name="for_month" ngModel readonly required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
    </div>
    <div class="float-left mr-3">
      <button class="btn blue-btn" (click)="submit(form)">חפש</button>
    </div>
    <div class="ml-3 d-flex mr-auto">
      <i title="דוח עם אפסים" class="fa fa-file-excel-o fa-lg ml-1 ml-lg-2"></i>
    </div>
    <div class="ml-3 d-flex mr-auto">
      <i title="דוח ללא אפסים" class="fa fa-file-excel-o fa-lg ml-1 ml-lg-2"></i>
    </div>
  </div>


</form>

  <div style="display: inline-block">
    <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
