<div class="mr-5 px-4">
<p>מצג מעסיקים</p>
<form #form="ngForm">
  <div class="row">
    <!--<mat-form-field class="w-50 mt-2 mr-3">-->
      <!--<input matInput type="text" name="InvoiceId" [(ngModel)]="invoiceId" placeholder="מספר חשבונית">-->
      <!--&lt;!&ndash;<mat-hint class="grey-color f-12">בשדה זה ניתן להזין מלל חופשי אשר יתווסף לצורך זיהוי התהליך</mat-hint>&ndash;&gt;-->
    <!--</mat-form-field>-->
  </div>
  <div class="row">
    <div class="w-20 mr-3">
      <bd-select [items]="projectIdsItems" placeholder="פרוייקט" name="project_id" #projectIdModel="ngModel" ngModel></bd-select>
    </div>
    <div class="w-20 mr-3">
      <bd-select [items]="productTypesItems" placeholder="שם מוצר" name="product_type" #productTypeModel="ngModel" ngModel></bd-select>
    </div>
    <div class="d-flex align-items-center mr-3">
      <mat-form-field style="margin-top: -10px;">
        <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="בגין חודש" name="for_month" ngModel readonly required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>

      <!--<div class="w-20">-->
        <!--<input placeholder="מספר חשבונית" name="invoice_id" #invoiceIdModel="ngModel" ngModel>-->
      <!--</div>-->
    </div>
    <!--<mat-form-field>-->
      <!--<input matInput  placeholder="טלפון"  maxlength="11" minlength="7">-->
    <!--</mat-form-field>-->
    <!--<div class="d-flex align-items-center mr-3">-->
      <!--<jp-multi-datepicker mode="MONTH"  style="margin-top: -10px;"-->
                           <!--label="בגין חודש"-->
                           <!--touchUi="true"-->
                           <!--name="for_month" #forMonthModel="ngModel" ngModel>-->

      <!--</jp-multi-datepicker><br>-->
    <!--</div>-->

    <div class="float-left mr-3">
      <button class="btn blue-btn" (click)="submit(form)">חפש</button>
    </div>
    <div class="ml-3 d-flex mr-auto">
      <i title="דוח כולל אפסים" class="my-icon fa fa-file-excel-o fa-lg ml-1 ml-lg-2" (click)="downloadExcelDashboard(false)"></i>
      <i aria-hidden="true" title="דוח אפסים" class="my-icon mr-3 fa fa-file-excel-o fa-lg ml-1 ml-lg-2" (click)="downloadExcelDashboard(true)"></i>
    </div>
  </div>
</form>
  <div class="content-border">
      <span class="mt-3 content-text ids" *ngIf="totalIds > 0">{{ totalIds }}</span><br>
      <span class="mb-3 content-text" *ngIf="totalIds > 0">סה"כ תעודות זהות</span>
      <app-doughnut></app-doughnut>
  </div>
</div>
