<form #form="ngForm" [ngClass]="{ 'disabledDiv': !userSession.getPermissionsType('finance') }">
  <div>
      <input  type="hidden" name="id" [(ngModel)]="financialDetails.id">
      <!--<input  type="hidden" name="pay_employer_id" [(ngModel)]="financialDetails.pay_employer.id">-->
  </div>
  <div class="row mb-4 mt-5">
    <div class="col-6 col-lg-3">
      <bd-select [items]="payEmployers" name="pay_employer"
                 [(ngModel)]="financialDetails.pay_employer.id" placeholder="ח.פ משלם" #payEmployerModel="ngModel"
                 required ></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && payEmployerModel.errors ? 'active' : 'inactive'">יש לבחור ח.פ משלם.</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-6 col-lg-3">
      <bd-select [items]="currencyItems" placeholder="מטבע" #currencySelect="ngModel" name="currency"  [(ngModel)]="financialDetails.currency" required>financialDetails.currency</bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && currencySelect.errors ? 'active' : 'inactive'">יש לבחור מטבע.</p>
    </div>
    <div class="col-6 col-lg-3">
      <bd-select [items]="languageItems" placeholder="שפה" #languageSelect="ngModel" name="language" [(ngModel)]="financialDetails.language" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && languageSelect.errors ? 'active' : 'inactive'">יש לבחור שפה.</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-6 col-lg-3">
      <bd-select [items]="paymentTermsItems" placeholder="תנאי תשלום" #paymentTermsSelect="ngModel" name="payment_terms" [(ngModel)]="financialDetails.payment_terms" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && paymentTermsSelect.errors ? 'active' : 'inactive'">יש לבחור תנאי תשלום.</p>
    </div>
    <div class="col-6 col-lg-3">
      <bd-select [items]="paymentMethodItems" placeholder="אופן תשלום" #paymentMethodSelect="ngModel" name="payment_method" [(ngModel)]="financialDetails.payment_method" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && paymentMethodSelect.errors ? 'active' : 'inactive'">יש לבחור אופן תשלום.</p>
    </div>
    <div class="col-6 col-lg-3">
      <bd-select [items]="taxItems" placeholder="תשלום מס" #taxSelect="ngModel" name="tax" [(ngModel)]="financialDetails.tax" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && taxSelect.errors ? 'active' : 'inactive'">יש לבחור תשלום מס.</p>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-6 col-lg-3">
    <input matInput type="text" name="invoice_employer_name" [(ngModel)]="financialDetails.invoice_employer_name" placeholder="שם מעסיק בחשבונית ירוקה" required>
    </mat-form-field>
    <mat-form-field class="col-6 col-lg-3">
      <input matInput type="text" name="green_invoice_id" [(ngModel)]="financialDetails.green_invoice_id" placeholder="מספר מזהה בחשבונית ירוקה">
    </mat-form-field>
    <mat-form-field class="col-6 col-lg-3">
      <input matInput type="text" name="green_invoice_email" [(ngModel)]="financialDetails.green_invoice_email" placeholder="מייל בחשבונית ירוקה">
    </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="col-6 col-lg-3">
        <input matInput type="text" name="credit_card_last_digits" [(ngModel)]="financialDetails.creditCardLastDigits" placeholder="ספרות אחרונות של כרטיס אשראי">
      </mat-form-field>
      <mat-form-field class="col-6 col-lg-3">
        <input matInput type="text" name="min_payment" [(ngModel)]="financialDetails.min_payment" placeholder="סכום מינימום לתשלום">
      </mat-form-field>
  </div>

  <div class="row mb-3">
    <div class="col-6 col-lg-3 mt-3">
      <bd-select [items]="paymentTimeItems" placeholder="זמן חיוב" #paymentTimeSelect="ngModel" name="payment_time" [(ngModel)]="financialDetails.payment_time" (onSelect)="showNoPaymentTime()" required></bd-select>
      <p class="alert alert-danger" [@fade]="form.submitted && paymentTimeSelect.errors ? 'active' : 'inactive'">יש לבחור זמן חיוב.</p>
    </div>
    <div *ngIf="isNoPaymentTime" class="col-6 col-lg-3 mt-3">
      <bd-select [items]="noPaymentTimeItems" placeholder="בתוקף עד" #paymentTimeValiditySelect="ngModel" name="payment_time_validity" [(ngModel)]="financialDetails.payment_time_validity" (onSelect)="selectDueDate()" required></bd-select>
    </div>
    <div *ngIf="isNoPaymentTime && openDatePicker" class="d-flex mr-3">
      <mat-form-field>
        <input matInput class="pointer" (click)="datePicker.open()"  [matDatepicker]="datePicker" placeholder="בחירת חודש" name="payment_due_date" [(ngModel)]="financialDetails.payment_due_date" readonly required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-checkbox name="direct_debit_commission" [(ngModel)]="financialDetails.direct_debit_commission" >עמלת הוראת קבע</mat-checkbox>
  </div>
  <div class="row" *ngIf="displayMasav">
    <mat-checkbox [checked]="financialDetails.is_masav" name="is_masav" [(ngModel)]="financialDetails.is_masav">תשלום מיידי באמצעות מסב</mat-checkbox>
  </div>
  <div class="row">
    <mat-checkbox [checked]="financialDetails.est_payment_amount > 0 ? true : false" name="establishing_payment" (change)="addEstablishing($event.checked)" >תשלום הקמה</mat-checkbox>
  </div>
  <div class="row mt-2 mb-4" *ngIf="isEstablishingPayment || financialDetails.est_payment_amount > 0">
    <div class="d-flex align-items-center">
      <div class="bd-select-container">
        <bd-select [items]="paymentTypesItems" placeholder="שיטת חיוב" #paymentTypesSelect="ngModel" name="est_payment_type" [(ngModel)]="financialDetails.est_payment_type" required></bd-select>
      </div>
      <mat-form-field class="mr-3">
        <input matInput type="text" name="est_payment_amount" [(ngModel)]="financialDetails.est_payment_amount" placeholder="סכום לתשלום" required>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" name="est_ids_count" [(ngModel)]="financialDetails.est_ids_count" placeholder="כמות ת.ז." required>
      </mat-form-field>
    </div>
  </div>

  <mat-divider class="mt-3"></mat-divider>
  <div  name="products" class="row mt-3 mb-lg-2">מוצרים</div>
  <button *ngIf="financialDetails.financial_product.length == 0" class="btn blue-btn mt-3 d-flex justify-content-start" (click)="addProductRow()">הוספת מוצר</button>

  <div class="mt-3"  *ngFor="let product of financialDetails.financial_product; let last1 = last; let index1 = index">
    <div [style.visibility]='hidden'>
        <input type="hidden" [name]="'product_id' + index1" [(ngModel)]="product.id">
    </div>
    <div class="d-flex align-items-center">
      <div class="bd-select-container">
        <bd-select [items]="productTypesItems" placeholder="שם מוצר" #productTypeSelect="ngModel" [name]="'product_type' + index1"  [(ngModel)]="product.product_type" required></bd-select>
        <p class="alert alert-danger" [@fade]="form.submitted && productTypeSelect.errors ? 'active' : 'inactive'">יש לבחור שם מוצר.</p>
      </div>
      <i class="fa fa-close fa-2x pointer blue-color" title="מחיקת מוצר" (click)="deleteProductRow(index1)"></i>
    </div>
    <div class="d-flex align-items-center" *ngFor="let payments of product.financial_payments;  let last = last; let index = index">
      <div [style.visibility]='hidden'>
          <input  type="hidden" [name]="'payment_id' + index1 + index" [(ngModel)]="payments.id">
      </div>
      <div class="bd-select-container">
        <bd-select [items]="paymentTypesItems" placeholder="שיטת חיוב" #paymentTypesSelect="ngModel" [name]="'payment_type' + index1 + index" [(ngModel)]="payments.payment_type" required></bd-select>
        <p class="alert alert-danger" [@fade]="form.submitted && paymentTypesSelect.errors ? 'active' : 'inactive'">יש לבחור שיטת חיוב.</p>
      </div>
      <mat-form-field class="mr-3">
        <input matInput type="text" [name]="'payment_amount' + index1 + index" [(ngModel)]="payments.payment_amount" placeholder="סכום לתשלום">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" [name]="'ids_count' + index1 + index" [(ngModel)]="payments.ids_count" placeholder="כמות ת.ז.">
      </mat-form-field>
      <i class="fa fa-plus-circle fa-2x pointer blue-color" title="הוספה" (click)="addPaymentRow(index1)" *ngIf="last && index < 4"></i>
      <i class="fa fa-close fa-2x pointer blue-color" title="מחיקה" (click)="deletePaymentRow(index1, index)" *ngIf="index != 0"></i>
    </div>
    <div class="row">
      <mat-checkbox name="is_zero" [(ngModel)]="product.is_zero" [checked]="product.is_zero">הצג אפסים</mat-checkbox>
    </div>
    <div class="row">
      <mat-checkbox name="show_details" [(ngModel)]="product.show_details" [checked]="product.show_details">הצג פרטים בחשבונית</mat-checkbox>
    </div>
    <div class="row">
      <mat-checkbox [checked]="displayCheckedAdditional(product)" name="additional_payment" (change)="showAdditionalPayment(index1, $event.checked)">תוספת קבועה לתשלום</mat-checkbox>
    </div>
    <div class="row mt-2 mb-4" *ngIf="additionalPayment || product.additional_payment_amount > 0">
      <mat-form-field class="col-6 col-lg-3">
        <input matInput type="text" [name]="'additional_payment_amount' + index1" [(ngModel)]="product.additional_payment_amount" placeholder="סכום עמלה" required>
      </mat-form-field>
      <mat-form-field class="col-6 col-lg-3">
        <input matInput type="text" [name]="'additional_payment_desc' + index1" [(ngModel)]="product.additional_payment_desc" placeholder="תיאור עמלה" required>
      </mat-form-field>
    </div>
    <mat-divider class="mt-3"></mat-divider>
      <button class="btn blue-btn mt-3 d-flex justify-content-start" (click)="addProductRow()" *ngIf="last1 && index1 < 2">הוספת מוצר</button>
  </div>
  <p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
  <div class="d-flex justify-content-end">
    <button class="btn blue-btn mt-3 mb-5" (click)="submit(form)">שמירה</button>
  </div>
  <!--<div class="mt-3">-->
    <!--<button class="btn blue-btn" (click)="submit(form)">שלח</button>-->
  <!--</div>-->
</form>
