<div class="text-center container">
  <div class="row ">
    <div class="col-12">
      <img class="big-img "src="/assets/img/icons/undraw_connected_world_wuay.png">
    </div>
  </div>
  <h1 class="title">
    ברוכים הבאים להאנטר
  </h1>
  <h2 class="sub-title text-center  ">
    נא להקליד את הסיסמא שהתקבלה
  </h2>
  <mat-form-field class="input" >
  <input matInput  >
</mat-form-field>
  <div >
    <p class="send-again">שלח שוב</p>

    <p class="d-inline"> <ins>?לא קיבלת קוד</ins></p>

</div>
  <span class="text-center ">

  <button  class="btn btn-black btn-lg mt-5 mb-0"  routerLink="/success">התחברות</button>
  <p class="text"> <ins>שכחתי סיסמא </ins></p>


    </span>
</div>


