<div>
  <div class="card card-1 p-3 my-2 mx-0" >
    <p class="bold h3">סיכום</p>
    <div class="d-flex w-50 my-2">
      <span  class="bold h6 py-1">שם קמפיין:</span>
      <span class="mr-2" >{{taskCampaignForm.details.name }}</span>
    </div>
    <div class="d-flex align-content-between">
      <div class="d-flex w-50 my-2 ml-5">
        <span class="bold">שיטת שליחה:</span>
        <span class="mr-2">{{ campaignSent[taskCampaignForm.details.statusSend] }}</span>
      </div>
      <div class="d-flex w-50 my-2 ml-5">
        <span class="bold">שם המודול:</span>
        <span class="mr-2">{{model}}</span>
      </div>
      <div class="d-flex w-50 my-2 ml-5">
        <span class="mr-2">{{modelName}}</span>
      </div>
    </div>
    <div class="d-flex align-content-between">
      <div class="d-flex w-30 my-2 ml-5">
        <span class="bold">זמן שליחה:</span>
        <span class="mr-2">{{ dateSend }}</span>
      </div>
      <div class="d-flex w-30 my-2 ml-5" >
        <span class="bold">תאריך יצירה: </span>
        <span>  {{date}}</span>
      </div>
<!--      <div class="d-flex w-30 my-2 ml-5" [@fade]="taskCampaignForm.details.status ? 'active': 'inactive'">-->
<!--        <span class="bold">סטטוס:</span>-->
<!--        <span class="mr-2">{{campaignStatus[taskCampaignForm.details.status]}}</span>-->
<!--      </div>-->
    </div>
  </div>
  <div [formGroup]="groups" [@fade]="page === 1 ? 'active': 'inactive'">
    <p class="py-3 h4">בחר קבוצות אליהם ישלח הקמפיין</p>
    <div class="card card-1 p-3 my-2 mx-0" formGroupName="groupCampaign">
      <app-data-table [columns]="columns" [hasCheckColumn]="true" [hasActionsHeader]="false" [hasExtendedSearch]="false"
                      (fetchItems)="fetchItems()" [disableCheckAll]="true">
        <tr *ngFor="let item of dataTable.items; let index = index" [ngClass]="{ 'checked': item.checked }">
          <td class="check-column">
            <mat-checkbox (change)="validateGroups(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
          </td>
          <td class="pointer" (click)="openGroupMembersDialog(item)">{{ item.name }}</td>
          <td class="pointer" (click)="openGroupMembersDialog(item)">{{ item.created_at.slice(0, 11) }}</td>
          <td class="pointer" (click)="openGroupMembersDialog(item)">{{ item.group_size }}</td>
        </tr>
      </app-data-table>
      <p class="alert alert-danger mb-0" *ngIf="(dataTable.criteria.checkedItems.length === 0 && !dataTable.criteria.isCheckAll) && isSubmitted">יש לבחור לפחות קבוצה אחת עם נמענים.</p>
    </div>
  </div>
  <div class="py-5" [@fade]="page === 2 ? 'active': 'inactive'">
    <p class="py-3 h4 text-center" >ליצירה ושליחת הקמפיין לחץ על סיום ושליחה</p>
  </div>
  <div class="py-4 w-100 float-left left">
    <button mat-button (click)="back()" class="btn-outline-dark float-right">חזור</button>
    <button mat-button (click)="continue()" type="submit" class="blue-btn float-left">{{page === 2 ? 'סיום ושליחה': 'המשך'}}</button>
  </div>
</div>


