<!--<p class="py-3 h4">בחר קבוצות אליהם ישלח הקמפיין</p>-->
<!--<div class="card card-1 p-3 my-2 mx-0">-->
<!--  <app-data-table [columns]="columns" [hasCheckColumn]="true" [hasActionsHeader]="false" [hasExtendedSearch]="false"-->
<!--                  (fetchItems)="fetchItems()">-->
<!--    <tr *ngFor="let item of dataTable.items; let index = index" [ngClass]="{ 'checked': item.checked }">-->
<!--      <td class="check-column">-->
<!--        <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>-->
<!--      </td>-->
<!--      <td class="pointer" (click)="openGroupMembersDialog(item)">{{ item.name }}</td>-->
<!--      <td class="pointer"(click)="openGroupMembersDialog(item)">{{ item.created_at.slice(0, 11) }}</td>-->
<!--      <td class="pointer"(click)="openGroupMembersDialog(item)">{{ item.group_size }}</td>-->
<!--    </tr>-->
<!--  </app-data-table>-->
<!--</div>-->

