<div class="container-fluid text-center">

  <div class="row ">
    <div class="col-12">
      <img class="big-img "src="/assets/img/icons/undraw_online_connection_6778 (3)@2x.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8 text-center">
      <h1 class="title text-center">כל אחד יכול להיות מגלה כשרונות</h1>
      <span class="sub-title  text-center ">בואו לנצל את הקשרים שלכם ולהרוויח מזה כסף</span>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
<div class="d-flex buttons-group mr-2 row">
  <div class="col-6 pl-1">
  <button  class="btn purple-btn btn-lg justify-content-center pr-1" >אני מגייס מועמדים</button>
  </div>
  <div class="col-6">
  <button routerLink="/letsStart" class="btn black-btn btn-lg justify-content-center " >אני מגייס עסקים</button>
  </div>
</div>


  <div class="row">
    <div class="col-6"> <i class="fa fa-2x fa-arrow-down arrow "></i></div>
    <div class="col-6 ">
  <p class=" footer-connact text-right   "> משתמש קיים?
    <a href="#" class="connact-link" ><ins>התחבר</ins></a>  </p>
</div>
  </div>
</div>
<div class="container-fluid information-text text-center">
<h1 class="simple-title pt-5 ">איך זה עובד</h1>

  <div class="d-flex buttons-group  mt-0">
   <button  class="btn white-btn mt-4 btn-lg " >אני מגייס עסקים</button>
    <button  class="btn white-btn  mt-4 btn-lg" >אני מגייס מועמדים</button>
  </div>
  <ul >
    <li>מתחברים ויוצרים משתמש חדש</li>
    <li>מוסיפים עסקים שמחפשים עובדים ומחברים אותם למערכת</li>
    <li>וזהו! מכאן המערכת תעשה את העבודה ותחבר בין עסקים שמחפשים עובדים לבין מועמדים שמחפשים עבודה</li>
  </ul>
  <h1 class="inclined-text  font-weight-bold font-italic " >!ככה כולם מרוויחים</h1>
  <p class="explain"> העסק מרוויח עובדים חדשים ואתה מייצר הכנסה מהצד</p>
  <h1 class="mr-4 final-title" >!גם עזרת לעסק וגם הרווחת כסף</h1>

  <button  routerLink="/register" class="btn btn-style btn-register purple-button mt-2 mr-2 btn-lg" >הרשם ותתחיל להרוויח</button>
</div>
  <div class="fitcher">
    <h1 class="simple-title pt-5 ">הפיצ'רים שלנו</h1>


  <h1 class="fitcher-title">קשר ישיר<img class="ficher-img" src="/assets/img/icons/Group 14029.svg"></h1>
  <p class="fitcher-discraption">
    גו'בי מאפשר תקשורת ישירה מול המועמדים בעזרת צ'אט, מיילים, שאלונים, טפסים דיגיטליים ומבחני סינון
  </p>
  <h1 class="fitcher-title">מערכת מותאמת אישית<img  src="/assets/img/icons/Group 14029.svg"></h1>
  <p class="fitcher-discraption">
    גו'בי מתאים את עצמו לפי צרכייך האישיים כתלות בבית העסק שלך ובכך מאפשר לך לנהל את מערך גיוס העובדים ביעילות מקסימלית תוך ניצול זמן מיטבי של משאבי האנוש
  </p>
  <h1 class="fitcher-title">ניהול ראיונות בקלות ובמהירות<img src="/assets/img/icons/Group 14029.svg"></h1>
  <p class="fitcher-discraption">גו'בי מתאים את עצמו לפי צרכייך האישיים כתלות בבית העסק שלך ובכך מאפשר לך לנהל את מערך גיוס העובדים ביעילות מקסימלית תוך ניצול זמן מיטבי של משאבי האנוש</p>
  <h1 class="fitcher-title">מאגר מועמדים עשיר<img src="/assets/img/icons/smartphone.svg"></h1>
  <p class="fitcher-discraption">מאגר המתעדכן מדי יום, הכולל ארכיון לניהול תיקי מועמדים, קורות חיים, המלצות, סיכומי ראיונות עבודה ומסמכים. בעזרת ג'ובי תוכל לנהל מועמדים פוטנציאליים במגוון תחומי עיסוק מתוך הארגון ומחוצה לו</p>
<h1 class="fitcher-title">מנוע חכם<img src="/assets/img/icons/Group 14029.svg"></h1>
<p class="fitcher-discraption">מערכת מבוססת בינה עסקית להצגת נתונים סטטיסטים ומנוע חכם לאיתור וניהול המועמדים, בהתאם לדרישות והגדרות הארגון</p>
  <h1 class="fitcher-title">ארגון נתונים<img src="/assets/img/icons/Group 14029.svg"></h1>
<p class="fitcher-discraption">ג'ובי מאגד את כל המשרות הפתוחות בארגון, מאפשר ניהול שלהן מכל לוחות הדרושים ועוזר לך לבצע מעקב נוח אחר כל המועמדים</p>
  </div>
  <div class="line mt-5"></div>
  <h1 class="simple-title mt-5 mr-5 ml-5 ">יחד איתנו תוכלו לקדם את ניהול הקריירה שלכם אל עבר עתיד דיגיטלי מתקדם</h1>
  <span class="fitcher-discraption">השאירו פרטים ונחזור אליכם בהקדם</span>

  <button routerLink="/register" class="btn btn-style btn-register black-button mt-2 mr-2 btn-lg mt-5 " >הרשם ותתחיל להרוויח</button>
  <div class="up text-center mt-5">
    <i class="fa fa-angle-up mb-0"></i>
    <p class=" mt-0">לראש הדף</p>

  </div>
  <div class="footer-part1">
    <div id="parent">
      <div class="child  pl-3">יצירת קשר</div>
      <div class="child pl-3">?איך זה עובד</div>
      <div class="child pl-3">הפיצ'רים</div>
      <div class="child pl-3">אודות</div>
      <div class="child  pl-3 ">דף הבית</div>
    </div>
    <div class="long-line "></div>
    <h1 class="hunter-title">HUNTER</h1>
    <span >מובילים בתחום גיוס עובדיםוחיפוש משרות</span>
  </div>







