<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<h5 class="blue-color bold mb-4">ארכיון אסמכתאות</h5>
<div class="divColor">
</div>
<form #form="ngForm" class="py-4">
  <div class="w-15 pointer bold mb-2">
    <i class="fa fa-folder-open-o ml-1 bold" aria-hidden="true"></i>
    <span class="f-18">קבצים</span>
  </div>

  <app-data-table tableName=""  (fetchItems)="fetchItems()" [hasCheckColumn]="false"
                  [hasActionsHeader]="false"   [hasExtendedSearch]="false" [hasActionsSearch]="false" >
    <thead>
    <tr>
      <td>שם מסמך</td>
      <td>תאריך העלאה</td>
      <td>פעולות</td>
    </tr>
    </thead>
    <tr *ngFor="let item of files" class="pointer" [ngClass]="{ 'checked': item.checked }">
      <td>{{ item.file_name }}</td>
      <td>{{ item.file_date | date: 'dd/MM/yy' }}</td>
      <td>
        <i class="fa fa-download fa-lg ml-2" (click)="downloadFile(item.file_name)" ></i>
        <i class="fa fa-trash fa-lg" (click)="deleteFile(item.file_name)" title="מחיקה"></i>
      </td>
    </tr>
  </app-data-table>
</form>
