
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{ processDataService.activeProcess.name + ' '
    + processDataService.activeProcess.monthName + ' '
    + processDataService.activeProcess.year }}</th>
    <td scope="col">{{ processDataService.activeProcess.monthName }}</td>
    <td scope="col">{{ processDataService.activeProcess.year }}</td>
  </tr>
  </thead>
</table>
<div class="col-6  offset-3" [@fade]="pageNumber === 1? 'active': 'inactive'">
      <div *ngIf="!isRefund">
        <h5 class="bold text-center">תהליך שידור</h5>
        <p class="f-12 text-center grey-color">להלן פרטי הנתונים הפנסיוניים לשידור לקופות</p>
      </div>
      <div *ngIf="isRefund">
        <h5 class="bold text-center">תהליך שידור קובץ שלילי</h5>
        <p class="f-12 text-center grey-color">להלן פרטי הבקשה להחזר מהקופות</p>
      </div>
      <p class="border-bottom f-14 bold grey-color">פרטי התהליך</p>
      <div class="d-flex">
        <div class="d-flex w-50">
          <span>שם המעסיק:</span>
          <p class="bold mr-1">{{process_details.employer_name}}</p>
        </div>
        <span>ח.פ:</span>
        <p class="bold mr-1">{{process_details.employer_identifier}} </p>
      </div>
      <div class="d-flex">
        <div class="d-flex w-50">
          <span>שם מחלקה: </span>
          <p class="bold mr-1">{{process_details.department_name}}</p>
        </div>
        <span>מספר תהליך:</span>
        <p class="bold mr-1">{{process_details.id}}</p>
      </div>
      <div class="d-flex">
        <div class="d-flex w-50">
          <span>שם התהליך: </span>
          <p class="bold mr-1">{{process_details.name}}</p>
        </div>
        <span>חודש שכר:</span>
        <p class="bold mr-1">{{processDataService.activeProcess.monthName}}</p>
      </div>

      <p class="border-bottom f-14 bold grey-color">פרטי התשלומים</p>
      <div class="d-flex">
        <span>סכום לתשלום: </span>
        <p class="bold mr-1">{{process_details.total | number: '1.2-2'}}</p>
      </div>
      <div class="d-flex">
        <div class="d-flex w-50">
          <span>מספר רשומות: </span>
          <p class="bold mr-1">{{process_details.records_count }}</p>
        </div>
        <span (click)="setPage('detailed-records')" class="pointer ">לפירוט רשומות ></span>
      </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>מספר קבצים: </span>
      <p class="bold mr-1">{{process_details.groups_count}}</p>
    </div>
    <span class="pointer " (click)="setPage('detailed-files')">לפירוט קבצים ></span>
  </div>
      <div *ngIf="!isRefund && permissionsType && process_details.status !== 'transmitted'">
        <div class="d-flex">
          <div class="d-flex w-50">
            <span>תאריך תשלום (ערך): </span>
            <p class="bold mr-1">{{paymentDate}}</p>
          </div>
          <span class="pointer " (click)="dateUpdate()">לעדכון תאריך ></span>
        </div>
        <!--<p class="f-12 bold red-color">הנך נדרש לעדכן תאריך ערך</p>-->
      </div>
      <div class="mt-4 d-flex" *ngIf="isRefund" >
        <p class="text-right bold red-color f-12">שים לב! </p>
        <p class="f-12 mr-2">בשידור לקופות הנך מאשר כי קובץ ההצהרה לבקשת החזר יהיה ממוען לחברות המנהלות בקובץ</p>
      </div>

      <mat-checkbox *ngIf="!isRefund && process_details.status !== 'transmitted'" [(ngModel)]="valid">
        <div class="text-wrap text-right mt-4">
          <p class="f-12">הנני מאשר כי פרטי התשלום המוצגים מעלה נבדקו מול תוכנת השכר והנם תקינים.
            בשידור לקופות הקבצים יועברו על פי הנתונים הקיימים ופיולה זואינה ניתנת לביטול.</p>
        </div>
      </mat-checkbox>
      <span (click)="previous()" class="float-right">
           <p class="pointer mt-5 blue-color">
             <i class="fa fa-angle-right ml-1"></i>
             <span>חזור</span>
           </p>
         </span>
      <div class="text-center mt-5 pb-5" *ngIf="permissionsType">
        <button *ngIf="process_details.status !== 'transmitted'" class="btn blue-btn" [disabled]="((!valid) && !isRefund) || (process_details.sent_status == 'sent')" (click)="transfer();
        processDataService.activeProcess.pageNumber = 5">שידור לקופות</button>
        <button *ngIf="process_details.status === 'transmitted'" class="btn blue-btn" (click)="aa()">היזונים חוזרים</button>
      </div>
    </div>
<div class="col-6 offset-3" [@fade]="pageNumber === 2? 'active': 'inactive'">
  <p class="h5 bold text-center mb-5" *ngIf="isRefund">בקשת ההחזר הועברה לקופות בהצלחה!</p>
  <div class="text-center" *ngIf="!isRefund">
    <p class="h5 bold mb-2">שידור בוצע בהצלחה!</p>
    <p class="f-12">להלן סכום נתוני השידור</p>
  </div>
  <p class="border-bottom f-14 bold grey-color">פרטי התהליך</p>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>שם המעסיק:</span>
      <p class="bold mr-1">{{process_details.employer_name}}</p>
    </div>
    <span>ח.פ:</span>
    <p class="bold mr-1">{{process_details.employer_identifier}} </p>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>שם מחלקה: </span>
      <p class="bold mr-1">{{process_details.department_name}}</p>
    </div>
    <span>מספר תהליך:</span>
    <p class="bold mr-1">{{process_details.id}}</p>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>שם התהליך: </span>
      <p class="bold mr-1">{{process_details.name}}</p>
    </div>
    <span>חודש שכר:</span>
    <p class="bold mr-1">{{processDataService.activeProcess.monthName}}</p>
  </div>
  <p class="border-bottom f-14 bold grey-color">פרטי התשלומים</p>
  <div class="d-flex">
    <span>סכום לתשלום: </span>
    <p class="bold mr-1">{{process_details.total}}</p>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>מספר קבצים: </span>
      <p class="bold mr-1">{{process_details.groups_count}}</p>
    </div>
    <span class="pointer" (click)="setPage('detailed-files')">לפירוט קבצים ></span>
  </div>
  <div class="d-flex">
    <div class="d-flex w-50">
      <span>מספר רשומות: </span>
      <p class="bold mr-1">{{process_details.records_count}}</p>
    </div>
    <span class="pointer" (click)="setPage('detailed-records')">לפירוט רשומות ></span>
  </div>
  <div class="mt-4 d-flex" *ngIf="isRefund" >
    <p class="text-right bold red-color f-12">שים לב!</p>
    <p class="f-12 mr-2">בשידור לקופות הנך מאשר כי קובץ ההצהרה לבקשת החזר יהיה ממוען לחברות המנהלות בקובץ</p>
  </div>
  <div class="mt-5 text-center pb-5" *ngIf="!isRefund && permissionsType">
    <button class="btn blue-btn" (click)="Refund()">יצירת בקשת החזר כספי</button>
  </div>
</div>
