<!--<div class="text-center" [@fade]="pageNumber === 1 ? 'active' : 'inactive'">-->
  <!--<table class="table table-bordered">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">{{data['processName']+ ' ' + data['month'] + ' ' + data['year']}}</th>-->
      <!--<td scope="col">{{data['month']}}</td>-->
      <!--<td scope="col">{{data['year']}}</td>-->
    <!--</tr>-->
    <!--</thead>-->
  <!--</table>-->
  <!--<br>-->
  <!--<h5 class="bold">תהליך שידור</h5>-->
  <!--<p class="f-12">להלן פרטי הנתונים הפנסיוניים לשידור לקופות</p>-->
  <!--<div class="container w-75">-->
  <!--<table class="table table-borderless">-->
    <!--<thead>-->
    <!--<tr class="border-bottom">-->
      <!--<th colspan="4" class="f-14">פרטי התהליך</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<td>שם המעסיק:</td>-->
      <!--<td *ngIf="process_details !== null && process_details.employer_name !== null">{{ process_details.employer_name }}</td>-->
      <!--<td>ח.פ: </td>-->
      <!--<td>{{ process_details.business_number }}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>שם מחלקה:</td>-->
      <!--<td>{{ process_details.department_name }}</td>-->
      <!--<td>מספר תהליך:</td>-->
      <!--<td>{{ process_details.id }}</td>-->
    <!--</tr>-->
    <!--<tr></tr>-->
    <!--<tr>-->
      <!--<td>שם התהליך: </td>-->
      <!--<td>{{ process_details.name }}</td>-->
      <!--<td>חודש שכר:</td>-->
      <!--<td>{{ process_details.date | slice:5:7}}</td>-->
    <!--</tr>-->

    <!--</tbody>-->
  <!--</table>-->
    <!--<table class="table table-borderless">-->
    <!--<thead>-->
    <!--<tr class="border-bottom">-->
      <!--<th colspan="4" class="f-14">פרטי התשלומים</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<td>סכום לתשלום:</td>-->
      <!--<td>{{ process_details.total }}</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>מספר קבצים:</td>-->
      <!--<td>{{ process_details.groups_count }}</td>-->
      <!--<td>-->
        <!--<a>לפירוט מלא ></a>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr></tr>-->
    <!--<tr>-->
      <!--<td>מספר רשומות:</td>-->
      <!--<td>{{ process_details.records_count }}</td>-->
      <!--<td>-->
        <!--<a>לפירוט מלא ></a>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<a>תאריך תשלום (ערך):</a>-->
      <!--</td>-->
      <!--<td>{{ paymentDate | date: 'dd/MM/yyyy' }}</td>-->
      <!--<td>-->
        <!--<a (click)="dateUpdate()">לעדכון תאריך ></a>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<p class="f-12 bold float-lg-right">הנך נדרש לעדכן תאריך ערך</p>-->
    <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--<div class="container w-50">-->
    <!--<mat-checkbox [(ngModel)]="valid"  class="float-right">-->
      <!--<div class="text-wrap text-right mt-4">-->
        <!--<p class="f-12">הנני מאשר כי פרטי התשלום המוצגים מעלה נבדקו מול תוכנת השכר והנם תקינים.-->
        <!--בשידור לקופות הקבצים יועברו על פי הנתונים הקיימים ופיולה זואינה ניתנת לביטול.</p>-->
      <!--</div>-->
    <!--</mat-checkbox>-->
    <!--<div class="mt-5">-->
      <!--<button class="btn blue-btn" [disabled]="!valid" (click)="pageNumber = 2">שידור לקופות</button>-->
  <!--</div>-->
<!--</div>-->
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{ processDataService.activeProcess.name + ' '
    + processDataService.activeProcess.month + ' '
    + processDataService.activeProcess.year }}</th>
    <td scope="col">{{ processDataService.activeProcess.month }}</td>
    <td scope="col">{{ processDataService.activeProcess.year }}</td>
  </tr>
  </thead>
</table>
    <div class="col-6  offset-3" [@fade]="pageNumber === 1? 'active': 'inactive'">
      <div *ngIf="!isRefund">
        <h5 class="bold text-center">תהליך שידור</h5>
        <p class="f-12 text-center grey-color">להלן פרטי הנתונים הפנסיוניים לשידור לקופות</p>
      </div>
      <div *ngIf="isRefund">
        <h5 class="bold text-center">תהליך שידור קובץ שלילי</h5>
        <p class="f-12 text-center grey-color">להלן פרטי הבקשה להחזר מהקופות</p>
      </div>
      <p class="border-bottom f-14 bold grey-color">פרטי התהליך</p>
      <div class="d-flex">
        <span class="w-50">שם המעסיק: </span>
        <span>ח.פ: </span>
      </div>
      <div class="d-flex my-3">
        <span class="w-50">שם מחלקה:</span>
        <span>מספר תהליך:</span>
      </div>
      <div class="d-flex my-3">
        <span class="w-50">שם התהליך:</span>
        <span>חודש שכר:</span>
      </div>
      <p class="border-bottom f-14 bold grey-color">פרטי התשלומים</p>
      <div class="text-right">
        <span>סכום לתשלום:</span>
      </div>
      <div class="d-flex my-3">
        <span class="w-50 text-right">מספר קבצים:</span>
        <span class="pointer" (click)="details('files')">לפירוט מלא ></span>
      </div>
      <div class="d-flex">
        <span class="w-50 text-right">מספר רשומות:</span>
        <span (click)="details('records')" class="pointer">לפירוט מלא ></span>
      </div>
      <div *ngIf="!isRefund">
        <div class="d-flex mt-2">
          <span class="w-50 text-right">תאריך תשלום (ערך):</span>
          <span (click)="dateUpdate()">לעדכון תאריך ></span>
        </div>
        <p class="f-12 bold red-color">הנך נדרש לעדכן תאריך ערך</p>
      </div>
      <div class="mt-4 d-flex" *ngIf="isRefund" >
        <p class="text-right bold red-color f-12">שים לב! </p>
        <p class="f-12 mr-2">בשידור לקופות הנך מאשר כי קובץ ההצהרה לבקשת החזר יהיה ממוען לחברות המנהלות בקובץ</p>
      </div>
      <mat-checkbox *ngIf="!isRefund" [(ngModel)]="valid">
        <div class="text-wrap text-right mt-4">
          <p class="f-12">הנני מאשר כי פרטי התשלום המוצגים מעלה נבדקו מול תוכנת השכר והנם תקינים.
            בשידור לקופות הקבצים יועברו על פי הנתונים הקיימים ופיולה זואינה ניתנת לביטול.</p>
        </div>
      </mat-checkbox>
      <div class="text-center mt-5">
        <button class="btn blue-btn" [disabled]="!valid && !isRefund" (click)="pageNumber = 2">שידור לקופות</button>
      </div>
    </div>
<div class="col-6 offset-3" [@fade]="pageNumber === 2? 'active': 'inactive'">
  <p class="h5 text-center mb-5" *ngIf="isRefund">בקשת ההחזר הועברה לקופות בהצלחה!</p>
  <div class="text-center" *ngIf="!isRefund">
    <p class="h5 bold mb-2">שידור בוצע בהצלחה!</p>
    <p class="f-12">להלן סכום נתוני השידור</p>
  </div>
  <p class="border-bottom f-14 bold grey-color">פרטי התהליך</p>
  <div class="d-flex">
    <span class="w-50">שם המעסיק: </span>
    <span>ח.פ: </span>
  </div>
  <div class="d-flex my-3">
    <span class="w-50">שם מחלקה:</span>
    <span>מספר תהליך:</span>
  </div>
  <div class="d-flex my-3">
    <span class="w-50">שם התהליך:</span>
    <span>חודש שכר:</span>
  </div>
  <p class="border-bottom f-14 bold grey-color">פרטי התשלומים</p>
  <div class="text-right">
    <span>סכום לתשלום:</span>
  </div>
  <div class="d-flex my-3">
    <span class="w-50 text-right">מספר קבצים:</span>
    <span>לפירוט מלא ></span>
  </div>
  <div class="d-flex">
    <span class="w-50 text-right">מספר רשומות:</span>
    <span>לפירוט מלא ></span>
  </div>
  <div class="mt-4 d-flex" *ngIf="isRefund" >
    <p class="text-right bold red-color f-12">שים לב!</p>
    <p class="f-12 mr-2">בשידור לקופות הנך מאשר כי קובץ ההצהרה לבקשת החזר יהיה ממוען לחברות המנהלות בקובץ</p>
  </div>
  <div class="mt-5 text-center" *ngIf="!isRefund">
    <button class="btn blue-btn" (click)="Refund()">יצירת בקשת החזר כספי</button>
  </div>
</div>

<table *ngIf="record || file" class="table table-borderless">
  <thead>
  <tr class="thborder">
    <th colspan="4">פרטי התשלומים</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>סכום לתשלום: </td>
    <td *ngIf="process_details !== null && process_details !== undefined  && process_details.total !== null">{{ process_details.total }}</td>
  </tr>
  <tr>
    <td>מספר רשומות: </td>
    <td *ngIf="process_details !== null && process_details !== undefined  && process_details.records_count !== null">{{ process_details.records_count }}</td>
    <td>
      <a (click)="pageNumber = 4; record=true">לפירוט מלא ></a>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td>מספר קבצים: </td>
    <td *ngIf="process_details !== null && process_details !== undefined  && process_details.groups_count !== null">{{ process_details.groups_count }}</td>
    <td>
      <a (click)="pageNumber = 4; file = true">לפירוט מלא ></a>
    </td>
  </tr>
  </tbody>
</table>
<!--<app-detailed-files></app-detailed-files>-->
<!--<app-detailed-records *ngIf="record"></app-detailed-records>-->

