.input-user{
   width: 95% !important;
   background: #F6F6F6 0% 0% no-repeat padding-box !important;
   border-radius: 11px !important;
   border: none !important;
 }

.dot {
  margin-left: 15px;
  height: 50px;
  width: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top:5px;
  padding-left: 3px;
}


.fa-angle-right:before{
  color: #E82D5C;
}
