<div class="float-right w-20 mt-4">
<span class="dot pointer" (click)="previous()"><i class="fa fa-angle-right fa-2x"></i></span>
</div>
<div class="mr-3 px-4 float-right w-75">
  <form #form="ngForm">
    <div class="row">

      <div [ngClass]="{'displayNone': update}">
        <span class="h3" >יצירת משתמש חדש</span>
      </div>
      <div [ngClass]="{'displayNone': !update}">
        <span class="h3" >עדכון משתמש קיים</span>
      </div>

    </div>
    <br>
    <h5 class="bold">פרטים כלליים</h5>
    <div class="row mb-4">
      <div class="col-6 col-lg-3">
        <p class="grayColor">שם פרטי</p>
        <input class="form-control" type="text" name="first_name" #first_name="ngModel"  [(ngModel)]="user.first_name"
               required pattern="^[a-zA-Zא-ת \-\']+">
        <mat-error *ngIf="first_name.invalid && (first_name.dirty || first_name.touched ||not_valid)" >
          <div *ngIf="first_name.errors.required">
            שדה חובה
          </div>
          <div *ngIf="first_name.errors.pattern">
            יש להזין אותיות בלבד
          </div>
        </mat-error>
      </div>
      <div class="col-6 col-lg-3">
        <p class="grayColor">שם משפחה</p>
        <input class="form-control" type="text" name="last_name" #last_name="ngModel" [(ngModel)]="user.last_name" required
             pattern="^[a-zA-Zא-ת \-\']+">
        <mat-error *ngIf="last_name.invalid && (last_name.dirty || last_name.touched ||not_valid )" >
          <div *ngIf="last_name.errors.required">
            שדה חובה
          </div>
          <div *ngIf="last_name.errors.pattern">
            יש להזין אותיות בלבד
          </div>
        </mat-error>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6 col-lg-3">
        <p class="grayColor">טלפון נייד </p>
        <input class="form-control" type="text" name="phone" #phone="ngModel" [(ngModel)]="user.phone"  pattern="^\+?(972|0)(\-)?0?(([23489]{1}\d{7})|[5]{1}\d{8})$">
        <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched ||not_valid)" class="red-color">
        מספר לא חוקי
        </mat-error>
      </div>
      <div class="col-6 col-lg-3">
        <p class="grayColor">כתובת אמייל</p>
        <input class="form-control" type="email" name="email" [readonly]="update" #email="ngModel" [(ngModel)]="user.email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched||not_valid)" class="red-color">
          <div *ngIf="email.errors.pattern">
          כתובת אימייל לא חוקית
        </div>
          <div *ngIf="email.errors.required">
             שדה חובה
          </div>
        </mat-error>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 col-lg-3 pl-4">
        <bd-select [items]="roles" placeholder="סוג משתמש" #roleSelect="ngModel" name="role"
                   [(ngModel)]="user.role" required ></bd-select>
        <mat-error *ngIf="roleSelect.invalid && (roleSelect.dirty || roleSelect.touched ||not_valid )" class="red-color mt-1">
          שדה חובה
        </mat-error>
      </div>
      <div class="col-6 col-lg-3 pl-4">
        <bd-select [items]="projectGroups" placeholder="פרויקט על" #projectGroupSelect="ngModel" name="project_group_id"
                   [(ngModel)]="user.project_groups" required [multiple]=true ></bd-select>
        <mat-error *ngIf="projectGroupSelect.invalid && (projectGroupSelect.dirty || projectGroupSelect.touched ||not_valid )" class="red-color mt-1">
          שדה חובה
        </mat-error>
      </div>
    </div>
    <h5 class="mt-5 bold">הרשאות</h5>
    <div style="width: 52%">
      <app-data-table tableName="" [ifDisplayPagination]="false" [columns]="columns"
                      [hasActionsSearch]="false" [hasExtendedSearch]="false" [hasLoadingItem]="false" >
        <tr *ngFor="let item of user.modules; let i=index;" class="pointer" >
          <td [ngClass]="{'white': i%2 === 0}">{{ moduleTypes[item.name]}}</td>
          <td [ngClass]="{'white': i%2 === 0}">
            <mat-slide-toggle color="#E82D5C" (change)="changePermission($event,item,i)"
                              [checked]="(item.permission_type=='read' || item.permission_type=='all')  && item.isEnabled" [disabled]="item.permission_type=='all' && item.isEnabled " aria-label="read" id="{{ 'read-' + i }}">
              <span class="bold ml-1"></span>
            </mat-slide-toggle>
          </td>
          <td [ngClass]="{'white': i%2 === 0}">
            <mat-slide-toggle color="#E82D5C" (change)="changePermission($event,item,i)" [ngClass]=""
                              [checked]="item.permission_type=='all' && item.isEnabled" aria-label="all" id="{{ 'all-' + i }}">
              <span class="bold ml-1"></span>
            </mat-slide-toggle>
          </td>
        </tr>
      </app-data-table>
    </div>
    <p class="alert alert-danger "  [@fade]="hasServerError ? 'active' : 'inactive'">{{ message }}</p>
    <div class="mt-4 text-center pl-5" >
      <button class="btn pink-btn ml-5 mb-4 pointer" type="submit" (click)="submit(form)">שמור</button>
    </div>
  </form>
</div>

