<h2>נתונים פיננסים</h2>
<p>
במסך זה ניתן לצפות בנתונים הפיננסים הכוללים המוזנים במערכת, מה תרצה לעשות? </p>
<div class="row d-flex align-items-center mt-4">
  <div class="ml-3 col-6 col-lg-2" >
  <bd-select [items]="projects"[(ngModel)]="projectId" placeholder="פרויקט"></bd-select>
  </div>
  <div class="ml-3 col-6 col-lg-2" >
  <bd-select [items]="timeRange"  [(ngModel)]="timeRangeId" placeholder="טווח זמן"></bd-select>
  </div>
  <div  class="ml-3 col-6 col-lg-2" *ngIf="timeRangeId === 1">
    <mat-form-field >
      <input matInput class="pointer" (click)="datePicker.open()" [(ngModel)]="month" [matDatepicker]="datePicker" placeholder="בחירת חודש" name="payment_due_date"   required>
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
  </div>
  <div  class="col-6 col-lg-5" *ngIf="timeRangeId === 2">
      <mat-form-field class="ml-5">
        <input matInput [name]="from" [id]="from" class="pointer"
               [max]="toDate"
               (click)="datePickerFrom.open()" [matDatepicker]="datePickerFrom"
               placeholder=" מתאריך" ngModel [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #datePickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [name]="to" [id]="to"
               [min]="fromDate" class="pointer"
               (click)="datePickerTo.open()" [matDatepicker]="datePickerTo"
               placeholder="עד תאריך" ngModel [(ngModel)]="toDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
        <mat-datepicker #datePickerTo></mat-datepicker>
      </mat-form-field>
</div>
  <button class="btn blue-btn mr-2" (click)="filterData()">סנן</button>
</div>
<div class="w-50 h-auto pr-4" style="float: right">

</div>
<div class="w-50 h-auto pr-4" style="float: left">
  <div class="h-auto mb-4 mt-2 mr-2">
<h4> מערכת חשבוניות</h4>
    <!--<p class="sumCount">  סה"כ הכנסות- {{'sum_invoices_system | number:'1.2-2 }}  </p>-->
    <div class="dataCls">
      <div class="dataRightCls"></div>
      <img src="../../../assets/img/icons/Group%209289.png" style="float: right">
      <div class="mt-2 mr-2">
         <p style="float: right; width: 30%;">סה"כ חשבוניות ששודרו</p>
        <div style="width: 25%; float: right; padding-right: 30px">
          <p class="sumCount">כמות</p>
          <p>{{data['invoice_system']['green_invoices']['count']}}</p>
        </div>
        <div style="width: 25%; float: right">
          <p class="sumCount">סכום</p>
          <p style="font-size: 15px">{{data['invoice_system']['green_invoices']['sum'] | number:'1.2-2'}}</p>
        </div>
        <a>צפייה</a>
        <i  class="fa fa-angle-left"></i>
      </div>
    </div>
    <div class="dataCls">
      <div class="dataRightCls"></div>
      <img src="../../../assets/img/icons/Group%209289.png" style="float: right">
      <div class="mt-2 mr-2">
        <p style="float: right; width: 30%;">חשבוניות עסקה</p>
        <div style="width: 25%; float: right; padding-right: 30px">
          <p class="sumCount">כמות</p>
          <p>{{data['invoice_system']['transaction_invoices']['count']}}</p>
        </div>
        <div style="width: 25%; float: right">
          <p class="sumCount">סכום</p>
          <p style="font-size: 15px">{{data['invoice_system']['transaction_invoices']['sum'] | number:'1.2-2' }}</p>
        </div>
        <a>צפייה</a>
        <i  class="fa fa-angle-left"></i>
      </div>
    </div>
    <div class="dataCls">
      <div class="dataRightCls"></div>
      <img src="../../../assets/img/icons/Group%209289.png" style="float: right">
      <div class="mt-2 mr-2">
        <p style="float: right; width: 30%;">חשבוניות מס</p>
        <div style="width: 25%; float: right; padding-right: 30px">
          <p class="sumCount">כמות</p>
          <p>{{data['invoice_system']['only_tax_green_invoices']['count']}}</p>
        </div>
        <div style="width: 25%; float: right">
          <p class="sumCount">סכום</p>
          <p style="font-size: 15px">{{data['invoice_system']['only_tax_green_invoices']['sum'] | number:'1.2-2' }}</p>
        </div>
        <a>צפייה</a>
        <i  class="fa fa-angle-left"></i>
      </div>
    </div>
    <div class="dataCls">
      <div class="dataRightCls"></div>
      <img src="../../../assets/img/icons/Group%209289.png" style="float: right">
      <div class="mt-2 mr-2">
        <p style="float: right; width: 30%;">חשבוניות מס קבלה </p>
        <div style="width: 25%; float: right; padding-right: 30px">
          <p class="sumCount">כמות</p>
          <p>{{data['invoice_system']['tax_green_invoices']['count']}}</p>
        </div>
        <div style="width: 25%; float: right">
          <p class="sumCount">סכום</p>
          <p style="font-size: 15px">{{data['invoice_system']['only_tax_green_invoices']['sum'] | number:'1.2-2' }}</p>
        </div>
        <a>צפייה</a>
        <i  class="fa fa-angle-left"></i>
      </div>
    </div>
    <div class="dataCls">
      <div class="dataRightCls"></div>
      <img src="../../../assets/img/icons/Group%209289.png" style="float: right">
      <div class="mt-2 mr-2">
        <p style="float: right; width: 30%;">חריגים תקולים</p>
        <div style="width: 25%; float: right; padding-right: 30px">
          <p class="sumCount">כמות</p>
          <p>{{data['invoice_system']['green_invoices_error']['count']}}</p>
        </div>
        <div style="width: 25%; float: right">
          <p class="sumCount">סכום</p>
          <p  style="font-size: 15px">{{data['invoice_system']['green_invoices_error']['sum'] | number:'1.2-2' }}</p>
        </div>
        <a>צפייה</a>
        <i  class="fa fa-angle-left"></i>
      </div>
    </div>
  </div>
</div>
