.date-input{
  background: #F6F6F6 0% 0% no-repeat padding-box;
  border-radius: 11px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*width: 400px;*/
  height: 45px;
  box-sizing: border-box;
}
button{
  background: #E82D5C 0% 0% no-repeat padding-box;
  border-radius: 21px;
  color: #FFFFFF ;
}
.dataCls{
  padding-top: 4px;
  /*padding-right: 15px;*/
  margin-top: 10px;
  height: 55px;
  width: 750px;
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  border-radius: 9px;
  opacity: 1;
  padding-left: 15px;
}
.dataRightCls{
  background: #F3F3F3 0% 0% no-repeat padding-box;
  border-radius: 9px;
  height: 85%;
  width: 10px;
  float: right;
  margin-right: 5px;
  margin-left: 7px;
}
img{
  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-left: 10px;
}
p{
  display: inline;
  /*margin-left: 10px;*/
}
.sumCount{
  color: #ADADAD;
  font-size: 16px;
  margin-left: 15px;
}
a{
  font-size: 15px;
  margin-left: 7px;
  margin-right: 10px;
  cursor: pointer;
}
h4{
  margin-bottom: 0;
  margin-top: 20px;
}

.inner-div{
  display: flex;
  width: 100%;
}
.two-div{
  display: flex;
  width: 100%;
}
.one-div{
  display: flex;
  width: 100%;
}
.hour{
  color: #C9C9C9;
  font-size: 13px;
}
.smallSize{
  font-size: 15px;

}
.noCalcProcess{
  border-radius: 26px;
  color: #ADADAD;
  padding-top: 4px;
  height: 55px;
  width: 750px;
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #00000012;
  font-size: 20px;
  margin-top: 20px;
}
/*.noCalcProcess p{*/
  /*margin: auto;*/
/*}*/
::ng-deep i.fa-angle-left:before{
  margin-top: 3px !important;
}
.w-35{
  width: 35% !important;
}
.w-45{
  width: 45% !important;
}
.w-80 {
  width: 80% !important;
}
.w-24{
  width: 24% !important;
}
.w-28{
  width: 28% !important;
}
.w-26{
  width: 26% !important;
}
.w-27{
  width: 27% !important;
}
.w-85{
  width: 85% !important;
}

.w-33{
  width: 33% !important;
}
.border-bottom{
  border-bottom: 1px #00ADEE solid !important;
}
.margin-right-665{
  margin-right: 665px !important;
}
.margin-right-530{
  margin-right: 530px !important;
}
::ng-deep.mat-form-field-infix{
  border-top: none !important;
}
/*::ng-deep #selectedItem:hover{*/
  /*border: 1px #E82D5C solid !important;*/
/*}*/
::ng-deep.SelectOpened {
  background-color: #ebc372 !important;
}

::ng-deep .min-width-170{
  min-width: 170px !important;
}

::ng-deep .max-width-220{
  max-width: 220px !important;
}
