.timer-box {
  background-color: white;
  margin-right: 1155px;
  margin-bottom: 35px;
  width: 300px;
  height: 130px;
  margin-top: 228px;
  border: solid 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 0px 10px #aaaaaa;
  font-size: 35px;
  text-align: center;
}
