.container-fluid {
  width: 95%;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
  border-bottom: 2px solid #cecece;
  border-radius: 8px 8px 0 0;
}


.navbar {
  /*padding: 15px 0 0 0;*/
  padding: 0 0 0 0;
  align-items:unset !important;
}

.mb-half {
  margin-bottom: 0.5rem !important;
}

.nav-item {
  width: 120px;
  margin-bottom: -2px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.active.nav-item {
  border-color: #00adee;
}

.menu-link {
  color: #000;
}

.active .menu-link {
  color: #00adee;
}

.navbar-nav figure {
  height: 63px;
  margin: 0;
}

.navbar-nav img {
  width: 40%;
}

bd-select {
  width: 200px !important;
}

.disable{
  pointer-events:none;
}

.agentBar {
  /*z-index: 9999;*/
  height: 100%;
  position: fixed;
  background-color: #3D4252;
  width: 110px;
  color: #ffffff;
  text-align: center;
}

.subMenu {
  height: 17.5%;
  position: fixed;
  background-color: #62656e;
  width: 180px;
  color: #ffffff;
  top: 330px;
  text-align: center;
}

.selectedMenu {
  background-color: #3D4252;
}

.closedAgentBar {
  /*z-index: 9999;*/
  height: 100%;
  text-align: center;
  position: fixed;
  background-color: #3D4252;
  width: 50px;
  color: #ffffff;
}


.agentBar > div > div:hover {
  background-color: #7C839C;
}

.closedAgentBar > div > div:hover {
  background-color: #7C839C;
}

.selected {
  background-color: #7C839C;
}

.home-page-color {
  background-color: #00ADEE;
}
.timer-box {
  background-color: white;
  /*margin-right: 1155px;*/
  /*margin-bottom: 35px;*/
  /*width: 300px;*/
  /*height: 130px;*/
  /*margin-top: 228px;*/
  border: solid 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 0px 10px #aaaaaa;
  font-size: 35px;
  text-align: center;
}

.details {
  background-color: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.timer {
  background-color: #00adee;
  height: 50px;
}

.navbartest {
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  left: 29px;
  width: 15%;
  border-radius: 0.25rem;
}

/*.navbartest a {*/
/*  display: block;*/
/*  text-align: center;*/
/*  padding: 22px 18px;*/
/*  text-decoration: none;*/
/*  font-size: 17px;*/

/*}*/
.navbartest p {
  display: block;
  padding-left: 20px;
  padding-top: 23px;
  text-decoration: none;
  font-size: 17px;
}

.skip:hover {
  background: #f1f1f1;
  color: black;
}

.p-absolute {
  position: absolute;
}

.skip{
  background-color: #2a2e39;
  height: 40px;
  color: white;
}

.z-index-150{
  z-index: 150;
}
/*.navbartest a {*/
/*  background-color: #aaa8ab;*/
/*  color: white;*/
/*}*/


::ng-deep .cdk-overlay-pane .mat-dialog-container {
  overflow: visible;
}

::ng-deep .deposition-dialog .mat-dialog-container {
  background-image: linear-gradient(360deg, #f5f5f5 75%, white 25%);
}
