.container-fluid {
  width: 93%;
  margin: 0 auto;
}

header {
  border-radius: 8px 8px 0 0;
  margin-bottom: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  margin-top: 0;
  padding-bottom: 10px;
  height: 100px;
}

.navbar {
  padding: 0 0 0 0;
  align-items:unset !important;
}

.nav-item {
  width: 120px;
  margin-bottom: -2px;
  text-align: center;
  border-top: 3px solid transparent;
  border-radius: 4px;
  border-spacing: revert;
  height: 70px;
}

.active.nav-item {
  border-top: 5px #E82D5C solid;
  border-radius: 8%;
}

.menu-link {
  color: #000;
}

.active .menu-link {
  color: #E82D5C;
}

.subMenu {
  height: 17.5%;
  position: fixed;
  background-color: #62656e;
  width: 180px;
  color: #ffffff;
  top: 330px;
  text-align: center;
}

::ng-deep .cdk-overlay-pane .mat-dialog-container {
  overflow: visible;
}

::ng-deep .deposition-dialog .mat-dialog-container {
  background-image: linear-gradient(360deg, #f5f5f5 75%, white 25%);
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-form-field-label {
  font-size: 1.1em!important;
}
::ng-deep .mat-form-field-flex {
  background: #F6F6F6 0% 0% no-repeat padding-box;
  border-radius: 11px;
}
::ng-deep .mat-form-field-infix {
  border-top: none !important;
}
::ng-deep.mat-menu-panel {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 15px #00000029 !important;
  border-radius: 23px !important;
}
::ng-deep .dropdown-item {
  text-align: center !important;
  border-radius: 28px!important;
}
::ng-deep .dropdown-item:hover {
  border: #E82D5C 1px solid!important;
}
::ng-deep.mat-form-field-wrapper,::ng-deep.mat-form-field {
  text-align: right !important;
  padding-right: 5px !important;
}
