<div class="container-fluid">
  <header>
    <div id="mainMenu">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <ng-container *ngFor="let link of menuLinks">
              <li class="nav-item" [ngClass]="{ 'active': link.url === activeUrl }" *ngIf="!link.subMenuLinks">
                <a class="menu-link" [routerLink]="['/platform', link.url]">
                  <figure>
                    <img [src]="getImage(link)" [attr.alt]="link.label">
                  </figure>
                  <p>{{ link.label }}</p>
                </a>

              </li>
              <li [matMenuTriggerFor]="subMenu" class="nav-item pointer" [ngClass]="{ 'active': link.url === activeUrl }" *ngIf="link.subMenuLinks">
                <figure>
                  <img [src]="getImage(link)" [attr.alt]="link.label">
                </figure>
                <span>{{ link.label }}</span>
                <mat-menu #subMenu yPosition="above" [overlapTrigger]="false">
                  <button mat-menu-item class="dropdown-item" *ngFor="let subLink of link.subMenuLinks"
                          [routerLink]="'/platform/' + link.url + '/' + subLink.url" >{{ subLink.label }}</button>
                </mat-menu>
              </li>
            </ng-container>
          </ul>
        </div>
        <bd-select [items]="helpers.organizations" class="ml-3" [(ngModel)]="organizationId" placeholder="ארגון" (onSelect)="loadEmployers($event)"></bd-select>
        <bd-select [items]="employers" class="ml-3" [(ngModel)]="employerId" placeholder="מעסיק" (onSelect)="loadDepartments($event)"></bd-select>
        <bd-select [items]="departments" class="ml-3" [(ngModel)]="departmentId" placeholder="מחלקה" (onSelect)="selectDepartment($event)"  [ngClass]="{'disable': employerId === undefined || employerId['id'] === 0}"></bd-select>
        <a class="navbar-brand" (click)="logout()">
          <img src="/assets/img/logo.svg" class="logo" alt="לוגו של סמארטי">
          <p class="mt-3 text-left f-14 grey-color">
            <span>התנתקות</span>
            <img src="/assets/img/icons/logout.png" class="mr-2">
          </p>
        </a>
      </nav>
    </div>
  </header>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

