<div>
  <div class="d-flex justify-content-start mt-lg-5">
    <button class="btn blue-btn" [routerLink]="['./', 'form']">הוספת בנק דיפולט</button>
  </div>
  <div>
    <table class="table table-hover mt-3 data-table">
      <thead>
      <tr class="table-headers">
        <th *ngFor="let header of headers" (click)="sort(header)">
          <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
          <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
        </th>
        <th>פעולות</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!isSearching">
        <tr *ngFor="let item of paginatedItems" class="pointer">
          <td>{{ item.product_id }}</td>
          <td>{{ item.product_name }}</td>
          <td>{{ item.company_name}}</td>
          <td>{{ item.bank_name }}</td>
          <td>{{ item.branch_name }}</td>
          <td>{{ item.account_number }}</td>
          <td>
            <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="!isSearching && items.length === 0">
        <td colspan="9" class="text-center bold">טבלת בנקים למוצר ריקה.</td>
      </tr>
      </tbody>
    </table>
    <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
  </div>
</div>
