<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>פרטים</span>
</div>
<form #form="ngForm" class="py-4">
  <div class="d-flex align-items-center mb-2">
    <span class="bold f-14"> שם הקובץ ששודר: </span>
    <span class="underline"> {{ compensation.xml_name }} </span>
  </div>
  <div class="d-flex align-items-center">
    <mat-form-field class="w-50 ml-3">
      <input type="number" matInput placeholder="יתרה צפויה" name="projected_balance" [(ngModel)]="compensation.projected_balance" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="w-50 ml-3">
      <input type="number" matInput placeholder='יתרה ע"פ כספת' name="reported_balance" readonly [(ngModel)]="compensation.reported_balance" >
    </mat-form-field>
    <mat-form-field class="w-50">
      <input type="number" matInput placeholder='יתרה ע"פ פורטל' name="portal_balance" [(ngModel)]="compensation.portal_balance" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex align-items-center">
    <mat-form-field class="w-50 ml-3">
      <input type="text" class="ltr" matInput placeholder="פער"
             [value]="compensation.has_by_safebox || compensation.portal_balance <= 0 ?
             (compensation.reported_balance - compensation.projected_balance) :
             (compensation.portal_balance - compensation.projected_balance)" readonly>
    </mat-form-field>
    <mat-form-field class="w-50">
      <input type="text" matInput placeholder="תאריך סגירת בקשה" name="closed_at" [ngModel]="compensation.closed_at" readonly>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox name="has_by_safebox" [(ngModel)]="compensation.has_by_safebox" >פער ע"פ כספת</mat-checkbox>
  </div>
  <div class="mt-3 pointer mb-3">
    <file-drop ng2FileDrop [ngClass]="{ 'file-uploaded': uploadedFile }" (onFileDrop)="getFileFromDrop($event)">
      <!--<img src="/assets/img/icons/circle_arrow_up.png">-->
      <!--<img src="/assets/img/icons/cloud-backup.svg" class="mb-1 icon-sm" >-->
      <i class="fa fa-times ml-2 pointer" *ngIf="uploadedFile" (click)="uploadedFile = undefined"></i>
      <label class="text-center pointer grey-color f-12"   *ngIf="!uploadedFile">
        <img src="/assets/img/icons/circle_arrow_up.png">
        <span >בחר קובץ/גרור להעלאה</span>
        <input type="file" #fileInput (change)="setFile($event.target.files[0])">
      </label>

      <div class="text-center" *ngIf="uploadedFile">
        <!--<i class="fa fa-check-circle-o mb-3"></i>-->
        <p class="text-dark">{{ uploadedFile[0].name  | truncate: 25}}</p>
      </div>
    </file-drop>

    <!--<label class="file-label">-->
      <!--<img src="/assets/img/icons/circle_arrow_up.png">-->
      <!--<span class="file-label-text">{{ uploadedFile ? (uploadedFile[0].name | truncate: 25) : 'העלאת קובץ חדש' }}</span>-->
      <!--<input type="file" (change)="uploadedFile = $event.target.files" multiple>-->
    <!--</label>-->
  </div>

  <app-data-table [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="false"
                  [hasExtendedSearch]="false" [hasActionsSearch]="false">
    <tr *ngFor="let item of dataTable.items" class="pointer trtd">
      <td>{{ item.file_name }}</td>
      <td>{{ item.file_type }}</td>
      <td>{{ item.file_date | date: 'dd/MM/yy' }}</td>
      <td>
      <i class="fa fa-download fa-lg ml-2" (click)="downloadFile(item.file_name, item.file_type)" ></i>
      <i class="fa fa-times-circle fa-lg" (click)="deleteFile(item.file_name)" ></i>
      </td>
    </tr>
  </app-data-table>

<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit(form)">שמור</button>
</div>
</form>
