<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>פרטים</span>
</div>
<form #form="ngForm" class="py-4">
  <div class="d-flex align-items-center">
    <mat-form-field class="w-50 ml-3">
      <input type="number" matInput placeholder="יתרה צפויה" name="projected_balance" [(ngModel)]="compensation.projected_balance" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="w-50 ml-3">
      <input type="number" matInput placeholder='יתרה ע"פ כספת' name="reported_balance" readonly [(ngModel)]="compensation.reported_balance" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="w-50">
      <input type="number" matInput placeholder='יתרה ע"פ פורטל' name="portal_balance" [(ngModel)]="compensation.portal_balance" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox name="has_by_safebox" [(ngModel)]="compensation.has_by_safebox" required>פער ע"פ כספת</mat-checkbox>
  </div>
  <div class="d-flex align-items-center">
    <mat-form-field class="w-50 ml-3">
      <input type="text" class="ltr" matInput placeholder="פער"
             [value]="compensation.has_by_safebox || compensation.portal_balance <= 0 ?
             (compensation.reported_balance - compensation.projected_balance) :
             (compensation.portal_balance - compensation.projected_balance)" readonly>
    </mat-form-field>
    <mat-form-field class="w-50">
      <input type="text" matInput placeholder="תאריך סגירת בקשה" name="closed_at" [ngModel]="compensation.closed_at" readonly>
    </mat-form-field>
  </div>
  <div class="mt-3 pointer">
    <label class="file-label">
      <img src="/assets/img/icons/circle_arrow_up.png">
      <span class="file-label-text">{{ uploadedFile ? (uploadedFile.name | truncate: 25) : 'העלאת קובץ חדש' }}</span>
      <input type="file" (change)="uploadedFile = $event.target.files[0]">
    </label>
  </div>
  <!--<div (click)="openAddFileDialog()" class="mt-3 pointer">-->
    <!--<img src="/assets/img/icons/circle_arrow_up.png" class="ml-2">-->
    <!--<span>הוספת קובץ</span>-->
  <!--</div>-->
</form>
<p class="alert alert-danger" [@fade]="hasServerError ? 'active' : 'inactive'">שגיאת שרת, נסה שנית או צור קשר.</p>
<div mat-dialog-actions class="justify-content-center">
  <button class="btn blue-btn" (click)="submit(form)">שמור</button>
</div>
