<div class="dialog-header float-left mb-1 d-flex">
  <button mat-dialog-close class="float-left">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="container scroll h-550px">
  <div class="row justify-content-between">
    <h3 mat-dialog-title class="bold blue-color">{{data.groupName}}</h3>
  </div>
  <h6>סה"כ {{data.groupSize}} מעסיקים </h6>
  <br>
  <div class="row">
    <table class="table table-striped" >
      <thead>
      <tr>
        <td class="text-right h5 text-center">שם ארגון</td>
        <td class="text-right h5 text-center">שם מעסיק</td>
        <td class="text-right h5 text-center" *ngIf="data.mode == 'submit'">שם מחלקה</td>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.organization}}</td>
        <td>{{item.employer}}</td>
        <td *ngIf="data.mode == 'submit'">{{item.department}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
