::ng-deep .drop-zone {
  border: 1px solid #ababab !important;
  /*border-radius: 0 !important;*/
  background-color: white;
  width: 488px;
  height: 187px !important;
}

.btn-remove{
  width: 93% !important;
  margin-bottom: 0.2rem;
}
.mt-2p2{
  margin-top: 2.2rem;
}

.btn-sm{
  padding: 0.4rem 0.3rem;
  font-size: 10px;
  line-height: 0.5;
  border-radius: 1.2rem;
  min-width: 50px !important;
}

.line-height-4point
{
  line-height: 4.125;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}


.btn_payment {
  border-radius: 7px;
  box-shadow: 0 2px 0 0 #dee2e6;
  border: solid 1px #dee2e6;
  background-color: #ffffff;
  padding: 0.2rem 0.75rem !important;
}
