<p class="bold m-0">חברת ביטוח בע"מ</p>
<div class="d-flex p-2">
  <span class="header-width bold f-14">שם תהליך</span>
  <!--<span class="header-width bold f-14">שם מעסיק</span>-->
  <span class="header-width bold f-14">סוג מוצר</span>
  <span class="header-width bold f-14">מספר קופה בשכר</span>
  <!--<span class="header-width bold f-14">חודש שכר</span>-->
  <span class="header-width bold f-14">חודש שידור</span>
  <span class="header-width bold f-14">סכום</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14">{{data.process_name}}</span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14">{{ data.amount }}</span>
</div>
<div class="d-flex p-2 mt-3">
  <span class="header-width bold f-14">בנק</span>
  <span class="header-width bold f-14">סניף בנק</span>
  <span class="header-width bold f-14">חשבון</span>
  <span class="header-width bold f-14">קופה בשכר</span>
  <span class="header-width bold f-14">סכום שהתקבל</span>
  <span class="header-width bold f-14">קוד אוצר</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14">{{ data.amount }}</span>
  <span class="header-width f-14">{{ data.product_code}}</span>
</div>
<div class="d-flex p-2 mt-2">
  <span class="header-width bold f-14">יצירת הפנייה</span>
  <span class="header-width bold f-14">עדכון אחרון</span>
  <span class="header-width bold f-14">סטטוס פנייה</span>
  <span class="header-width bold f-14">תאריך שידור</span>
</div>
<div class="d-flex p-2 border-bottom">
  <span class="header-width f-14">{{ data.inquiries.created_at}}</span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
  <span class="header-width f-14"></span>
</div>
<div class="d-flex p-2">
  <span class="header-width bold f-14">היזון ראשוני</span>
  <span class="header-width bold f-14">היזון חודשי</span>
  <span class="header-width bold f-14">סטטוס</span>
  <span class="header-width bold f-14">שם קובץ שנשלח</span>
  <button class="btn blue-btn" (click)="downloadFile()">הורד קובץ</button>
</div>
<div class="float-left ml-2 mt-5">
  <span class="ml-3">
    <button class="btn blue-btn">הערות</button>
  </span>
  <button class="btn blue-btn" (click)="newComment()">שלח פניה</button>
</div>
