<div class="text-center">
  <h1 class="mb-0 bold text-center">פרטי העסק</h1>
  <h2 class="text-center">איש הקשר לו יישלח הקישור</h2>
  <div class="container ">

    <form formGroup="form" >
      <div class=" form-group mt-5 text-center">

        <input  formComtroller="jobName" id="jobName" class="mt-4 " type="text" placeholder="*שם העסק שאני רוצה לגייס" required/>
        <input  formComtroller="phone" class="mt-4" type="text" placeholder="*טלפון נייד של איש הקשר " required/>
        <input  formComtroller="email" class="mt-4" type="text" placeholder="*אימייל " required/>
        <input  formComtroller="jobNumber" class="mt-4" type="text" placeholder="ח.פ " required/>
      </div>
      <button  class="btn btn-black btn-lg mt-5" routerLink="/jobProcess" >הוספת עסק למערכת</button>
      <h2 class="text-center">ניתן להוסיף עסקים נוספים בהמשך</h2>

    </form>


