<form #form="ngForm" class="mt-5" (ngSubmit)="saveChange(form)">
  <h6 class="bold">כרטיס מחלקה</h6>
  <div class="d-flex w-50 mt-1">
    <mat-form-field class="ml-2 disabledInput" >
      <input matInput placeholder="מספר מחלקה" name="id" [ngModel]="department.id">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="שם מחלקה" name="name"  [(ngModel)]="department.name" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
  </div>

  <!--<button class="btn blue-btn ml-1" (click)="openBankAccountDialog()"> הוספת חשבון חדש </button>-->

  <p class="border-bottom f-14 bold ">חשבון בנק משלם</p>
  <div id="accounts" class="border-bottom mb-lg-3">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center" [ngClass]="{'disabledInput' : !isEdit}">
          <div class="bd-select-container">
            <bd-select name="bank_id"  [items]="banks" #bankIDSelect="ngModel" [(ngModel)]="department.bank_account_deposit.bank_id" placeholder="בחר בנק" (onSelect)="selectedBankBranch()" required></bd-select>
            <p class="alert alert-danger" [@fade]="bankIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
          </div>
          <div class="mx-3 bd-select-container">
            <bd-select name="branch_id"  [items]="bankBranchesDeposit" #branchIDSelect="ngModel" [(ngModel)]="department.bank_account_deposit.branch_id"  placeholder="בחר סניף" required></bd-select>
            <p class="alert alert-danger" [@fade]="branchIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
          </div>
          <mat-form-field>
            <input matInput type="text" name="number" placeholder="מס' חשבון" [(ngModel)]="department.bank_account_deposit.number" maxlength="8" pattern="^\\d{5,8}$" required>
            <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
          </mat-form-field>
        </div>
        <div>
          <img src="/assets/img/icons/edit_grey.png" class="row-image" (click)="isEdit = true">
        </div>
      </div>
  </div>

  <p class="border-bottom f-14 bold">חשבון בנק להחזר כספים</p>
  <div id="accountsWithdrawal" class="border-bottom">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center" [ngClass]="{'disabledInput' : !isEditWithdrawal}">
        <div class="bd-select-container">
          <bd-select name="bank_id_withdrawal"  [items]="banks" #bankIDWithdrawalSelect="ngModel" [(ngModel)]="department.bank_account_withdrawal.bank_id" placeholder="בחר בנק" (onSelect)="selectedBankBranch('Withdrawal')" required></bd-select>
          <p class="alert alert-danger" [@fade]="bankIDWithdrawalSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
        </div>
        <div class="mx-3 bd-select-container">
          <bd-select name="branch_id_withdrawal"  [items]="bankBranchesWithdrawal" #branchIDWithdrawalSelect="ngModel" [ngModel]="department.bank_account_withdrawal.branch_id"  placeholder="בחר סניף" required></bd-select>
          <p class="alert alert-danger" [@fade]="branchIDWithdrawalSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
        </div>
        <mat-form-field>
          <input matInput type="text" name="number_withdrawal" placeholder="מס' חשבון" [(ngModel)]="department.bank_account_withdrawal.number" maxlength="8" pattern="^\\d{5,8}$" required>
          <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <img src="/assets/img/icons/edit_grey.png"  class="row-image" (click)="isEditWithdrawal = true">
      </div>
    </div>
  </div>
  <button class="btn blue-btn ml-1 mt-1" type="submit"> שמור </button>
</form>
