<form #form="ngForm" class="mt-5">
  <h6 class="bold">כרטיס מחלקה</h6>
  <div class="d-flex w-50 mt-1">
    <mat-form-field class="ml-2 disabledInput" >
      <input matInput placeholder="מספר מחלקה" name="id" [ngModel]="department.id">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="שם מחלקה" name="name"  [ngModel]="department.name" required>
      <mat-error>שדה חובה.</mat-error>
    </mat-form-field>
  </div>

  <button class="btn blue-btn ml-1" (click)="openBankAccountDialog()"> הוספת חשבון חדש </button>

  <p class="border-bottom f-14 bold">חשבון בנק משלם</p>
  <div id="accounts" class="border-bottom">
    <div *ngFor="let account of department.bank_account_deposit; let index = index; let last = last" >
      <div class="d-flex align-items-center">
        <div class="bd-select-container">
          <bd-select name="bank_id"  [items]="banks"  placeholder="בחר בנק"></bd-select>

        </div>
        <div class="mx-3 bd-select-container">
          <bd-select name="branch_id"  [items]="selectedBankBranch(index)" placeholder="בחר סניף"></bd-select>
        </div>
        <mat-form-field>
          <input matInput type="text" name="number" placeholder="מס' חשבון" maxlength="8">
        </mat-form-field>
        <mat-checkbox name="is_primary" class="mx-3" (change)="primaryBankChecked(index, $event.checked)">בנק ראשי</mat-checkbox>
        <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
      </div>
    </div>
  </div>

  <p class="border-bottom f-14 bold">חשבון בנק להחזר כספים</p>
<div id="accounts1" class="border-bottom">
  <div>
    <div class="d-flex align-items-center">
      <div class="bd-select-container">
        <bd-select name="bank_id"  [items]="banks" #bankIDSelect="ngModel" [ngModel]="department.bank_account_withdrawal.bank" placeholder="בחר בנק"></bd-select>
        <p class="alert alert-danger" [@fade]="bankIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
      </div>
      <div class="mx-3 bd-select-container">
        <bd-select name="branch_id"  [items]="selectedBankBranch()" #branchIDSelect="ngModel" [ngModel]="department.bank_account_withdrawal.bank"  placeholder="בחר סניף"></bd-select>
        <p class="alert alert-danger" [@fade]="branchIDSelect.errors && form.submitted ? 'active' : 'inactive'">שדה חובה.</p>
      </div>
      <mat-form-field>
        <input matInput type="text" name="number" placeholder="מס' חשבון" [ngModel]="department.bank_account_withdrawal.account_number" maxlength="8">
        <mat-error>שדה חובה.</mat-error>
      </mat-form-field>
      <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
    </div>
  </div>
</div>
</form>
