<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>שימו לב יש הבדלים בין טיוב המעסיק לטיוב בעבר</span>
</div>
<form #form="ngForm">
  <app-data-table tableName="" [columns]="columns" [hasActionsHeader]="false"
                  [hasCheckColumn]="false" [hasExtendedSearch]="false"  [hasActionsSearch]="false" >
    <tr *ngFor="let item of dataTable.items" class="pointer">
      <td>{{ item.employee_name }}</td>
      <td>{{ item.product_code + '-' + item.product_name}}</td>
      <td>{{ item.employer_product_code  + '-' + item.employer_product_name}}</td>
      <td>{{ item.current_product_code + '-' + item.current_product_name}}</td>
      <td>{{ item.current_employer_product_code + '-' + item.current_employer_product_name }}</td>
    </tr>
  </app-data-table>
  <button class="btn blue-btn" (click)="submit()">הוספה</button>
</form>
