<div class="extend">
<app-data-table [columns]="columns" (fetchItems)="fetchItems()" [hasCheckColumn]="true" [hasActionsHeader]="false"
                [hasExtendedSearch]="true" [hasActionsSearch]="false">
    <div class="table-header">
      <div class="row mt-4 mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button [matMenuTriggerFor]="menu" class="btn blue-btn float-left mb-1"
                  *ngIf="userSession.getPermissionsType('operations')">פעולות</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openUpdatePayDateDialog('', -1)">עדכון תאריך תשלום</button>
            <!--<button mat-menu-item (click)=openWarningMessageComponentDialog(false)>מחיקת שורה</button>-->
              <button mat-menu-item (click)=openDialogAttachReference()>צירוף אסמכתא</button>
              <button mat-menu-item (click)=openWarningMessageComponentDialog(true)>הפוך ללא רלוונטי</button>
              <button mat-menu-item (click)=openWarningMessageComponentDialog(false)>הפוך  לרלוונטי</button>
              <button mat-menu-item (click)="openGroupTransferDialog()">העבר קבוצה</button>
              <button mat-menu-item (click)=openSent()>פתיחת נעילת שידור</button>
              <button mat-menu-item (click)=sentFile()> שידור קבצים</button>
              <button mat-menu-item (click)="openCommentsDialog()">הוסף הערה</button>
            </mat-menu>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer" [ngClass]="{ 'checked': item.checked }">
      <td class="check-column">
        <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
      </td>
      <td>{{ item.group_id}}</td>
      <td [ngClass]=" { 'redColor' : item.company_name == 'null company'}">{{ item.company_name }}</td>
      <td>
        <img src="/assets/img/icons/details_grey.png"
             matTooltip="{{  title[item.file_id] }}">
      </td>
      <td>{{ productType[item.product_type] }}</td>
      <td>{{ item.product_code }}</td>
      <td (click)="openUpdateTypePayDialog(paymentType[item.payment_type], item.file_id)"  [ngClass]="{'disabled': item.status == 'sent'}">{{ paymentType[item.payment_type] }}</td>
      <td (click)="openUpdateAccountNumberDialog(item.file_total, item.file_id, item.payment_identifier)" [ngClass]="{'disabled': item.status == 'sent'}">
        {{ item.payment_identifier }}</td>
      <!--? item.payment_identifier: item.payment_additional_info.account_number-->
      <td>{{ item.paid_account_number }}</td>
      <td (click)="openUpdatePayDateDialog(item.payment_date, item.file_id)" [ngClass]="{'disabled': item.status == 'sent'}">{{ item.payment_date  }}</td>
      <td>{{ item.file_total | number: '1.2-2' }}</td>
      <td>{{ item.file_id }}</td>
      <td (click)="openCommentsDialog(item)">
        <i *ngIf="item.comments.length === 0" class="fa fa-comment-o"></i>
        <i *ngIf="item.comments.length > 0" class="fa fa-comment"></i>
      </td>
      <!--is_relevant-->
      <td *ngIf="item.is_relevant">{{ statuses[item.status_sent] }}</td>
      <td *ngIf="!item.is_relevant">לא רלוונטי</td>
      <td>
        <i *ngIf="item.ref_path !== null" class="fa fa-download fa-lg ml-2" (click)="downloadFile(item.file_id)"></i>
      </td>
      <td>
        <i *ngIf="item.status == 'sent' || item.status == 'locked'" class="fa fa-lock"></i>
        <i *ngIf="item.status == 'not_sent'" class="fa fa-unlock"></i>
      </td>
      <td (click)="detailsRecords(item.file_id)">
        <i class="fa fa-angle-double-left" ></i>
      </td>
      </tr>
  </app-data-table>
</div>
