app-side-filters {
	font-size: 13px;
	z-index: 1;
}

app-side-filters ::ng-deep #filtersWrapper {
  display: flex;
  align-items: flex-start;
	padding: 0 10px;
}

app-side-filters ::ng-deep .bdSelectable {
  margin-top: 19.6px;
}

app-side-filters ::ng-deep .input .mat-form-field-wrapper {
  padding-top: 19px;
}

.displayNone{
  display: none;
}

.saved-message > i {
	font-size: 22px;
}

.saved-message > span {
	vertical-align: top;
}

.table {
  border: none;
}

.table-header {
	padding: 5px !important;
  vertical-align: middle;
  text-align: center !important;
  border-top: none;
  border-left: none;
  border-right: none;
  /*border-color: #000000;*/
  font-weight: bold;
  cursor: pointer;
}

::ng-deep .mat-checkbox-inner-container {
	margin-left: 0 !important;
}

::ng-deep .mat-checkbox-layout {
	margin-bottom: 0 !important;
}

::ng-deep tr.checked > td {
	background-color: rgba(0, 0, 0, .075);
}

::ng-deep td {
	padding: 0.5rem;
	text-align: center !important;
	font-size: 14px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  background-color: #F6F6F6 ;
}

::ng-deep .row-actions > a {
	text-decoration: none;
}

::ng-deep .row-actions i, ::ng-deep .row-icon {
	margin-left: 4px;
	cursor: pointer;
	color: #3db060;
	font-size: 22px;
	vertical-align: middle;
}

::ng-deep .row-actions > img {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

::ng-deep td  .row-actions {
  height: 30px;
  width: 30px;
  /*cursor: pointer;*/
}

::ng-deep td  .row-image {
  width: 30px;
  height: auto;
}

.operator-table {
  margin-right: 80px;
}

#input_container {
  position:relative;
  /*padding:0 0 0 20px;*/
  /*margin:0 20px;*/
  /*background:#ddd;*/
  direction: rtl;
  width: 225px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#input {
  /*height:20px;*/
  margin:0;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  font-family: Rubik !important;
  background: #F6F6F6 0% 0% no-repeat padding-box;
  border-radius: 11px;

}
#input_img {
  position:absolute;
  bottom:5px;
  right:195px;
  width:24px;
  height:24px;
  opacity: 1;
  color:#E2E2E2 ;
}
::ng-deep .table-header[_ngcontent-c4] {
  padding:18px 15px 18px 15px!important;
}
.title_table{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000029;
  opacity: 1;
  height: 60px;

}
::ng-deep.white{
  background-color: white;
}

::ng-deep .mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-bar {
  background-color:rgba(255,64,129,.54);  /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked.mat-disabled .mat-slide-toggle-thumb {
  background-color: #ff4081; /*replace with your color*/
}
