<h2 class="mb-3">{{ tableName }}</h2>
<ng-content select=".table-header"></ng-content>
<ng-content select=".new-item-btn"></ng-content>
<button mat-button class="green-btn" [routerLink]="formUrl" *ngIf="formUrl">פריט חדש</button>
<div class="d-flex  align-items-center ">
  <!--<div class="w-75 green-background-color">-->
	<div *ngIf="hasActionsSearch" id="input_container" class="w-20 ml-3 b">
		<input class="form-control fa" placeholder="חפש" id="input" [(ngModel)]="criteria.keyword" (keyup)="search()">
		<i matSuffix class="fa fa-search" id="input_img"></i>
  </div>
  <!--<div *ngIf="hasActiveSwitch" class="w-15  h-auto blue-background">-->
    <mat-slide-toggle color="#E82D5C" *ngIf="hasActiveSwitch"  (change)="toggleActiveStatus($event.checked)" labelPosition="before" [checked]="isActive" >
      <span class="bold ml-1">הצג פעילים</span>
    </mat-slide-toggle>
</div>
<div class="float-left h-auto w-15">
	<span *ngIf="hasCheckColumn" >
		נבחרו {{ criteria.isCheckAll ? paginationData.totalItems - criteria.checkedItems.length: criteria.checkedItems.length}}  רשומות
	</span>
</div>
<app-side-filters  *ngIf="hasExtendedSearch" [columns]="columns" (searchSubmitted)="extendedSearch($event)"></app-side-filters>
<p class="alert alert-success mb-3" *ngIf="savedItem">{{ savedItem }} נשמר בהצלחה.</p>
<table class="table table-bordered table-hover">
	<thead>
	<tr class="title_table">
		<th *ngIf="hasCheckColumn" class="pointer table-header">
			<mat-checkbox (change)="checkAll($event.checked)" [ngModel]="criteria.isCheckAll" *ngIf="items.length > 0 && !disableCheckAll"></mat-checkbox>
		</th>
		<th *ngFor="let column of columns" (click)="sort(column)" class="pointer table-header"
        [ngClass]="{ 'displayNone': column.isDisplay === false }">
			<span [matTooltip]="'מיין לפי ' + column.label" class="bold">{{ column.label }}</span>
			<i  [@rotate]="rotateSortingIcon()" class="fa fa-chevron-down"
         [@fade]="(criteria.sort.column_show === column.name) && column.isSort != false ? 'active' : 'inactive'"></i>
		</th>
		<th class="table-header" *ngIf="hasActionsHeader">פעולות</th>
	</tr>
	</thead>
	<ng-content></ng-content>
</table>
<p *ngIf="items.length === 0 && hasLoadingItem" class="text-center bold">{{ isLoading ? 'בטעינה...' : 'אין פריטים לתצוגה.' }}</p>
<app-pagination [data]="({paginationData: paginationData, limit: criteria.limit})" *ngIf="items.length > 0" [routeNavigate]="routePage" [ifPagination]="ifDisplayPagination"></app-pagination>
