.table-header {
	color: #34a7df !important;
}

.data-table-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.saved-message > i {
	font-size: 22px;
}

.saved-message > span {
	vertical-align: top;
}

.data-table th {
	padding: 0.4rem !important;
	background-color: rgba(0,0,0,.075);
	border: 1px solid #ddd;
	color: #000;
  	vertical-align: middle;
  	text-align: center !important;
}

.data-table tr.checked > td {
	background-color: rgba(0,0,0,.075);
}

.data-table td {
	padding: 0.5rem;
	border: 1px solid #ddd;
	text-align: center !important;
	font-size: 14px;
}

.data-table .search-row {
	background-color: #fff;
}

.data-table .row-actions > a {
	text-decoration: none;
}

.data-table .row-actions i, .data-table .row-icon {
	margin-left: 4px;
	cursor: pointer;
	color: #34a7df;
	font-size: 22px;
	vertical-align: middle;
}

.data-table .row-actions > img {
	height: 25px;
	width: 25px;
	cursor: pointer;
}
