<div class="mr-5 px-4" *ngIf="employer">
  <div class="row">
  <p class="h5 bold py-3">כרטיס מעסיק</p>
  <div class="d-flex mr-auto">
    <a (click)="back()">
      <p class="f-14 grey-color">
        <i class="fa fa-angle-right ml-1 ml-lg-2"></i>
        <span>חזור</span>
      </p>
    </a>
  </div>
  </div>
  <div class="d-flex mt-5">
    <form #form="ngForm" (ngSubmit)="submit(form)"  [formGroup]="employerForm">
  <div class=" d-flex">
    <div class="mb-3">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="employer.name" placeholder="שם מעסיק" (change)="saveChanges = true" formControlName="name">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" [(ngModel)]="employer.business_number" placeholder="מספר ח.פ" (change)="saveChanges = true" formControlName="businessNumber">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" [(ngModel)]="employer.deduction_number" placeholder="מספר תיק ניכויים" (change)="saveChanges = true" formControlName="deductionNumber">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <mat-select matInput placeholder="סוג מזהה לשליחה"  [(ngModel)]="employer.identifier_type" formControlName="identifierType">
          <mat-option *ngFor="let identifier of identifierTypes" [value]="identifier.id">{{identifier.name}}</mat-option>
        </mat-select>
        <mat-error>שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field  class="mr-3">
        <input matInput placeholder="מספר מזהה לשליחה"  [(ngModel)]="employer.identifier"  formControlName="sendingNumber" maxlength="9">
        <mat-error>שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="email" [(ngModel)]="employer.email" placeholder="כתובת מייל" (change)="saveChanges = true" formControlName="email">
      </mat-form-field>
    </div>
  </div>
      <div class="mt-4">
        <mat-form-field>
          <input matInput type="number" placeholder="טלפון" [(ngModel)]="employer.phone" (change)="saveChanges = true" formControlName="phone" maxlength="12">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput type="text" placeholder="כתובת" [(ngModel)]="employer.address" (change)="saveChanges = true" formControlName="address">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <mat-select matInput placeholder="פרוייקט" [(ngModel)]="employer.project_id" (selectionChange)="saveChanges = true" formControlName="project">
            <mat-option *ngFor="let proj of projects" [value]="proj.id">{{proj.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mr-3" *ngIf="operator">
          <mat-select matInput placeholder="מנהל תיק"  [(ngModel)]="employer.operator.id" (selectionChange)="saveChanges = true"
                      formControlName="operator">
            <mat-option *ngFor="let operat of operators" [value]="operat.id">
              {{operat.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-3">
          <mat-select placeholder="סטטוס"  [(ngModel)]="employer.status" formControlName="status" (selectionChange)="saveChanges = true">
            <mat-option *ngFor="let status of statuses" [value]="status.id">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput placeholder="קוד מוסד(5)"  [(ngModel)]="employer.institution_code_5" formControlName="institutionCode5" maxlength="5" (change)="saveChanges = true">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput placeholder="קוד מוסד(8)"  [(ngModel)]="employer.institution_code_8" formControlName="institutionCode8" maxlength="8" (change)="saveChanges = true">
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <button [disabled]="!saveChanges" class="btn blue-btn mr-5" type="submit">שמור שינויים</button>
      </div>
    </form>
  </div>
  <div>
    <div class="d-flex header-border mt-5 pt-5 text-center" id="headers">
      <span *ngFor="let header of headers" routerLinkActive="active" [routerLink]="[header.link]">{{header.label}}</span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
