<div class="mr-5 px-4" *ngIf="employer">
  <p class="h5 bold py-3">כרטיס מעסיק</p>
  <div class="d-flex mt-5">
    <form #form="ngForm" (ngSubmit)="submit(form.valid)"  [formGroup]="employerForm">
  <div class="w-50 d-flex">
    <div class="mb-3">
      <mat-form-field>
        <input matInput type="email" [(ngModel)]="employer.name" placeholder="שם מעסיק" (change)="saveChanges = true" formControlName="employerName">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="email" [(ngModel)]="employer.business_number" placeholder="מספר ח.פ" (change)="saveChanges = true" formControlName="businessNumber">
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="email" [(ngModel)]="employer.deduction_number" placeholder="מספר תיק ניכויים" (change)="saveChanges = true" formControlName="deductionNumber">
      </mat-form-field>
    </div>
  </div>
      <div class="mt-4">
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="employer.email" placeholder="כתובת מייל" (change)="saveChanges = true" formControlName="email">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput type="tel" placeholder="טלפון" [(ngModel)]="employer.phone" (change)="saveChanges = true" formControlName="phone" maxlength="12">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput type="text" placeholder="כתובת" [(ngModel)]="employer.address" (change)="saveChanges = true" formControlName="address">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput placeholder="פרוייקט" (change)="saveChanges = true" formControlName="project">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input matInput placeholder="מנהל תיק"  [(ngModel)]="employerName" (change)="saveChanges = true" formControlName="operator">
        </mat-form-field>
        <mat-form-field class="mr-3">
          <mat-select placeholder="סטטוס"  [(ngModel)]="employer.status" formControlName="status" (selectionChange)="saveChanges = true">
            <mat-option *ngFor="let status of statuses" [value]="employer.status">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button [disabled]="!saveChanges" class="btn blue-btn mr-5" type="submit">שמור שינויים</button>
      </div>
    </form>
  </div>
  <div>
    <div class="d-flex border-bottom mt-5 pt-5 text-center" id="headers">
      <span *ngFor="let header of headers" [ngClass]="{ 'active': header.link === router.url.split('/')[6] }" [routerLink]="[header.link]">{{header.label}}</span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
