<div>
  <p class="mr-6 mb-n2 h4 bold font-rubik">מבט כללי</p>
  <hr class="mr-5">
  <div class="border-shadow-main p-3 mt-2 mr-5">
    <div class="d-flex">
      <mat-form-field class="bd-width190 font-rubik" *ngIf="!salaryMonth">
        <input matInput [matDatepicker]="datePickerFrom" [max]="endDate" placeholder=" מתאריך" [value]="startDate" [(ngModel)]="startDate" >
        <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #datePickerFrom ></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="bd-width190 mr-5 font-rubik" *ngIf="!salaryMonth">
        <input matInput [matDatepicker]="datePickerTo" [min]="startDate" [max]="toDay" [(ngModel)]="endDate" [value]="endDate"  placeholder=" עד תאריך">
        <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
        <mat-datepicker #datePickerTo></mat-datepicker>
      </mat-form-field>
      <mat-form-field  *ngIf="salaryMonth">
        <mat-select placeholder="מחודש שכר" [(ngModel)]="startDate" name="month" class="ml-3">
          <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3" *ngIf="salaryMonth">
        <mat-select placeholder="שנה" [(ngModel)]="startYear" name="year" >
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-5" *ngIf="salaryMonth">
        <mat-select placeholder="עד חודש שכר" [(ngModel)]="endDate" name="month" class="ml-3">
          <mat-option *ngFor="let month of months; let index = index;" [value]="index + 1">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3" *ngIf="salaryMonth">
        <mat-select placeholder="שנה" [(ngModel)]="endYear" name="year" >
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mr-5 my-sm-4">
        <mat-checkbox class="col-5" name="salaryMonth" (select)="format = 'dd-MM-yyyy'" [(ngModel)]="salaryMonth">חודש שכר</mat-checkbox>
      </div>
    </div>
    <div class="d-flex">
      <div class="bd-width190 font-rubik">
        <bd-select [items]="projects"  placeholder="פרויקט" [(ngModel)]="projectsId"
                   class="bd-min-width" (onSelect)="getAllFilter()"></bd-select>
      </div>
      <div class="bd-width190 mr-5 font-rubik">
        <bd-select [items]="teamLeaders" placeholder="מנהל צוות" [(ngModel)]="teamLeader"
                   class="bd-min-width" (onSelect)="setOperator()"></bd-select>
      </div>
      <div class="bd-width190 mr-5 font-rubik">
        <bd-select [items]="operators" placeholder="מנהל תיק" [(ngModel)]="operatorId"
                   class="bd-min-width" (onSelect)="getAllFilter()" ></bd-select>
      </div>
      <div class="bd-width190 mr-5 font-rubik">
        <bd-select [items]="organizations"  placeholder="ארגון" [(ngModel)]="organizationId"
                   label="value" class="bd-min-width" (onSelect)="getAllFilter()"></bd-select>
      </div>
      <div class="bd-width190 mr-5 font-rubik">
        <bd-select [items]="employers" placeholder="מעסיק" [(ngModel)]="employerId" (onSelect)="getDepartment()"
                   class="bd-min-width" ></bd-select>
      </div>
      <div class="bd-width190 mr-5 font-rubik">
        <bd-select [items]="departments" placeholder="מחלקה" [(ngModel)]="departmentId"
                   class="bd-min-width" ></bd-select>
      </div>
      <div class="pointer d-flex mt-3 mr-4" (click)="clear()" >
        <div class="ml-1">נקה</div>
        <img src="../../../../assets/img/bin.png" class="mr-03" height="16" width="16"/>
      </div>
      <button class="btn ellipse-s blue-btn font-rubik mt-sm-2 mr-3" type="submit" (click)="submit()"><img
        src="../../../../assets/img/filter.png" class="ml-1" height="16" width="16"/>סנן</button>
    </div>
  </div>
  <br>
  <p class="mr-5 h5 bold font-rubik"> תוצאות של {{datePipe.transform(startDate, format)}} עד {{datePipe.transform(endDate, format)}}</p>
  <hr class="mr-5">
  <div class="d-flex">
    <div class="h-350 w-25 mr-6">
      <div class="d-flex mt-8">
        <img src="../../../../assets/img/sq.png" height="88" width="97"/>
        <div class="py-sm-2">
          <p class="h3 bold font-rubik">סטטוס מעסיקים</p>
          <p class="text-center font-rubik">בתיבה זו תוכלו לצפות בפרטי המעסיקים</p>
        </div>
      </div>
    </div>
    <div class="border-shadow w-25 h-350 mr-5">
      <br><br>
      <div class="d-flex">
        <img src="../../../../assets/img/status (1).png" class="rounded mx-auto d-block" height="64" width="64"/>
        <img src="../../../../assets/img/building.png" class="rounded mx-auto d-block" height="64" width="64"/>
      </div>
      <div class="d-flex">
        <p class="h6 bold text-center mr-6 py-2 font-rubik">מס' מעסיקים</p>
        <p class="h6 bold text-center mr-7 py-2 font-rubik">מס' אירגונים</p>
      </div>
      <div class="d-flex">
        <div class="w-50">
          <p class="blue-color font-weight-bold f-55 text-center font-rubik py-2">{{ reportsData.employers_count}}</p>
        </div>
        <div class="w-50">
          <p class="yellow1-color font-weight-bold f-55 text-center font-rubik py-2">{{ reportsData.organization_count}}</p>
        </div>
      </div>
      <hr class="mr-3 ml-3">
      <div class="d-flex justify-content-center">
        <a class="text-center font-rubik" [ngClass]="{'disabledInput' : this.departmentsIds === null}" (click)="navigateEmployer()" > לרשימה המלאה
          <img src="../../../../assets/img/left.png" class="mr-3" height="16"  width="16"/>
        </a>
      </div>
    </div>
    <div class="border-shadow w-25 h-350 mr-2">
      <br><br>
      <img src="../../../../assets/img/name (1).png" class="rounded mx-auto d-block" height="64" width="64"/>
      <p class="h6 bold text-center py-2 font-rubik ">מס' תעודות זהות</p>
      <div class="d-flex justify-content-center  py-2">
        <p class="h6 bold font-rubik mt-sm-4 ml-md-4 ">שנסלקו</p>
        <div class="green-background-color mr-6 circle-size rounded-circle">
          <p class="h6 white-color bold text-center py-sm-4 ml-lg-2 font-rubik">{{reportsData.employees_zero_count}}</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <p class="h6 bold font-rubik mr-4">כמות עובדים</p>
        <div class="mr-6 ml-3 w-100p">
          <p class="h6 green1-color bold text-center py-2 font-rubik ">{{reportsData.employees_no_zero_count}}</p>
        </div>
      </div>
      <hr class="mr-3 ml-3">
      <div class="d-flex justify-content-center">
        <a class="text-center font-rubik" (click)="openEmployeeIdsCount()"> לרשימה המלאה</a>
        <div class="mr-3">
          <img src="../../../../assets/img/left.png" height="16"  width="16"/>
        </div>
      </div>
    </div>
    <div class="border-shadow w-25 h-350 mr-3">
      <p class="h6 bold font-rubik mr-4 mt-3">קבצים</p>
      <hr class="mr-3 ml-3">
      <div class="d-flex">
        <div class="mr-6">
          <div class="white-background-color mr-2 w-50p mt-3 justify-content-center on-circle">
            <p class="h6 bold font-rubik text-center"> {{reportsData.files}}</p>
          </div>
          <img src="../../../../assets/img/folder -blue.png" height="64" width="64"/>
          <p class="h6 font-rubik">מס' קבצים</p>
        </div>
        <div class="mr-4">
          <div class="white-background-color mr-2 w-50p mt-3 justify-content-center on-circle">
            <p class="h6 bold font-rubik text-center"> {{reportsData.files_loading}}</p>
          </div>
          <img src="../../../../assets/img/folder.png" class="" height="64" width="64"/>
          <p class="h6 font-rubik">כמה נטענו</p>
        </div>
        <div class="mr-4">
          <div class="white-background-color mr-2 w-50p mt-3 justify-content-center on-circle mt-2">
            <p class="h6 bold font-rubik text-center"> {{reportsData.files_transmitted}}</p>
          </div>
          <img src="../../../../assets/img/folder (1).png" height="64" width="64"/>
          <p class="h6 font-rubik">כמה שודרו</p>
        </div>
      </div>
      <div class="d-flex mt-2">
        <div class="mr-7 rounded-circle grey-background-color sq-45p mt-3">
          <img src="../../../../assets/img/folder-write.png" class="mr-mt-f2" height="24" width="24"/>
        </div>
        <div class="d-flex mt-sm-n3 mb-5">
          <p class="h6 mr-3 font-rubik m-t-50p">ממתינים לשידור</p>
          <p class="h6 mr-1 font-rubik m-t-50p">{{reportsData.files_loading}}</p>
        </div>
      </div>
      <hr class="mr-3 ml-3">
      <div class="d-flex justify-content-center">
        <a class="text-center font-rubik" (click)="navigateProcess()"> לרשימה המלאה</a>
        <div class="mr-3">
          <img src="../../../../assets/img/left.png" height="16"  width="16"/>
        </div>
      </div>
    </div>
  </div>
  <hr class="mr-5">
  <div class="mr-5">
    <div class="border-shadow w-100 ">
      <p class="h6 font-rubik bold  mr-4 mt-3">היזונים ראשוניים</p>
      <hr class="mr-3 ml-3 py-3">
      <ul class="d-flex mr-5 mt-1">
        <img src="../../../../assets/img/tick.png" height="16" width="16"/>
        <p class="h6 bold font-rubik mr-6">תקינים</p>
        <p class="h6  font-rubik mr-35 ">היזונים ראשוניים</p>
        <div class="w-250p mr-35">
          <p class="h6 bold font-rubik yellow1-color">{{reportsData.feedback_a}}</p>
        </div>
        <img src="../../../../assets/img/left.png" height="16"  width="16"/>
      </ul>
      <hr class="mt-sm-2">
      <ul class="d-flex mr-5 mt-1">
        <img src="../../../../assets/img/close.png" height="16" width="16"/>
        <p class="h6 bold font-rubik mr-6">ללא מענה</p>
        <p class="h6 font-rubik mr-34">היזונים ראשוניים</p>
        <div class="w-250p mr-35">
          <p class="h6 bold font-rubik yellow1-color">{{reportsData.feedback_a_unanswered}}</p>
        </div>
        <img src="../../../../assets/img/left.png" height="16"  width="16" />
      </ul>
      <hr class="mt-sm-2">
      <ul class="d-flex mr-5 mt-1">
        <img src="../../../../assets/img/cancel.png" height="16" width="16"/>
        <p class="h6 bold font-rubik mr-6">תקולים</p>
        <p class="h6  font-rubik mr-35">היזונים ראשוניים</p>
        <div class="w-250p mr-35">
          <p class="h6 bold font-rubik">{{reportsData.feedback_a_failed}}</p>
        </div>
        <img src="../../../../assets/img/left.png" height="16"  width="16" />
      </ul>
    </div>
    <div class="d-flex py-3">
      <div class="w-30 mr-3">
        <div class="d-flex mt-6">
          <img src="../../../../assets/img/insert (1).png" height="70" width="70" class="mr-2"/>
          <div class="py-sm-2 mr-3">
            <p class="h3 bold font-rubik">היזונים חוזרים</p>
            <p class="text-center font-rubik">בתיבה זו תוכלו לצפות בפרטי ההיזונים</p>
          </div>
        </div>
      </div>
      <div class="border-shadow w-50">
        <p class="h6 font-rubik bold  mr-4 mt-3"> ברמת קובץ</p>
        <hr class="mr-3 ml-3">
        <div class="d-flex mt-5">
          <div class="">
            <div class="border circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik text-center mr-0">{{reportsData.file_not_defrayed}}</p>
            </div>
            <p class="h6 font-rubik text-center mr-6 mt-2">לא נפרע</p>
          </div>
          <div class="mr-5">
            <div class="border mr-6 circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik green1-color text-center mr-0">{{reportsData.file_fully_defrayed}}</p>
            </div>
            <p class="mr-6 h6 mt-2 text-center font-rubik">נפרע במלואו</p>
          </div>
          <div class="mr-5">
            <div class="border mr-6 circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik yellow1-color text-center mr-0">{{reportsData.file_partially_paid}}</p>
            </div>
            <p class="mr-6 h6 mt-2 text-center font-rubik">נפרע חלקית</p>
          </div>
          <div class="mr-5">
            <div class="border mr-6 circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik orange-color text-center mr-0">{{reportsData.file_feedback_a_failed}}</p>
            </div>
            <p class="mr-6 h6 mt-2 text-center font-rubik">נכשל</p>
          </div>
        </div>
      </div>
      <div class="border-shadow w-30 mr-3">
        <p class="h6 font-rubik bold  mr-4 mt-3">ברמת עובד</p>
        <hr class="mr-3 ml-3">
        <div class="d-flex mt-5 mr-5">
          <div class="">
            <div class="border circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik text-center mr-0">{{reportsData.mtb_not_defrayed}}</p>
            </div>
            <p class="h6 font-rubik text-center mr-6 mt-2">לא נפרע</p>
          </div>
          <div class="mr-5">
            <div class="border mr-6 circle-size rounded-circle mr-6 py-4" (click)="navigateFeedback('')">
              <p class="h6 font-rubik green1-color text-center mr-0">{{reportsData.mtb_defrayed}}</p>
            </div>
            <p class="mr-6 h6 mt-2 text-center font-rubik">נפרע במלואו</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="border-shadow w-40">
        <p class="h6 bold font-rubik  mr-4 mt-3">היזון מסכם</p>
        <hr class="mr-3 ml-3">
        <p class="h5 font-rubik bold text-center mt-5 mb-0 " >תקינים</p>
        <p class="green1-color font-weight-bold f-60 text-center font-rubik">{{reportsData.feedback}}</p>
      </div>
      <div class="border-shadow w-40 mr-3">
        <p class="h6 bold font-rubik  mr-4 mt-3">היזון מסכם</p>
        <hr class="mr-3 ml-3">
        <p class=" h5 font-rubik bold text-center mt-5 mb-0 " >ללא מענה</p>
        <p class="grey-color font-weight-bold f-60 text-center font-rubik ">{{reportsData.feedback_unanswered}}</p>
      </div>
      <div class="border-shadow w-40  mr-3">
        <p class="h6 bold font-rubik  mr-4 mt-3">היזון מסכם</p>
        <hr class="mr-3 ml-3">
        <p class="h5 font-rubik bold text-center mt-5 mb-0 " >תקולים</p>
        <p class="orange-color font-weight-bold f-60 text-center font-rubik">{{reportsData.feedback_failed}}</p>
      </div>
    </div>
  </div>

  <hr class="mr-5">
  <div class="d-flex h-350">
    <div class="d-flex h-75 w-25 mr-6">
      <div class="d-flex mt-6">
        <img src="../../../../assets/img/turn (1).png" height="64" width="64" class="mr-2"/>
        <div class="py-sm-2 mr-3">
          <p class="h3 bold font-rubik">מעקב פניות</p>
          <p class="text-center font-rubik">בתיבה זו תוכלו לצפות אחר פניות</p>
        </div>
      </div>
    </div>
    <div class="w-1250p">
      <div class="d-flex mt-4 w-70 mr-35">
        <p class="h6 font-rubik bold mr-n7">פניות ברמת קובץ</p>
        <p class="h6 font-rubik bold mr-7">פניות ברמת עובד</p>
        <p class="h6 font-rubik bold mr-5 ">ייתרות לפיצויים ברמת ח.פ</p>
        <p class="h6 font-rubik bold mr-5">ייתרות לפיצויים ברמת עובד</p>
      </div>
      <table class="table border-shadow-main  w-1250p mr-3 " >
        <tbody>
        <tr>
          <th scope="row" class="font-rubik">MyHR</th>
          <td class="font-rubik blue-color bold">{{reportsData.requests_my_hr_file}}</td>
          <td class="font-rubik bold">{{reportsData.requests_my_hr_mtb}}</td>
          <td class="font-rubik blue-color bold">{{reportsData.requests_my_hr_com_er}}</td>
          <td class="font-rubik bold">{{reportsData.requests_my_hr_com_ee}}</td>
        </tr>
        <tr>
          <th scope="row" class="font-rubik" >חברה מנהלת</th>
          <td class="font-rubik blue-color bold">{{reportsData.requests_company_file}}</td>
          <td class="font-rubik bold">{{reportsData.requests_company_mtb}}</td>
          <td class="font-rubik blue-color bold">{{reportsData.requests_company_com_er}}</td>
          <td class="font-rubik bold">{{reportsData.requests_company_com_ee}}</td>
        </tr>
        <tr>
          <th scope="row" class="font-rubik">מעסיק</th>
          <td class="font-rubik blue-color bold">{{reportsData.requests_employer_file}}</td>
          <td class="font-rubik bold">{{reportsData.requests_employer_mtb}}</td>
          <td class="font-rubik blue-color bold">{{reportsData.requests_employer_com_er}}</td>
          <td class="font-rubik bold">{{reportsData.requests_employer_com_ee}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

