.ellipse{
  border: 2px solid ;
  border-radius: 18px;
}

.bd-width181 {
  width: 181px;
  margin-top: 10px;
}
.background-blue{
  background-color: #00adee;
}
#comments {
  width: 634px;
}
.blue-btn-outline {
  color:  #00adee;
  outline-color: #00adee;
  text-decoration-color: #00adee;
}
.bd-min-width {
  min-width: 10px !important;
}
.process1{
  width: 20%;
  height:10px;
  background-color: #00adee;
}
.process2{
  width: 40%;
  height:10px;
  background-color: #00adee;
}
.process3{
  width: 60%;
  height:10px;
  background-color: #00adee;
}
.process4{
  width: 80%;
  height:10px;
  background-color: #00adee;
}
.process5{
  width: 100%;
  height:10px;
  background-color: #00adee;
}
.width135 {
  width: 135px;
}
button:focus {
  outline: none !important;
  box-shadow: none  !important;
}
.width15{
  width: 15%;
}
.width38{
  width: 38%;
}
.ml-4-5 {
  margin-left: 2.3rem !important;
}
