<div class="mr-5 px-4">
  <form  #form="ngForm" >
    <br>
    <br>
    <div class="col-5 ">
      <p> {{pageNumber}} מתוך 5</p>
      <div class="progress" style="height:10px">
        <div [ngClass]="classProcess"></div>
      </div>
    </div>
    <br>
    <div class="row col-5 ">
      <div>
      <p class="h5 mb-4 bold"> {{stringTitle}}</p>
      </div>
      <div class="ml-3 mr-auto ">
        <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline " >שמור וצא מהתהליך</button>
      </div>
    </div>
    <div [@fade]="pageNumber === 1 ? 'active' : 'inactive'" [formGroup]="creatingEmployerForm">
      <div formGroupName="employerDetails">
        <mat-form-field>
          <input matInput  placeholder="שם ארגון" formControlName="newOrganization"  required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      <P class="f-16 bold mt-5">פרטים</P>
      <div class="d-flex">
        <mat-form-field >
          <input matInput placeholder="שם מעסיק" formControlName="name" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר ח.פ" formControlName="identifier" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput type="text" placeholder="מספר מזהה שולח" formControlName="receivedIdentifier" maxlength="9" required >
          <mat-error>ח.פ אינו תקין</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex">

        <mat-form-field>
          <input matInput placeholder="כתובת מייל" formControlName="email"  required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="טלפון" formControlName="phone" >
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="כתובת" formControlName="address">
        </mat-form-field>
      </div>
      <div class="d-flex">
        <div class="bd-width181">
          <bd-select [items]="projects" formControlName="project"
                     required placeholder="פרוייקט"
                     class="bd-min-width" [error]="form.submitted &&
          creatingEmployerForm.controls['employerDetails'].value.project === null" ></bd-select>

        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="operators" formControlName="operator"
                     required placeholder="מנהל תיק"
                     class="bd-min-width" [error]="form.submitted &&
          creatingEmployerForm.controls['employerDetails'].value.operator === null"></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="statuses" formControlName="status"
                     required placeholder="סטטוס"
                     class="bd-min-width" [error]="form.submitted &&
                     creatingEmployerForm.controls['employerDetails'].value.status === null" ></bd-select>
        </div>
    </div>
      <div class="d-flex">
        <mat-form-field>
          <mat-select matInput placeholder="סוג תשלום" formControlName="paymentType">
            <mat-option *ngFor="let payment of paymentType" [value]="payment.id">{{payment.name}}</mat-option>
          </mat-select>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד[5]" formControlName="institutionCode5" maxlength="5"
                 [required]="creatingEmployerForm.controls['employerDetails'].value.paymentType === 'masav'">
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד[8]" formControlName="institutionCode8" maxlength="8"
                 [required]="creatingEmployerForm.controls['employerDetails'].value.paymentType === 'masav'">
        </mat-form-field>
      </div>
      <div>
        <p class="f-16 bold mt-5">סליקה</p>
        <div class="d-flex">
          <div class="bd-width181">
            <bd-select [items]="identifierTypes" formControlName="identifierType"
                       required placeholder="סוג מזהה לשליחה"
                       class="bd-min-width" [error]="form.submitted && creatingEmployerForm.controls['employerDetails'].value.identifierType === null"  ></bd-select>
          </div>
          <mat-form-field  class="mr-5">
            <input matInput placeholder="מספר מזהה לשליחה" formControlName="senderIdentifier" maxlength="9" required>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div formArrayName="contact">
      <p class="f-16 bold mt-5">אנשי קשר</p>
      <link >
      <div *ngFor="let m of getContactsArrControls(); let index = index; let last = last" [formGroupName]="index">
        <mat-icon (click)="removeControl(index)" *ngIf="index > 0 || !last" class="pointer remove-account-icon blue-color">highlight_off</mat-icon>
        <br>
        <p class="f-12">איש קשר {{  1 + index }}</p>
        <div class="d-flex">
        <mat-form-field >
          <input matInput placeholder="שם פרטי" formControlName="firstName" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="שם משפחה" formControlName="lastName" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="תפקיד" formControlName="role">
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field>
          <input matInput placeholder="מספר טלפון" formControlName="phoneContact">
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="טלפון נייד" formControlName="phoneContactMobile" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="כתובת מייל" formControlName="emailContact" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
    </div>
      <p class="f-14 pointer blue-color" >
        <i class="fa fa-plus blue-color" (click)="addContact()"></i>
        <span (click)="addContact()"> איש קשר נוסף</span>
      </p>
    </div>
      <mat-form-field id="comments">
          <input matInput placeholder="הוספת הערות" formControlName="comments">
        </mat-form-field>
    </div>


    <div [@fade]="pageNumber === 2 ? 'active' : 'inactive'">
      <br>
      <table class="table table-bordered col-5">
        <thead>
        <tr>
          <th scope="col">חוזה</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text" >{{ uploadedFileContract ? (uploadedFileContract.name | slice:0:25) : 'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse">
                  <img src="app/../assets/img/icons/upload.svg">
                  <label >
                    העלת קובץ
                    <input type="file" (change)="uploadedFileContract = $event.target.files[0]" >
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <p class="alert alert-danger col-5" *ngIf="(!uploadedFileContract) && clickedCoun">יש להכניס חוזה.</p>
    </div>
    <div [@fade]="pageNumber === 3 ? 'active' : 'inactive'">
      <br>
      <table class="table table-bordered col-5">
        <thead>
        <tr>
          <th scope="col">יפויי כח</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{ uploadedFilePoa ? (uploadedFilePoa.name | slice:0:25) : 'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse">
                  <img src="../../../../../assets/img/icons/upload.svg">
                  <label >
                    העלת קובץ
                    <input type="file" (change)="uploadedFilePoa = $event.target.files[0]" >
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <table class="table table-bordered col-5">
        <thead>
        <tr>
          <th scope="col">מורשה חתימה</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{ uploadedFileProtocol ? (uploadedFileProtocol.name | slice:0:25) : 'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse">
                  <img src="../../../../../assets/img/icons/upload.svg">
                  <label >
                    העלת קובץ
                    <input type="file" (change)="uploadedFileProtocol = $event.target.files[0]" >
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <table class="table table-bordered col-5">
        <thead>
        <tr>
          <th scope="col">פרטי הלקוח</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{ uploadedFileCustomer ? (uploadedFileCustomer.name | slice:0:25) : 'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse">
                  <label >
                    העלת קובץ
                    <input type="file" (change)="uploadedFileCustomer = $event.target.files[0]" >
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <p class="alert alert-danger col-5" *ngIf="((!uploadedFilePoa) || (!uploadedFileProtocol) || (!uploadedFileCustomer))&& clickedCoun">יש להכניס את המסמכים הדרושים.</p>
    </div>

    <div [@fade]="pageNumber === 4 ? 'active' : 'inactive'" [formGroup]="detailsBank">
      <p class="f-16 bold mt-5">חשבון בנק משלם</p>
      <div class="d-flex" formGroupName="payingBank">
        <div class="bd-width">
          <bd-select  [items]="banks" formControlName="name" required
                      [(ngModel)]="selectedBankD"  placeholder="בחר בנק"
                       (onSelect)="getBranches(1)" [error]="!selectedBankD && form.submitted"></bd-select>
        </div>
        <div class="bd-width mr-5">
          <bd-select [items]="branchesD" formControlName="branchId"
                     [(ngModel)]="selectedBranchD"  placeholder="בחר סניף"
                     [error]="!selectedBranchD && form.submitted"></bd-select>
        </div>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
          <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
        </mat-form-field>
        <i class="fa fa-copy fa-2x pointer blue-color mr-3 mt-3" title="העתק פרטי חשבון" (click)="copyBankRow()" *ngIf="validCopy()"></i>
      </div>
      <p class="bold mt-5">חשבון להחזר כספים</p>
      <div class="d-flex" formGroupName="receivingBank">
        <div class="bd-width">
          <bd-select [items]="banks" formControlName="name" required
                     [(ngModel)]="selectedBankW" placeholder="בחר בנק"
                     (onSelect)="getBranches(2)"  [error]="!selectedBankW && form.submitted"></bd-select>
        </div>
        <div class="bd-width mr-5">
          <bd-select [items]="branchesW" formControlName="branchId" required
                     [(ngModel)]="selectedBranchW" placeholder="בחר סניף"
                     [error]="!selectedBranchW && form.submitted"></bd-select>
        </div>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
          <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
        </mat-form-field>
      </div>
      <div class="mt-3 pb-3">
    </div>
    </div>
    <div [@fade]="pageNumber === 5 ? 'active' : 'inactive'">
      <table class="table table-bordered col-5">
        <thead>
        <tr>
          <th scope="col">קובץ Xml</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{ uploadedFileXml ? (uploadedFileXml.name | slice:0:25) : 'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse">
                  <label >
                    העלת קובץ
                    <input type="file" (change)="uploadedFileXml = $event.target.files[0]" >
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <p class="alert alert-danger col-5" *ngIf="(!uploadedFileXml)  && clickedCoun">יש להכניס קובץ Xml.</p>
    </div>
    <br>
    <br>
    <div class="row col-5">
      <button class="btn btn-secondary btn-sm ml-3 ellipse" (click)="backAndCancel()"> {{this.pageNumber === 1 ? 'ביטול' : 'חזור'}}</button>
      <div class="ml-3 d-flex mr-auto">
        <button class="btn btn-primary btn-sm ml-md-n2 ellipse btn blue-btn" type="submit" (click)="this.pageNumber === 5 ? submit(from): continueProcess()"  >
          {{ this.pageNumber === 5 ? 'סיום' : 'המשך'}}</button>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>

