<div class="mr-5 px-4">
  <form  #form="ngForm" [formGroup]="creatingEmployerForm">
    <br><br>
    <div>
      <p> {{pageNumber}} מתוך 5</p>
      <div class="progress width38" style="height:10px">
        <div [ngClass]="detailsPage[pageNumber-1].progress"></div>
      </div>
    </div>
    <br>
    <div class="row col-5 ">
      <div>
      <p class="h5 mb-4 bold">{{detailsPage[pageNumber-1].title}}</p>
      </div>
      <div class="ml-4-5 mr-auto ">
        <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline " (click)="submit()">שמור וצא מהתהליך</button>
      </div>
    </div>
    <div *ngIf="pageNumber !== 1">
      <p class="h6 mb-4 bold">{{ creatingEmployerForm.get('creatingEmployer.employerDetails.name').value + ' ' +
                                 creatingEmployerForm.get('creatingEmployer.employerDetails.identifier').value}}</p>
    </div>
    <div [@fade]="pageNumber === 1 ? 'active' : 'inactive'" formGroupName="creatingEmployer">
      <div formGroupName="employerDetails">
        <div class="d-flex" *ngIf="!route.snapshot.params.id && role == 'admin'">
          <mat-form-field [ngClass]="{'disabledInput' : !isEdit}">
            <input matInput placeholder="ארגון חדש" formControlName="newOrganization" [required]="isEdit">
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>
          <div>
            <img src="/assets/img/icons/edit_grey.png" class="row-image edit-icon"
                 (click)="enableOrganization(form, isEdit)">
          </div>
        </div>
      <p class="f-16 bold mt-5">פרטים</p>
      <div class="d-flex">
        <div class="bd-width181" [ngClass]="{'disabledInput' : isEdit || route.snapshot.params.id }">
          <bd-select [items]="organizations" formControlName="organization" [required]="!isEdit" placeholder="ארגון"
                     label="value" class="bd-min-width" [error]="creatingEmployerForm.get('creatingEmployer.employerDetails').value.organization === null
                     && form.submitted && !isEdit"  ></bd-select>
        </div>
          <mat-form-field class="mr-5">
            <input matInput placeholder="מעסיק" formControlName="name" maxlength="50"  required>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר ח.פ" formControlName="identifier" maxlength="9"  minlength="9" required>
          <mat-error>שדה חובה</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <mat-form-field >
          <input matInput  placeholder="טלפון" maxlength="10" minlength="7" formControlName="phone">
          <mat-error *ngIf="!creatingEmployerForm.get('creatingEmployer.employerDetails').get('phone').valid">טלפון לא תקין</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="כתובת" formControlName="address" >
        </mat-form-field>
        <div class="bd-width181 mr-5">
          <bd-select [items]="cities" placeholder="עיר" [(ngModel)]="employer.city_id"  formControlName="city_id"
                     class="d-inline-block bd-de bd-min-width" [error]="employer.city_id == 0 && form.submitted" ></bd-select>
        </div>
      </div>

      <div class="d-flex">
        <div class="bd-width181">
          <bd-select [items]="projects" formControlName="project"
                     required placeholder="פרוייקט *" class="bd-min-width" ></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="operators" formControlName="operator"
                     required placeholder="מנהל תיק *" class="bd-min-width" ></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="saleMans" formControlName="operator"
                     required placeholder="איש מכירות" class="bd-min-width" ></bd-select>
        </div>
    </div>
      <div class="d-flex">
        <mat-form-field>
          <mat-select matInput placeholder="סוג תשלום *" formControlName="paymentType" >
            <mat-option *ngFor="let payment of paymentType" [value]="payment.id">{{payment.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד[5]" formControlName="institutionCode5" maxlength="5" minlength="5"
                 [required]="creatingEmployerForm.get('creatingEmployer.employerDetails').value.paymentType === 'masav'">
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input matInput placeholder="קוד מוסד[8]" formControlName="institutionCode8" maxlength="8" minlength="8"
                 [required]="creatingEmployerForm.get('creatingEmployer.employerDetails').value.paymentType === 'masav'">
        </mat-form-field>
      </div>
        <div class="d-flex">
          <div class="bd-width181">
           <mat-form-field>
             <input matInput placeholder="מספר מזהה שולח" formControlName="receivedIdentifier" maxlength="9"  minlength="9" required>
             <mat-error>ח.פ אינו תקין</mat-error>
           </mat-form-field>
          </div>
          <div class="bd-width181 mr-5">
            <bd-select [items]="statuses" formControlName="status"
                       required placeholder="סטטוס" class="bd-min-width"  ></bd-select>
          </div>
        </div>
      <div>
        <p class="f-16 bold mt-5">סליקה</p>
        <div class="d-flex">
          <div class="bd-width181">
            <bd-select [items]="identifierTypes" formControlName="identifierType"
                       required placeholder="סוג מזהה לשליחה" class="bd-min-width" ></bd-select>
          </div>
          <mat-form-field  class="mr-5">
            <input matInput type="text" placeholder="מספר מזהה לשליחה" formControlName="senderIdentifier" maxlength="9" required >
            <mat-error >שדה חובה</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
      <div formArrayName="contact">
      <p class="f-16 bold mt-5">אנשי קשר</p>
        <div *ngFor=" let contact of getContactsArrControls(); let index = index; let last = last" [formGroupName]="index">
          <mat-icon [ngClass]="{'disabledInput' : route.snapshot.params.id && index < route.snapshot.data.items.contacts.length }"
                    (click)="removeControl(index)" *ngIf="index > 0 || !last" class="pointer remove-account-icon blue-color">highlight_off</mat-icon>
          <br>
          <p class="f-12">איש קשר {{  1 + index }}</p>
          <div class="d-flex" [ngClass]="{'disabledInput' : route.snapshot.params.id && index < route.snapshot.data.items.contacts.length }">
            <mat-form-field >
              <input matInput placeholder="שם פרטי" formControlName="first_name"  required>
                </mat-form-field>
            <mat-form-field class="mr-5">
              <input matInput placeholder="שם משפחה" formControlName="last_name" required>
            </mat-form-field>
            <mat-form-field class="mr-5">
            <input matInput placeholder="תפקיד" formControlName="role">
          </mat-form-field>
          </div>
          <div class="d-flex" [ngClass]="{'disabledInput' : route.snapshot.params.id && index < route.snapshot.data.items.contacts.length}">
            <mat-form-field>
              <input matInput placeholder="מספר טלפון *" maxlength="10" minlength="7" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="mr-5">
              <input matInput placeholder="טלפון נייד *" maxlength="10" minlength="9" formControlName="mobile">
            </mat-form-field>
            <mat-form-field class="mr-5">
              <input matInput placeholder="כתובת מייל *" formControlName="email"  required>
            </mat-form-field>
            <input TYPE="hidden"  formControlName="entity_type">
          </div>
          <mat-form-field id="comments" [ngClass]="{'disabledInput' : route.snapshot.params.id && index < route.snapshot.data.items.contacts.length }">
            <input matInput placeholder="הוספת הערות" formControlName="comment">
          </mat-form-field>
        </div>
      </div>
      <p class="f-14 pointer blue-color" (click)="addContact()" >
        <i class="fa fa-plus blue-color"></i>
        <span > איש קשר נוסף</span>
      </p>
    </div>
    <div [@fade]="pageNumber === 2 ? 'active' : 'inactive'">
      <br>
      <table class="table table-bordered width38">
        <thead>
        <tr>
          <th scope="col"  class="width15">חוזה</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{fileUpload(uploadedFileContract)}}</p>
              <!--                <mat-progress-bar *ngIf="process_file === 100" class="mt-5" mode="determinate" [value]="process_file"></mat-progress-bar>-->
              <div class="ml-3 mr-auto" >
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline" *ngIf="!uploadedFileContract">
                  <label class="width135" >
                    <input type="file" accept=".docx,.doc,.pdf " (change)= "uploadedFileContract === undefined ?
                      uploadedFileContract = $event.target.files[0] : uploadedFileContract['id'] ? documentId = uploadedFileContract['id'] : 0;
                      uploadedFileContract = $event.target.files[0]; uploadedFileContract['id'] = documentId;">
                    <img src="app/../assets/img/icons/upload.svg" class="ml-2">
                    העלת קובץ
                  </label>
                </button>
                <div *ngIf="uploadedFileContract">
                  <i class="fa fa-eye fa-lg mr-3 ml-3" (click)="showFile(uploadedFileContract)" ></i>
                  <i class="fa fa-trash fa-lg" (click)="uploadedFileContract = deleteFile(uploadedFileContract)" title="מחיקה"></i>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
<!--      <p class="alert alert-danger width38" *ngIf="(!uploadedFileContract)  ">יש להכניס חוזה.</p>-->
<!--      <p class="text-danger w-50 " *ngIf="uploadedFileContract && !validationFile(uploadedFileContract)"> יש להעלות רק קבצי docx או pdf </p>-->
      <br>
      <table class="table table-bordered width38">
        <thead>
        <tr>
          <th scope="col" class="width15">יפויי כח</th>
            <td scope="col">
              <div class="d-flex">
                <p class="file-label-text">{{fileUpload(uploadedFilePoa)}}</p>
<!--                <mat-progress-bar *ngIf="process_file === 100" class="mt-5" mode="determinate" [value]="process_file"></mat-progress-bar>-->
                <div class="ml-3 mr-auto" >
                  <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline" *ngIf="!uploadedFilePoa">
                    <label class="width135" >
                      <input type="file" accept=".docx,.doc,.pdf " (change)="uploadedFilePoa === undefined ?
                      uploadedFilePoa = $event.target.files[0] : uploadedFilePoa['id']  ? documentId = uploadedFilePoa['id']  : 0;
                      uploadedFilePoa = $event.target.files[0]; uploadedFilePoa['id']  = documentId;">
                      <img src="app/../assets/img/icons/upload.svg" class="ml-2">
                      העלת קובץ
                    </label>
                  </button>
                  <div *ngIf="uploadedFilePoa">
                    <i class="fa fa-eye fa-lg mr-3 ml-3" (click)="showFile(uploadedFilePoa)" ></i>
                    <i class="fa fa-trash fa-lg" (click)="uploadedFilePoa = deleteFile(uploadedFilePoa)" title="מחיקה"></i>
                  </div>
                </div>
              </div>
            </td>
        </tr>
        </thead>
      </table>
      <table class="table table-bordered width38">
        <thead>
        <tr>
          <th scope="col"  class="width15">מורשה חתימה</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{fileUpload(uploadedFileProtocol)}}</p>
              <!--                <mat-progress-bar *ngIf="process_file === 100" class="mt-5" mode="determinate" [value]="process_file"></mat-progress-bar>-->
              <div class="ml-3 mr-auto" >
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline" *ngIf="!uploadedFileProtocol">
                  <label class="width135" >
                    <input type="file" accept=".docx,.doc,.pdf " (change)="uploadedFileProtocol === undefined ?
                      uploadedFileProtocol = $event.target.files[0] : uploadedFileProtocol['id']  ? documentId = uploadedFileProtocol['id']  : 0;
                      uploadedFileProtocol = $event.target.files[0]; uploadedFileProtocol['id'] = documentId;">
                    <img src="app/../assets/img/icons/upload.svg" class="ml-2">
                    העלת קובץ
                  </label>
                </button>
                <div *ngIf="uploadedFileProtocol">
                  <i class="fa fa-eye fa-lg mr-3 ml-3" (click)="showFile(uploadedFileProtocol)" ></i>
                  <i class="fa fa-trash fa-lg" (click)="uploadedFileProtocol = deleteFile(uploadedFileProtocol)" title="מחיקה"></i>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <table class="table table-bordered width38">
        <thead>
        <tr>
          <th scope="col"  class="width15">פרטי הלקוח</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{fileUpload(uploadedFileCustomer)}}</p>
              <!--                <mat-progress-bar *ngIf="process_file === 100" class="mt-5" mode="determinate" [value]="process_file"></mat-progress-bar>-->
              <div class="ml-3 mr-auto" >
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline" *ngIf="!uploadedFileCustomer">
                  <label class="width135" >
                    <input type="file" accept=".docx,.doc,.pdf " (change)="uploadedFileCustomer === undefined ?
                      uploadedFileCustomer = $event.target.files[0] : uploadedFileCustomer['id']  ? documentId = uploadedFileCustomer['id']  : 0;
                      uploadedFileCustomer = $event.target.files[0]; uploadedFileCustomer['id']  = documentId;">
                    <img src="app/../assets/img/icons/upload.svg" class="ml-2">
                    העלת קובץ
                  </label>
                </button>
                <div *ngIf="uploadedFileCustomer">
                  <i class="fa fa-eye fa-lg mr-3 ml-3" (click)="showFile(uploadedFileCustomer)" ></i>
                  <i class="fa fa-trash fa-lg" (click)="uploadedFileCustomer = deleteFile(uploadedFileCustomer)" title="מחיקה"></i>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <p class="text-danger w-50 " *ngIf="uploadedFilePoa && !validationFile(uploadedFilePoa) || uploadedFileProtocol && !validationFile(uploadedFileProtocol) ||
       uploadedFileCustomer && !validationFile(uploadedFileCustomer)"> יש להעלות רק קבצי docx או pdf </p>
      <p class="alert alert-danger width38" *ngIf="((!uploadedFilePoa) || (!uploadedFileProtocol) || (!uploadedFileCustomer))&& clickedContinue">יש להכניס את המסמכים הדרושים.</p>
      <mat-checkbox name="direct_debit_commission"  >שולם תשלום שוטף בגין טיפול</mat-checkbox>
      <br>
      <mat-checkbox name="direct_debit_commission"  >תשלום ח"פ עבור ההקמה</mat-checkbox>
    </div>
    <div [@fade]="pageNumber === 4 ? 'active' : 'inactive'" formGroupName="detailsBank">
      <p class="f-16 bold mt-5">חשבון בנק משלם</p>
      <div class="d-flex" formGroupName="payingBank">
        <div class="bd-width181">
          <bd-select  [items]="banks" formControlName="bankId" required
                      [(ngModel)]="selectedBankD"  placeholder="בחר בנק"
                       (onSelect)="getBranches(1)" [error]="!selectedBankD && form.submitted"></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="branchesD" formControlName="branchId"
                     [(ngModel)]="selectedBranchD"  placeholder="בחר סניף"
                     [error]="!selectedBranchD && form.submitted"></bd-select>
        </div>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
          <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
        </mat-form-field>
        <i class="fa fa-copy fa-2x pointer blue-color mr-3 mt-3" title="העתק פרטי חשבון" (click)="copyBankRow()" *ngIf="validCopy()"></i>
      </div>
      <p class="bold mt-5">חשבון להחזר כספים</p>
      <div class="d-flex" formGroupName="receivingBank">
      <div class="bd-width181">
          <bd-select [items]="banks" formControlName="bankId" required
                     [(ngModel)]="selectedBankW" placeholder="בחר בנק"
                     (onSelect)="getBranches(2)"  [error]="!selectedBankW && form.submitted"></bd-select>
        </div>
        <div class="bd-width181 mr-5">
          <bd-select [items]="branchesW" formControlName="branchId" required
                     [(ngModel)]="selectedBranchW" placeholder="בחר סניף"
                     [error]="!selectedBranchW && form.submitted"></bd-select>
        </div>
        <mat-form-field class="mr-5">
          <input matInput placeholder="מספר חשבון" formControlName="accountNumber" required maxlength="9">
          <mat-error>יש להקיש מעל 5 ספרות.</mat-error>
        </mat-form-field>
      </div>
      <div class="mt-3 pb-3">
    </div>
    </div>
    <div [@fade]="pageNumber === 5 ? 'active' : 'inactive'">
      <br>
      <div class="d-flex" formGroupName="xmlFile">
        <mat-form-field class="w-20">
          <mat-select [(ngModel)]="month" placeholder="בחר חודש" formControlName="month">
            <mat-option *ngFor="let month of months" [value]="month.id">{{ month.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-20 mr-4">
          <mat-select  placeholder="בחר שנה" [(ngModel)]="selectYear" formControlName="year" >
            <mat-option *ngFor="let year of years" [value]="year" >{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <table class="table table-bordered width38">
        <thead>
        <tr>
          <th scope="col"  class="width15" >קובץ Xml</th>
          <td scope="col">
            <div class="d-flex">
              <p class="file-label-text">{{  uploadedFileXml ? (uploadedFileXml.name | slice:0:25) :
                  employeeFileName ? employeeFileName :'אין קובץ' }}</p>
              <div class="ml-3 mr-auto ">
                <button class="btn btn-outline-primary btn-sm ml-md-n2 ellipse blue-btn-outline">
                  <label class="width135" >
                    <input type="file" accept=".xml, .dat, .xlsx, .xls" (change)="uploadedFileXml = $event.target.files[0]; setFile(uploadedFileXml)"  >
                    <img src="app/../assets/img/icons/upload.svg" class="ml-2">
                    העלת קובץ
                  </label>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
      <p class="text-danger w-50 " *ngIf="fileTypeError"> יש להעלות רק קבצי xml, xlsx או dat </p>
      <p class="alert alert-danger width38" *ngIf="(!uploadedFileXml)  && clickedContinue">יש להכניס קובץ Xml.</p>
    </div>
    <br>
    <br>
    <div class="row col-5">
      <button class="btn btn-secondary btn-sm ml-3 ellipse" (click)="backAndCancel()"> {{pageNumber === 1 ? 'ביטול' : 'חזור'}}</button>
      <div class="ml-4-5 d-flex mr-auto">
        <button class="btn btn-primary btn-sm ml-md-n2 ellipse btn blue-btn" type="submit"  [disabled]="pageNumber === 5 && uploadedFileXml && fileTypeError" (click)="pageNumber === 5 ? submit(): continueProcess()" >
          {{ pageNumber === 5 ? 'סיום' : 'המשך'}}</button>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>

