<div class="container mt-lg-8 w-100">
  <div *ngIf="process_details && process_details.status !== 'loading'" class="divDetails  my-5 pb-4 mr-5 ml-5 ">
    <div class="d-flex f-12 mt-2">
      <div class="mr-3 w-30 f-14" >
        <span>פרטי התהליך</span>
      </div>
      <div class="w-15">
        <span>שם המעסיק:</span>
        <span class="bold mr-1">{{ process_details.employer_name }}</span>
      </div>
      <div class="w-10">
        <span>שם מחלקה:</span>
        <span class="bold mr-1">{{ process_details.department_name }}</span>
      </div>
      <div class="w-10">
        <span>ח.פ:</span>
        <span class="bold mr-1">{{ process_details.employer_identifier }}</span>
      </div>
      <div class="w-10">
        <span>מספר התהליך:</span>
        <span class="bold mr-1">{{ process_details.id }}</span>
      </div>
      <div class="w-10">
        <span>שם התהליך:</span>
        <span class="bold mr-1">{{ process_details.name }}</span>
      </div>
      <div class="w-8">
        <span>חודש שכר:</span>
        <span class="bold mr-1">{{ process_details.date | slice:5:7}}</span>
      </div>
      <div class="w-8">
        <span>מספר קבצים:</span>
        <span class="bold mr-1">{{ process_details.groups_count }}</span>
      </div>
    </div>
    <div class="d-flex mt-3 f-12">
      <div class="mr-3 w-30 f-14">
        <span>פרטי התשלומים</span>
      </div>
      <div class="w-10">
        <span>סכום לתשלום:</span>
        <span class="bold mr-1 blue-color">{{ process_details.total | number: '1.2-2'}}</span>
      </div>
      <div class="mr-5 w-15 pointer" (click)="openArchiveDocument()">
        <i class="fa fa-folder-open-o ml-1 blue-color" aria-hidden="true"></i>
        <span>ארכיון מסמכים ואסמכתאות ></span>
      </div>
      <div class="w-15 pointer" (click)="showFiles()">
        <span>לצפייה בפירוט תשלומים ></span>
      </div>
      <div class="w-10">
        <span>מספר רשומות:</span>
        <span class="bold mr-1 blue-color">{{ process_details.mtbs_count }}</span>
      </div>
      <div class="w-15 pointer" (click)="showRows()">
        <span>לצפייה בפירוט רשומות ></span>
      </div>
    </div>
  </div>
  <div class="d-flex  my-5 border-bottom pb-4 mr-5 ml-5 divTitle">
    <div class="mr-1 end pointer row" (click)="setPage(1)" >
      <!--<i class="fa fa-check col-12-me" *ngIf="this.processDataService.activeProcess.status_process >= 1"></i>-->
      <div [ngClass]="{ 'div-btn' : setHeaderColor() ==  1}">
        <span class="flex-grow-1 rounded-circle">1</span>
        <span class="flex-grow-1 mr-2">טעינת קובץ</span>
      </div>
      <div class="display-initial mr-3">
        <span class="flex-grow-1 span-v">..........</span>
      </div>
    </div>
    <div class="mr-5 pointer row" [ngClass]="{ 'end': this.processDataService.activeProcess.status_process >=  2 || setHeaderColor()  >= 2}" (click)="setPage(2)">
      <!--<i class="fa fa-check col-12-me"  *ngIf="this.processDataService.activeProcess.status_process >=  2"></i>-->
      <div [ngClass]="{ 'div-btn' : setHeaderColor() ==  2}" >
        <span class="flex-grow-1 rounded-circle">2</span>
        <span class="flex-grow-1 mr-2">שליחת הנחיות לתשלום</span>
      </div>
      <div class="mr-4">
        <span class="span-v">..........</span>
      </div>
    </div>
    <div class="mr-5 pointer row" [ngClass]="{ 'end': this.processDataService.activeProcess.status_process >=  3 || setHeaderColor()  >= 3}" (click)="setPage(3)">
      <!--<i class="fa fa-check col-12-me"  *ngIf="this.processDataService.activeProcess.status_process >= 3"></i>-->
      <div  [ngClass]="{ 'div-btn' : setHeaderColor() ==  3}">
        <span class="flex-grow-1 rounded-circle">3</span>
        <span class="flex-grow-1 mr-2">תשלום ואסמכתאות</span>
      </div>
      <div class="mr-4">
        <span class="span-v">..........</span>
      </div>
    </div>
    <div class="mr-5 pointer row" [ngClass]="{ 'end': this.processDataService.activeProcess.status_process >=  4 || setHeaderColor()  >= 4}" (click)="setPage(4)">
      <!--<i class="fa fa-check col-12-me"  *ngIf="this.processDataService.activeProcess.status_process >= 4"></i>-->
      <div  [ngClass]="{ 'div-btn' : setHeaderColor() ==  4}">
        <span class="flex-grow-1 rounded-circle">4</span>
        <span class="flex-grow-1 mr-2">שידור לקופות</span>
      </div>
      <div class="mr-4">
        <span class="span-v">..........</span>
      </div>
    </div>
    <div class="mr-5 pointer row" [ngClass]="{ 'end': this.processDataService.activeProcess.status_process >= 5 || setHeaderColor()  >= 5}" (click)="setPage(5)">
      <!--<i class="fa fa-check col-12-me"  *ngIf="this.processDataService.activeProcess.status_process >= 5"></i>-->
      <div  [ngClass]="{ 'div-btn' : setHeaderColor() ==  5}">
        <span class="flex-grow-1 rounded-circle">5</span>
        <span class="flex-grow-1 mr-2">היזונים</span>
      </div>
      <div class="mr-4">
        <span class="span-v">..........</span>
      </div>
    </div>
    <div class="mr-5 pointer row" [ngClass]="{ 'end': this.processDataService.activeProcess.status_process === 6 || setHeaderColor()  >= 6}" (click)="setPage(6)">
      <!--<i class="fa fa-check col-12-me"  *ngIf="this.processDataService.activeProcess.status_process >= 6"></i>-->
      <div  [ngClass]="{ 'div-btn' : setHeaderColor() ==  6}">
        <span class="flex-grow-1 rounded-circle">6</span>
        <span class="flex-grow-1 mr-2">שליחת היזון למעסיק</span>
      </div>
    </div>
  </div>
  <div class="my-5 pb-4 mr-5 ml-5">
    <router-outlet></router-outlet>
  </div>
</div>
