.rounded-circle {
  border-radius: 50% !important;
  border: black;
  border: 2px solid;
  text-align: center;
  font: 15px Arial, sans-serif;
  padding: 5px 10px 4px 8.67px;
}


.div-btn {
  border: aliceblue;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding-right: 5px;
  padding-left: 7px;
}

.container {
  max-width: 1620px !important;
}

.span-v {
  line-height:34px;
  float: left;
}

.display-initial {
  display: initial ;
}


.divTitle {
  font-family: Rubik;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: right;
  color: #848484;
}


.active  {
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.end  {
  color: #00adee;
}



-----

.btn_payment {
  width: 312px;
  border-radius: 7px;
  box-shadow: 0 2px 0 0 #dee2e6;
  border: solid 1px #dee2e6;
  background-color: #ffffff;
  padding: 0.2rem 0.75rem !important;
}

.text-btn {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;

}

.fa-circle-me {
  display: inline-block;
  border-radius: 60px;
  padding-right: 12px;
  padding-top: 7px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  font-weight: bolder;
  width: 30px;
  height: 30px;
}

header {
  box-shadow: 0 2px 0 0 #dee2e6;
  border: solid 1px #dee2e6;
  border-radius: 9px;
}

.navbar {
  padding: 15px 0 0 0;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
  width: 180px;
  margin-bottom: -19px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.active-i{
  height: 31px;
  text-align: center;
  border-bottom: 2px solid transparent;
  border-color: #00adee;
}


.menu-link {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.active .menu-link {
  color: #00adee;
}


.divDetails {
  border-radius: 9px;
  box-shadow: 0 2px 0 0 #dee2e6;
  border: solid 1px #dee2e6;
  height: 80px;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}



.w-8 {
  width: 8% !important;
}




