<div class="dialog-header">
  <button mat-dialog-close>
    <i class="fa fa-close"></i>
  </button>
  <span>פרוט שגיאה</span>
</div>
<table id="errorMessageTable" class="mt-5">
    <td  class="mr-3 ml-3 bold">{{ compensation.feedback_level === 'record' ? compensation.code_error :
      compensation.code_error_file    + ':'
      }}</td>
    <td  class="mr-3 ml-3">{{ compensation.feedback_level === 'record' ?
      compensation.error_details : compensation.error_details_file }}</td>
</table>

<table  *ngIf="compensation.feedback_level === 'record' && answer != []">
  <tr *ngFor="let item of answer">
  <td  class="mr-3 ml-3 bold">{{ item }}</td>
  </tr>
</table>
