@import "~ng-pick-datetime/assets/style/picker.min.css";
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@font-face {
  src: url('assets/fonts/OpenSansHebrew.ttf');
  font-family: OpenSans;
}


html, body {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
}

* {
  font-family: OpenSans;
}

a:focus {
  text-decoration: none;
}

th, td {
  text-align: right !important;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

.mr-6{
  margin-right: 4rem !important;
}


input[type=file] {
  display: none;
}
.mr-34{
  margin-right: 33.5rem !important;
}
.mr-7{
  margin-right: 7rem !important;
}

.mr-15{
  margin-right: 15rem !important;
}

.mr-11{
  margin-right: 11.6rem !important;
}


.w-70 {
  width: 70% !important;
}



.mr-n7,
.mx-n7 {
  margin-right: -6rem !important;
}

.mr-35{
  margin-right: 35rem !important;
}

.m-t-50p{
  margin-top: 50px;
}

textarea {
  height: 150px;
}

label {
  margin: 0;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*--- Custom ---*/
.font-rubik{
  font-family: 'Rubik', sans-serif !important;
}

.font-arial{
  font-family: 'Arial', sans-serif !important;
}

font-Heebo{
  font-family: Heebo !important;
}


.relative {
  position: relative;
}

.btn, .pointer {
  cursor: pointer;
}

.fa {
  font-family: FontAwesome;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.ltr {
  direction: ltr;
}

.w-100p {
  width: 100px;
}

.w-1212p {
  width: 1212px;
}

.ml-4h{
  margin-left: 2rem !important;
}

.w-250p {
  width: 250px;
}

.w-640p {
  width: 635px;
}

.w-50p {
  width: 50px;
}

.title {
  font-size: 34px;
  color: #00adee;
  text-align: center;
}

.green-color {
  color: #56af57;
}

.white-color {
  color: #FFFFFF;
}

.green1-color {
  color: #21CE85;
}

.yellow1-color {
  color: #f0bd55;
}


.orange-color {
  color: #ff6635;
}

.mr-7{
  margin-right: 7rem !important;
}

.mr-03{
  margin-top: 0.3rem !important;
}

.green-background-color {
  background-color: #21CE85;
}

.white-background-color {
  background-color: #FFFFFF;
}

.blue-color {
  color: #00adee;
}

.white-color {
  color: #FFFFFF;
}

.black-color {
  color: black;
}

.white-color-background-black {
  color: #fff;
  background-color: black;

}

.yellow-color {
  color: #ebc372;
}

.red-color {
  color: #f00;
}

.grey-background-color {
  background-color: #b3b3b3;
}

.grey-border-color {
  border: #b3b3b3;
}

.grey-color {
  color: #b3b3b3;
}


.light-grey-color {
  color: #c4c4c4;
}

.blue-btn {
  background-color: #00adee;
  color: #fff;
}

.grey-btn {
  background-color: #adadaf;
  color: #fff;
}

.ellipse{
  border: 2px solid ;
  border-radius: 18px;
}

.btn {
  min-width: 150px;
}

.btn-lg {
  min-width: 300px;
}

.page-spinner-wrapper {
  background: rgba(150,150,150,0.5);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999999999999;
}

.sub-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.sub-title-container > .sub-title {
  margin: 0;
  padding: 0 8px;
}

.sub-title-container > .horizontal-line {
  height: 3px;
  flex-grow: 1;
  background-color: #e5e3e5;
}

.file-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 8px 4px;
  border: 1px solid #b3b3b3;
  font-size: 14px;
  cursor: pointer;
}

.file-label-text {
  margin-right: 8px;
  direction: ltr;
}

.table-action-button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-actions {
  padding-top: 12px;
  border-top: 1px solid #C2C2C2;
}

.word-break {
  word-break: break-all;
}

.page-item.active .page-link {
  color: #fff !important;
}

.clear-selection {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 8px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.bd-select-container {
  height: 44px;
}

.link {
  color: #0275d8;
}

.logo {
  height: auto;
  width: 150px;
}

.icon-lg {
  height: auto;
  width: 75px;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-60 {
  font-size: 60px !important;
}

.box-shadow {
  box-shadow: 0 3px 11px 4px #999;
}

/*--- Bootstrap RTL ---*/

.input-group .form-control:not(:last-child) {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.form-control + .input-group-addon:not(:first-child) {
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.dropdown-item {
  text-align: right;
}


.grey-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #b3b3b3;
  border-radius: 50%;
  color: #fff;
}

.blue-circle{
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: #00adee;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}

.img-design {
  width: 26px;
  height: 26px;
}

/*--- Material ---*/

.mat-tooltip  {
  white-space: pre-line !important;
}

.dialog-header {
  display: flex;
  align-items: center;
}

.dialog-header > * {
  flex-grow: 1;
  font-weight: bold;
}

.dialog-table th {
  font-size: 14px;
  color: #666;
  border: none;
}

.mat-dialog-title {
  border-bottom: 1px solid #ccc;
}

button[mat-dialog-close] {
  background: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  text-align: right;
}

.mat-dialog-actions {
  border-top: 1px solid #ccc;
}

.mat-form-field-type-mat-select .mat-form-field-label {
  width: 100% !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  width: 133% !important;
}

.mat-form-field-prefix {
  margin-left: 8px;
}

.mat-slide-toggle-content, .mat-checkbox-layout .mat-checkbox-label {
  margin-right: 8px;
  font-size: 16px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #00adee !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #00adee !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00adee !important;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: initial !important;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .container-wide {
    width: 75%;
    margin: 0 auto;
  }
}
.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-70 {
  width: 70% !important;
}
.mt-8 {
  margin-top: 8rem !important;
}

.circle-size {
  width: 4em;
  height: 4em;
}

.mt-6 {
  margin-top: 6rem !important;
}


@media (max-width: 992px) {
  .container {
    width: 880px;
    max-width: 100%;
  }
}

/*.extend {*/
  /*position: absolute;*/
  /*width: 80% !important;*/
  /*right: 11%;*/
/*}*/

.mr-6{
  margin-right: 4rem !important;
}
