
.logo-header{
  top: 13px;
  left: 23px;
  width: 63px;
  height: 23px;
  font: normal normal bold 16px/20px Omnes;
  letter-spacing: 0px;
  color: #2E1081;
  opacity: 1;

}
input{
  width: 253px;
  height: 41px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  opacity: 1;
  text-align: right;
}

.btn-black{
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  text-align: center;
  font: normal normal normal 14px/19px Rubik;
  letter-spacing: 0px;
  color: #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  width: 227px;
  height: 41px;
}
.simple-title{
  font: normal normal bold 22px/27px Rubik;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.btn-style{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  height: 41px;
}
.black-button{
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}
.purple-button
{
  background: #9626CC 0% 0% no-repeat padding-box;
}
.black-button{
  background: #000000 0% 0% no-repeat padding-box;
}
