
<header class="p-4">
  <img src="/assets/img/logo.svg" class="logo">
</header>
<div id="content">
  <router-outlet></router-outlet>
</div>

<div class="row no-gutters footer align-items-center">
  <div class="col-12 col-sm-8 col-md-7 offset-sm-2 offset-md-3 pt-3" id="footerMenu">
    <ul  class="row">
      <li class="d-flex col-12 col-md-auto">
        <span>כל הזכויות שמורות ל-</span>
        <span class="mx-1">Smarti</span>
      </li>
      <!--<li class="col-12 col-md-auto my-2 my-md-0">תקנון</li>-->
      <!--<li class="col-12 col-md-auto">תנאי שימוש</li>-->
      <li class="col-12 col-md-auto">V 1.0.000</li>
      <li class="col-12 col-md-auto">תמיכה טכנית: 03-5430558</li>
    </ul>
  </div>
</div>

