<div class="mr-5 px-4">
  <!--<app-data-table tableName="משתמשים" [columns]="columns" (fetchItems)="fetchItems()">-->
  <app-data-table tableName="טפסים והודעות" [columns]="columns" (fetchItems)="fetchItems()">
    <div class="table-header">
      <div class="row mt-4 mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button class="btn blue-btn" (click)="openMessageDialog()">צור הודעה</button>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer">
      <td>{{ item.name }}</td>
      <td>{{ item.created_at | date: 'dd/MM/yy'}}</td>
      <td>{{ item.id }}</td>
      <td>
        <img title="עריכת משתמש" src="/assets/img/icons/edit_grey.png" (click)="openMessageDialog(item)" class="row-image">
        <img title="מחיקה" src="/assets/img/icons/delete.svg" (click)="removeMessage(item.id)" class="row-image"/>
        <!--<img title="שליחה" src="/assets/img/icons/edit_grey.png" (click)="sendMessage(item)" class="row-image"/>-->

      </td>
    </tr>
  </app-data-table>
</div>
