<div class="mr-5 px-4">
  <app-data-table tableName="טבלת מעסיקים" (fetchItems)="fetchItems()" [columns]="columns"  [hasExtendedSearch]="false" [hasCheckColumn]="false">
    <div class="table-header">
      <div class="row mt-4 mr-1">
        <div class="ml-3 d-flex mr-auto">
          <button class="btn blue-btn" [routerLink]="['./', 'new']"
                  *ngIf="userSession.getPermissionsType('operations')">הקמת מעסיק</button>
        </div>
      </div>
    </div>
    <tr *ngFor="let item of dataTable.items" class="pointer">
      <td>{{ item.organization_name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.business_number }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.address }}</td>
      <td>{{ employerStatus[item.status] }}</td>
      <td>
      <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
      </td>
    </tr>
  </app-data-table>
</div>
