<div class="mr-5 px-4">
  <p class="h4 mb-4">טבלת מעסיקים</p>
  <div class="bold pointer py-5">
  <i class="fa fa-plus"  [routerLink]="['./', 'new']" ></i>
    הקמת מעסיק
  </div>
  <!--<div [@slideToggle]="extraSearchCriteria" class="d-flex align-items-center mb-3 w-75 filter-row">-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['employer']" (change)="search()" placeholder="מעסיק">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['organization']" (change)="search()" placeholder="ארגון">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['companyCode']" (change)="search()" placeholder="ח.פ">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['phone']" (change)="search()" placeholder="טלפון">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['mobile']" (change)="search()" placeholder="טלפון נייד">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['status']" (change)="search()" placeholder="סטטוס">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-form-field class="mr-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput [(ngModel)]="searchCriteria['email']" (change)="search()" placeholder="כתובת מייל">&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="d-flex justify-content-between">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="p-2" (click)="toggleExtraSearch()">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="bold blue-color pointer">{{ extraSearchCriteria === 'active' ? 'הצג פחות >' : 'חיפוש מורחב >' }}</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
  <table class="table table-hover mt-3 data-table">
    <thead>
    <tr class="table-headers">
      <th *ngFor="let header of headers" (click)="sort(header)">
        <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
        <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
      </th>
      <th>פעולות</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="!isSearching">
      <tr *ngFor="let item of paginatedItems" class="pointer">
        <td>{{ item.organization_name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.business_number }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.address }}</td>
        <td>{{ employerStatus[item.status] }}</td>
        <td>
          <img src="/assets/img/icons/edit_grey.png" [routerLink]="['./', 'form', item.id]" class="row-image">
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="!isSearching && items.length === 0">
      <td colspan="10" class="text-center bold">טבלת מעסיקים ריקה.</td>
    </tr>
    </tbody>
  </table>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
</div>
