<p class="h4 mb-4">מעקב יתרות לפיצוים</p>
<div class="d-flex filter-row mb-1">
  <bd-select [items]="departments" placeholder="מחלקה" (onSelect)="loadEmployees($event)"></bd-select>
</div>
<div class="d-flex filter-row mb-1">
  <bd-select [items]="employees" placeholder="עובד" [(ngModel)]="searchCriteria['employee']" (onSelect)="search()"></bd-select>
  <bd-select [items]="companies" placeholder="חברה מנהלת" class="mx-3" [(ngModel)]="searchCriteria['company']" (onSelect)="search()"></bd-select>
  <button class="btn blue-btn h-75" *ngIf="isSearchActive()" (click)="resetSearch()">אפס חיפוש</button>
</div>
<div [@slideToggle]="extraSearchCriteria" class="d-flex align-items-center flex-wrap mb-3 filter-row">
  <bd-select [items]="selectStatuses" placeholder="סטטוס" [(ngModel)]="searchCriteria['status']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="sourceTypes" placeholder="מקור המידע" [(ngModel)]="searchCriteria['source_type']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="users" placeholder="יוצר בקשה" [(ngModel)]="searchCriteria['user_id']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="validity" placeholder="תקינות" [(ngModel)]="searchCriteria['validity']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="responseTimes" placeholder="ימי טיפול" [(ngModel)]="searchCriteria['response_time']" (onSelect)="search()"></bd-select>
  <mat-form-field>
    <input matInput class="pointer" (click)="datePickerRequest.open()" [matDatepicker]="datePickerRequest" placeholder=" תאריך יצירת בקשה" name="dateRequest"  [(ngModel)]="searchCriteria['date_request']" (dateChange)="valueDateChange($event.value)" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerRequest"></mat-datepicker-toggle>
    <mat-datepicker #datePickerRequest></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
  <!--<mat-form-field class="col-2">-->
    <!--<input matInput class="pointer" (click)="datePickerRequest2.open()" [matDatepicker]="datePickerRequest2" placeholder=" תאריך יצירת בקשה" name="dateRequest2"  [(ngModel)]="searchCriteria['date_request2']" (dateChange)="valueDateChange2($event.value)" readonly>-->
    <!--<mat-datepicker-toggle matSuffix [for]="datePickerRequest2"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #datePickerRequest2></mat-datepicker>-->
    <!--<mat-error>שדה חובה.</mat-error>-->
  <!--</mat-form-field>-->
</div>
<div class="d-flex justify-content-between">
  <div class="p-2" (click)="toggleExtraSearch()">
    <span class="bold blue-color pointer">{{ extraSearchCriteria === 'active' ? 'הצג פחות >' : 'חיפוש מורחב >' }}</span>
  </div>
</div>
<div class="row mt-4 mr-1">
  <button class="btn blue-btn" (click)="openFormDialog()">בקשה חדשה</button>
  <button class="btn blue-btn mr-2" (click)="openExcelDialog()">העלאת קובץ בקשות</button>
  <button class="btn blue-btn mr-2" (click)="manualChangingStatus()">שינוי סטטוס</button>
  <button class="btn blue-btn mr-2" (click)="openExcelEmployeesDialog()">העלאת קובץ עובדים</button>
  <div class="ml-3 d-flex mr-auto">
  <button class="btn blue-btn " (click)="sendCompensations()">שדר בקשה</button>
  </div>
</div>
<table class="table table-bordered table-hover mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!isSearching">
    <tr *ngFor="let item of paginatedItems" class="pointer" [ngClass]="{ 'checked': item.isChecked }">
      <td>
        <mat-checkbox (change)="checkItem(item, $event.checked)" [checked]="isCheckAll"></mat-checkbox>
      </td>
      <td>{{ item.created_at | date: 'dd/MM/yy' }}</td>
      <td>{{ item.updated_at | date: 'dd/MM/yy' }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.employer_name }}</td>
      <td>{{ item.department_name }}</td>
      <td>{{ item.employee_name }}</td>
      <td>{{ item.personal_id }}</td>
      <td>{{ item.company_name }}</td>
      <td>{{ productTypes[item.product_type] }}</td>
      <td>{{ item.validity_date | date: 'dd/MM/yy' }}</td>
      <td>{{ sendingMethods[item.sending_method] }}</td>
      <td>
        <p class="mb-0">{{ statuses[item.status] }}</p>
        <img src="/assets/img/icons/details_grey.png" (click)="openErrorMessageDialog(item)" class="mt-1" *ngIf="item.status === 'error_feedback_a' || item.status === 'error_feedback_b'">
      </td>
      <td>
        <img src="/assets/img/icons/forward_green.png" (click)="openSendToDialog(item)">
      </td>
      <td>
        <span class="grey-circle" (click)="openInquiriesDialog(item)">{{ item.inquiry_count }}</span>
      </td>
      <td>
        <img src="/assets/img/icons/chat_bubble_grey.png" (click)="openCommentsDialog(item)">
      </td>
      <td>
        <span *ngIf="item.status !== 'closed'">טרם</span>
        <i class="fa fa-download fa-lg ml-2" (click)="downloadPdfFile(item.id)" *ngIf="item.status === 'closed'"></i>
        <i class="fa fa-eye fa-lg" (click)="showPdfFile(item.id)" *ngIf="item.status === 'closed'"></i>
      </td>
      <td>
        <img src="/assets/img/icons/details_grey.png" (click)="openDetailsDialog(item)">
      </td>
      <td>
        <img [src]="getValidityImage(item)" class="row-image" >
      </td>

    </tr>
  </ng-container>
  <tr *ngIf="!isSearching && items.length === 0">
    <td colspan="19" class="text-center bold">טבלת הבקשות ריקה.</td>
  </tr>
  </tbody>
</table>
<app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>

