<p class="h4 mb-4">מעקב יתרות לפיצוים</p>
<div class="w-25">
  <bd-select [items]="departments" placeholder="מחלקה" (onSelect)="loadEmployees($event)"></bd-select>
</div>
<div class="d-flex my-3">
  <bd-select class="w-25" [items]="employees" placeholder="עובד" [(ngModel)]="searchCriteria['employee']" (onSelect)="search()"></bd-select>
  <bd-select [items]="companies" placeholder="חברה מנהלת" class="mx-3 w-25" [(ngModel)]="searchCriteria['company']" (onSelect)="search()"></bd-select>
  <button class="btn blue-btn" *ngIf="isSearchActive()  (click)="resetSearch()>אפס חיפוש</button>
  <!--*ngIf="isSearchActive()"-->
</div>
<div [@slideToggle]="extraSearchCriteria" class="d-flex mb-3">
  <bd-select [items]="selectStatuses" placeholder="סטטוס" [(ngModel)]="searchCriteria['status']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="sourceTypes" placeholder="מקור המידע" [(ngModel)]="searchCriteria['source_type']" (onSelect)="search()" class="ml-3"></bd-select>
  <bd-select [items]="users" placeholder="יוצר בקשה" [(ngModel)]="searchCriteria['user_id']" (onSelect)="search()" class="ml-3"></bd-select>


  <bd-select [items]="responseTimes" placeholder="ימי טיפול" [(ngModel)]="searchCriteria['response_time']" (onSelect)="search()"></bd-select>

  <mat-form-field class="col-2">
    <input matInput class="pointer" (click)="datePickerRequest.open()" [matDatepicker]="datePickerRequest" placeholder=" תאריך יצירת בקשה" name="dateRequest"  [(ngModel)]="searchCriteria['date_request']" (dateChange)="valueDateChange($event.value)" readonly>
    <mat-datepicker-toggle matSuffix [for]="datePickerRequest"></mat-datepicker-toggle>
    <mat-datepicker #datePickerRequest></mat-datepicker>
    <mat-error>שדה חובה.</mat-error>
  </mat-form-field>
</div>
<div (click)="toggleExtraSearch()">
  <span class="bold blue-color pointer">{{ extraSearchCriteria === 'active' ? 'הצג פחות >' : 'חיפוש מורחב >' }}</span>
</div>
<div class="row mt-4 mr-1">
  <button class="btn blue-btn" (click)="openFormDialog()">בקשה חדשה</button>
  <button class="btn blue-btn mr-2" (click)="openExcelDialog()">העלאת אקסל</button>
  <button class="btn blue-btn mr-2" (click)="manualChangingStatus()">שינוי סטטוס</button>

  <div class="ml-3 d-flex mr-auto" >
  <button class="btn blue-btn " (click)="sendCompensations()">שדר בקשה</button>
  </div>
</div>
<table class="table table-bordered table-hover mt-3 data-table">
  <thead>
  <tr class="table-headers">
    <th *ngIf="items.length > 0">
      <mat-checkbox (change)="checkAll($event.checked)" [ngModel]="isCheckAll"></mat-checkbox>
    </th>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <span class="pointer" [matTooltip]="'מיין לפי ' + header.label">{{ header.label }}</span>
      <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!isSearching">
    <tr *ngFor="let item of paginatedItems" class="pointer">
      <td class="check-column">
        <mat-checkbox (change)="checkItem(item, $event.checked)" [checked]="isCheckAll"></mat-checkbox>
      </td>
      <td>{{ item.created_at | date: 'dd/MM/yy' }}</td>
      <td>{{ item.updated_at | date: 'dd/MM/yy' }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.employer_name }}</td>
      <td>{{ item.department_name }}</td>
      <td>{{ item.employee_name }}</td>
      <td>{{ item.personal_id }}</td>
      <td>{{ item.company_name }}</td>
      <td>{{ productTypes[item.product_type] }}</td>
      <td>{{ item.validity_date | date: 'dd/MM/yy' }}</td>
      <td>{{ sendingMethods[item.sending_method] }}</td>
      <td>{{ statuses[item.status] }}</td>
      <td>
        <img src="/assets/img/icons/forward_green.png" (click)="openSendToDialog(item)">
      </td>
      <td>
        <span class="grey-circle" (click)="openInquiriesDialog(item)">{{ item.inquiry_count }}</span>
      </td>
      <td>
        <img src="/assets/img/icons/chat_bubble_grey.png" (click)="openCommentsDialog(item)">
      </td>
      <td>
        <span *ngIf="item.status !== 'closed'">טרם</span>
        <img src="/assets/img/icons/download.png" *ngIf="item.status === 'closed' && sendingMethods[item.sending_method]  === 'כספת'" (click)="downloadPdfFile(item.id)">
      </td>
      <td>
        <img src="/assets/img/icons/details_grey.png" (click)="openDetailsDialog(item)">
      </td>
      <td>
        <span *ngIf="item.status === 'Open' || item.status === 'Sent'">טרם</span>
        <img [src]="getValidityImage(item)" class="row-image" *ngIf="item.status === 'V' || item.status === 'E'">
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!isSearching && items.length === 0">
    <td colspan="19" class="text-center bold">טבלת הבקשות ריקה.</td>
  </tr>
  </tbody>
</table>
<app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>

