<app-data-table tableName=" " [columns]="columns"  [hasActionsSearch]="false" (fetchItems)="fetchItems()" [hasCheckColumn]="true"
                [hasActionsHeader]="true">
  <tr *ngFor="let item of dataTable.items; let i=index" [ngClass]="{'highlight': item.error !== null}">
    <td class="check-column" [ngClass]="{'white': i%2 === 0}">
      <mat-checkbox (change)="dataTable.checkItem(item, $event.checked)" [checked]="item.checked"></mat-checkbox>
    </td>
    <td [ngClass]="{'white': i%2 === 0}" [title]="item.error !== null ? error_status[item.error] : ''">
      {{item.employer_financial_details === null ? 'no_name' : item.employer_financial_details.employer_relation.name}}</td>
    <td [ngClass]="{'white': i%2 === 0}"> {{ item.project_name }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.green_invoice_document !== null ? item.green_invoice_document.number : ''}}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.total_amount }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.ids_count }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.for_month  | date: 'MM/yy' }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.created_at  | date: 'dd/MM/yy' }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ item.last_payment_date  | date: 'dd/MM/yy'  }}</td>
    <td [ngClass]="{'white': i%2 === 0}">{{ types[item.type] }}</td>
    <td class="select-status" *ngIf="item.status" [ngClass]="{'white': i%2 === 0}">
      <mat-select [title]="setItemTitle(item)" class="p-2 border-radius-11" [ngClass]="{'gray-background-color': i%2 === 0 , 'white-background-color': i%2 !== 0 }"
                  [disabled]="!permissionsType" name="status" placeholder="" [(ngModel)]="item.status" (selectionChange)="setInvoiceStatus(items[item], item.id, item.status)" required>
        <mat-option *ngFor="let st of status" [value]="st.id">{{ st.name }}</mat-option>
      </mat-select>
    </td>
    <td [ngClass]="{'white': i%2 === 0}">
      <i class="fa fa-eye fa-lg pointer ml-3 mr-3" (click)="ShowRemarks(item)" title="הערות" ></i>
      <i class="fa fa-download fa-lg pointer ml-3" *ngIf="item.description != ''" title="פירוט עובדים בחשבונית"  (click)="submit(item.id, item)"></i>
      <i class="fa fa-exclamation-circle pointer ml-3" (click)="showInvoiceDetails(item)" title="פירוט רשומות" ></i>
    </td>
  </tr>
</app-data-table>
