<div class="emp-form" *ngIf="employer">
  <div class="row">
    <span class="dot" (click)="previous()"><i class="fa fa-angle-right fa-2x"></i></span>
    <p class="h5 bold py-3 pt-4">לקוח<span class="h6 py-3">- {{employer.id_emp }} </span></p>
    <div class="d-flex mr-auto">
      <button class="edit pointer" *ngIf="permissionsType">
        <span *ngIf="editClose">עריכה</span>
        <span *ngIf="!editClose">שמור שינויים</span>
      </button>
    </div>
  </div>
<hr>
  <div class="mt-3 mb-3">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="row mr-5">
        <div class="w-40">
          <p class="gray w-25 display-block float-right">שם מעסיק</p>
          <span *ngIf="editClose">{{employer.name}}</span>
          <mat-form-field *ngIf="!editClose" class="mt-0">
            <input matInput type="text" [(ngModel)]="employer.name"
                   (change)="saveChanges = true" name="name">
          </mat-form-field>
        </div>
        <div class="w-40">
          <p class="gray w-25 display-block float-right">פלאפון</p>
          <span *ngIf="editClose">{{employer.phone}}</span>
          <mat-form-field *ngIf="!editClose" class="mt-0">
            <input matInput type="text"  [(ngModel)]="employer.phone"  maxlength="9"
                   (change)="saveChanges = true" name="phone">
            <mat-error>יש להקיש 9 ספרות.</mat-error>
          </mat-form-field>
        </div>
    </div>
      <div class="row mr-5">
        <div class="w-40">
          <p class="gray w-25 display-block float-right">ח.פ.</p>
          <span *ngIf="editClose">{{employer.identifier}}</span>
          <mat-form-field *ngIf="!editClose">
            <input matInput type="text"  [(ngModel)]="employer.identifier" maxlength="9"
                   (change)="saveChanges = true" name="identifier">
            <mat-error>יש להקיש 9 ספרות.</mat-error>
          </mat-form-field>
        </div>
        <div class="w-40">
          <p class="gray w-25 display-block float-right">פרויקט</p>
          <span >{{employer['project_name']}}</span>
        </div>
      </div>
    </form>
  </div>

</div>
  <div class="container-fluid mb-5">
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <ng-container *ngFor="let link of headers">
                <li class="nav-item"  [ngClass]="{ 'active': link.url === selectUnit.getActiveEmployerUrl() }">
                  <a class="menu-link" [routerLink]="[link.url]"  (click)="setActiveUrl(link.url)">
                    <p class="bold">{{ link.label }}</p>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </nav>
    </header>
  </div>
    <div class="container2 mt-5" id="content">
      <router-outlet></router-outlet>
    </div>
