.emp-form{
  box-shadow: 0px 3px 6px #00000029;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.container-fluid {
  padding-right: 0;
  margin: 0 auto;
  margin-top: 3%;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  margin-bottom: -19px;
  text-align: center;
  background: #F6F6F6 0% 0% no-repeat padding-box;
  border-radius: 6px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 18px;
}

.active{
  color: #E82D5C;
  border-bottom: 4px #E82D5C solid;
}

.active p{
  color: #E82D5C;
}

.menu-link {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.gray{
  color: #cecece;
}

.hr-cls {
  opacity: 0.21;
  border: 1px solid #ADADAD;
}

.dot {
  margin-left: 15px;
  height: 60px;
  width: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top:9px;
  padding-left: 5px;
  padding-right: 2px;
  margin-top: 15px;
  box-sizing: border-box;
  cursor: pointer !important;
}

.fa-angle-right:before{
  color: #E82D5C;
  font-weight: bold;
}
