::ng-deep .drop-zone {
  height: initial !important;
  border: 2px dashed #b7b7b7 !important;
  border-radius: 8px !important;
}

::ng-deep .content {
  height: initial !important;
  padding: 20px 0;
}

