.field-width >mat-form-field {
  width: 15%;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}
.mat-button-toggle-checked {
  background-color: #00aeee;
  color: white;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #999ba4d9;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #00aeee;
}
